<template>
    <div>
        <template v-if="days > 0">
            {{ days }} {{ wordString.day }}
        </template>
        <template v-if="hours > 0">
            {{ hours }} {{ wordString.hours }}
        </template>
        <template v-if="minutes > 0">
            {{ minutes }} {{ wordString.minutes }}
        </template>
        <template v-if="seconds > 0">
            {{ seconds }} {{ wordString.seconds }}
        </template>
        <!--<div class="day">
            <span class="number">{{ days }}</span>
            <div class="format">{{ wordString.day }}</div>
        </div>-->
        <!--<div class="hour">
            <span class="number">{{ hours }}</span>
            <div class="format">{{ wordString.hours }}</div>
        </div>-->
        <!--<div class="min">
            <span class="number">{{ minutes }}</span>
            <div class="format">{{ wordString.minutes }}</div>
        </div>
        <div class="sec">
            <span class="number">{{ seconds }}</span>
            <div class="format">{{ wordString.seconds }}</div>
        </div>-->
        <div class="message">{{ message }}</div>
<!--        <div class="status-tag" :class="statusType">{{ statusText }}</div>-->
    </div>
</template>

<script>
    export default {
        props: ['starttime','endtime','trans', 'status'] ,
        data: function(){
            return{
                timer:"",
                wordString: {},
                start: "",
                end: "",
                interval: "",
                days:"",
                minutes:"",
                hours:"",
                seconds:"",
                message:"",
                statusType:"",
                statusText: "",

            };
        },
        created: function () {
            this.wordString = JSON.parse(this.trans);
        },
        mounted(){
            this.start = new Date(this.starttime).getTime();
            this.end = new Date(this.endtime).getTime();
            // Update the count down every 1 second
            this.timerCount(this.start,this.end);
            this.interval = setInterval(() => {
                this.timerCount(this.start,this.end);
            }, 1000);
        },
        methods: {
            timerCount: function(start,end){
                // Get todays date and time
                var now = new Date();

                now = now.setHours(now.getHours() - ((now.getTimezoneOffset()/60) * -1));

                // Find the distance between now an the count down date
                var distance = start - now;
                var passTime =  end - now;

                if(distance < 0 && passTime < 0){

                    this.statusText = this.wordString.status.expired;
                    this.statusType = "expired";

                    console.log(this.status);
                    clearInterval(this.interval);
                    switch (this.status) {
                        case 1:
                            this.message = "Challenge has been accepted.";
                            break;
                        case 2:
                            this.message = "Challenge has been rejected.";
                            break;
                        case 5:
                            this.message = "Challenge has been completed.";
                            break;
                        case 3:
                            this.message = "Challenge is in polling request.";
                            break;
                        default:
                            this.message = this.wordString.expired;
                    }
                    return;
                }else if(distance < 0 && passTime > 0){
                    this.calcTime(passTime);
                    this.message = this.wordString.running;
                    this.statusType = "running";
                    this.statusText = this.wordString.status.running;

                } else if( distance > 0 && passTime > 0 ){
                    this.calcTime(distance);
                    this.message = this.wordString.upcoming;
                    this.statusType = "upcoming";
                    this.statusText = this.wordString.status.upcoming;
                }
            },
            calcTime: function(dist){
                // Time calculations for days, hours, minutes and seconds
                this.days = Math.floor(dist / (1000 * 60 * 60 * 24));
                this.hours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
                this.seconds = Math.floor((dist % (1000 * 60)) / 1000);
            }

        }
    }
</script>
