<template>
    <div class="chalng-detail-members" v-if="selectedChallenge">
        <h3>Members</h3>
        <div class="row" v-if="challenges.length>0">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" id="memberContainer">
                <div v-if="challenges.length > 0" class="chalng-members-box box-shadow-1" v-for="(challenge, challengeIndex) in challenges" @click="loadSelectedChallenge(challengeIndex)"
                     :class="{ 'active': challenge.player.id == selectedChallenge.user_id }">

                    <img :src="challenge.player.image" :alt="challenge.player.name" />

                    <div class="flex-column">
                        <p v-text="challenge.player.name"></p>
                        <span>Points: {{ challenge.player.state.points }}</span>
                        <i class="fa fa-video-camera" :class="{ 'no-video': !challenge.phases_data[selectedPhaseNo - 1].video_submitted }"></i>
                    </div>

                </div>
            </div>
            <!--col end-->
            <div class="col-xl-8 col-lg-8 col-md-12" v-if="selectedChallenge">
                <div class="chalng-members-box">
                    <img :src="selectedChallenge.player.image" :alt="selectedChallenge.player.name" />
                    <div class="flex-column">
                        <p>{{ selectedChallenge.player.name }}</p>
                        <span>Points: {{selectedChallenge.player.state.points }}</span>
                    </div>
                </div>
                <template v-if="currentPhase.video_submitted">
                    <div class="video-area">
                        <video ref="phaseVideo" controls
                               :poster="`${baseUrl}/images/Challenges-video_03.jpg`" :src="`${currentPhase.video}`"/>

                        <!--<video id="uservideo" controls ref="phaseVideo"
                               :poster="`${baseUrl}/images/Challenges-video_03.jpg`"
                               :src="`${baseUrl}/storage/videos/fitness/AXCEg1Dd3OYRVDFw6af7KEgw7u0wG21kOZZABkR4.mp4`"/>-->
                    </div>

                    <stop-watch @timeAdded="timer = $event"></stop-watch>

                    <form class="row mt-1" @submit.prevent="postPhase('phase_result')" data-vv-scope="phase_result">
                        <div class="col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <h3>Time</h3>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="emp-detail-label">Hours</label>
                                    <input type="text" v-model="timer.hours" name="hours" v-validate="'required|numeric'" class="form-control" placeholder="" />
                                    <span class="text-danger">{{ errors.first('phase_result.hours') }}</span>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="emp-detail-label">Minutes</label>
                                    <input type="text" v-model="timer.minutes" name="minutes" v-validate="'required|numeric'" class="form-control" placeholder="" />
                                    <span class="text-danger">{{ errors.first('phase_result.minutes') }}</span>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="emp-detail-label">Seconds</label>
                                    <input type="text" v-model="timer.seconds" name="seconds" v-validate="'required|numeric|min_value:1'" class="form-control" placeholder="" />
                                    <span class="text-danger">{{ errors.first('phase_result.seconds') }}</span>
                                </div>
                            </div>
                            <!--row end-->
                        </div>
                        <!--col end-->
                        <div class="col-md-5 col-sm-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <h3>Reps</h3>
                                </div>
                                <div class="col-md-9 col-sm-12">
                                    <input v-validate="'required|numeric|min_value:1'" name="reps" v-model="reps" type="text" class="form-control" placeholder="" />
                                    <span class="text-danger">{{ errors.first('phase_result.reps') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" v-if="!selectedChallenge.phases_data[selectedPhaseNo - 1].phase_submitted">
                            <p>Phase is not submitted by user</p>
                        </div>
                        <!--col end-->
                        <div class="col-12">
                            <button type="submit" class="cnt-btnn2"
                                :disabled="!selectedChallenge.phases_data[selectedPhaseNo - 1].phase_submitted">Submit</button>
                        </div>
                    </form>
                </template>
                <p v-else>Video is not submitted by user.</p>
                <!--row end-->
            </div>
            <!--col end-->

        </div>

        <div class="row" v-else>
            <p>All Result has been submitted</p>
        </div>

        <!--row end-->
        <form @submit.prevent="submitPhase('phase-form')" data-vv-scope="phase-form">
            <h1>Leaderboard </h1>
            <div class="maain-tabble table-responsive">
                <table class="table table-striped table-bordered zero-configuration" v-if="leadingChallenges.length > 0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User</th>
                            <th>Time</th>
                            <th>Reps</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(challenge,index) in leadingChallenges">
                            <td>{{ index + 1 }}</td>
                            <td>
                                <img :src="challenge.player.image" class="tab-img" :alt="challenge.player.name" />
                                {{ challenge.player.name }}
                            </td>
                            <td>{{ challenge[`phase_${selectedPhaseNo}_complete_time`] }}</td>
                            <td>{{ challenge[`phase_${selectedPhaseNo}_reps`] }}</td>
                        </tr>
                    </tbody>
                </table>
                <div v-else class="text-center">No record found.</div>
            </div>
            <button type="submit" v-if="leadingChallenges.length> 0 && !fitnessChallenge[`phase_${selectedPhaseNo}_submitted`]" class="cnt-btnn" :disabled="challenges.length !== 0">Submit Result</button>
        </form>
    </div>
    <!--chalng details members end-->
</template>

<script>
    import StopWatch from "./StopWatch";

    export default {
        props: ['selectedPhaseNo', 'fitnessChallenge'],
        components: { StopWatch },
        data(){
            return {
                playing: false,
                challengeId: 0,
                closed: true,
                selectedChallengeIndex: 0,
                selectedChallenge: undefined,
                userChallenges: [],
                currentPhase: undefined,
                timer: {
                    hours: 0,
                    minutes: 0,
                    seconds: 0,
                    timer: '00:00:00'
                },
                reps: 0,
            }
        },
        created() {
            this.challengeId = this.fitnessChallenge.id;
            this.closed = this.$route.name === 'fitness.challenges.show.closed';
            this.loadChallenges();
        },
        methods: {
            loadChallenges(){
                axios.get(`fitness/challenges/user_challenges/${this.challengeId}?phase=${this.selectedPhaseNo}`)
                    .then(data => {
                        this.userChallenges = data.data;
                        this.currentPhase = this.userChallenges[0].phases_data[this.selectedPhaseNo-1];
                        this.selectedChallenge = this.userChallenges[0];
                    });
            },
            loadSelectedChallenge(index){
                this.selectedChallengeIndex = index;
                const challenge = this.challenges[index];
                this.selectedChallenge = challenge;
                this.currentPhase = challenge.phases_data[this.selectedPhaseNo-1];
            },
            postPhase(scope){
                console.log(scope);
                this.$validator.validateAll(scope).then(result => {
                    if(!result) return;
                    const payload = {
                        reps: this.reps,
                        time: this.timer.timer,
                        user_id: this.selectedChallenge.user_id,
                        phase_id: this.currentPhase.id
                    };
                    console.log(this.timer);
                    axios.put(`fitness/challenge/${this.challengeId}/submit-result`, data)
                        .then(data => {
                            const idx = this.userChallenges.findIndex( ch => ch.id === this.selectedChallenge.id)
                            this.userChallenges[idx][`phase_${this.selectedPhaseNo}_complete_time`] = this.timer.timer;
                            this.userChallenges[idx][`phase_${this.selectedPhaseNo}_reps`] = this.reps;
                        });
                });

            },
            makeTimeString(){
                const seconds = (this.timeSet.seconds + "").padStart(2, '0');
                const hours = ((this.timeSet.hours) + "").padStart(2, '0');
                const minutes = ((this.timeSet.minutes) + "").padStart(2, '0');
            },
            submitPhase(scope){
                this.$validator.validateAll(scope).then(result => {
                    if(!result) return;
                    const phase = {
                        phase_no: this.selectedPhaseNo,
                        phase_id: this.currentPhase.id,
                        challenge_id: this.selectedChallenge.id,
                        data: [],
                    };

                    this.leadingChallenges.forEach((challenge, index) => {
                        let x = {};
                        x[`phase_${this.selectedPhaseNo}_complete_time`] = challenge[`phase_${this.selectedPhaseNo}_complete_time`];
                        x[`phase_${this.selectedPhaseNo}_reps`] = challenge[`phase_${this.selectedPhaseNo}_reps`];
                        x[`phase_${this.selectedPhaseNo}_rank`] = index+1;
                        x[`user_challenge_id`] = challenge.id;
                        phase.data.push(x);
                    });

                    axios.put(`fitness/challenge/${this.challengeId}/submit-phase`, phase)
                        .then(data => {
                            this.$toastr.success(data.data.message, "Success");
                            this.fitnessChallenge[`phase_${this.fitnessChallenge.current_phase}_submitted`] = true;
                        });
                });
            }
            /*fieldSorter(fields) {
                return function (a, b) {
                    return fields
                        .map(function (o) {
                            var dir = 1;
                            if (o[0] === '-') {
                                dir = -1;
                                o=o.substring(1);
                            }
                            if (a[o] > b[o]) return dir;
                            if (a[o] < b[o]) return -(dir);
                            return 0;
                        })
                        .reduce(function firstNonZeroValue (p,n) {
                            return p ? p : n;
                        }, 0);
                };
            }*/
        },
        computed: {
            leadingChallenges(){
                const fieldSorter = (fields) => (a, b) => fields.map(o => {
                    let dir = 1;
                    if (o[0] === '-') { dir = -1; o=o.substring(1); }
                    return a[o] > b[o] ? dir : a[o] < b[o] ? -(dir) : 0;
                }).reduce((p, n) => p ? p : n, 0);

                const challenges = this.userChallenges.filter(challenge => challenge[`phase_${this.selectedPhaseNo}_complete_time`] !== null && challenge[`phase_${this.selectedPhaseNo}_reps`] !== null);
                return challenges.sort(fieldSorter([`-phase_${this.selectedPhaseNo}_reps`,`phase_${this.selectedPhaseNo}_complete_time`]));
            },
            challenges(){
                const challenges = this.userChallenges
                    .filter(challenge => challenge[`phase_${this.selectedPhaseNo}_complete_time`] === null && challenge[`phase_${this.selectedPhaseNo}_reps`] === null);
                if(!this.selectedChallenge && challenges.length > 0)
                    this.selectedChallenge = challenges[0];
                return challenges;
            }
        },
        watch: {
            'timeSet.hours': 'makeTimeString',
            'timeSet.minutes': 'makeTimeString',
            'timeSet.seconds': 'makeTimeString',
            'selectedPhaseNo': 'loadChallenges'
        }
    }
</script>

<style lang="scss" scoped>
    #memberContainer:hover::-webkit-scrollbar { width: 5px; }
    #memberContainer:hover::-webkit-scrollbar-track { background: #eee; }
    #memberContainer:hover::-webkit-scrollbar-thumb { background: #ccc; }
    #memberContainer::-webkit-scrollbar { width: 5px; }
    #memberContainer::-webkit-scrollbar-track,
    #memberContainer::-webkit-scrollbar-thumb { background: #fff;}
    #memberContainer::-webkit-scrollbar-thumb:hover { background: #555; }
    #memberContainer{ overflow-y: auto; max-height: 700px; }
    #memberContainer>div{ cursor: pointer; }
    .chalng-members-box.active { background-color: #eee; }
    button.cnt-btnn:disabled { background-color: #ee2c4878; cursor: not-allowed; }
    .fa.fa-video-camera.no-video { position: relative; }
    .fa.fa-video-camera.no-video:after { position: absolute; content: "/"; color: white; font-weight: bold; font-size: 1.5em; top: -8.5px; text-shadow: 3px 0px 0px rgb(0, 0, 0); line-height: 32px; left: 1px; font-family: Arial; }
    .fa.fa-video-camera.no-video { opacity: .8; }
</style>
