<template>
</template>

<script>

    export default {
        data(){
            return {
            }
        },
        created() {
            this.closed = this.$route.name === 'fitness.challenges.show.closed';
        },
        methods: {

        }
    }
</script>

<style>

</style>
