<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->

                <section id="configuration" v-if="challenge">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        <h1><a href="p3-employee-user-list.html" class="profile-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a> Invitation Challenges Details</h1>

                                        <states-box :challenge="challenge"></states-box>

                                        <div class="row chlng-detail-top">

                                            <div class="col-lg-2 col-md-12 col-sm-12">
                                                <img :src="challenge.image" class="img-full" alt="">
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="d-flex justify-content-between pt-1">
                                                    <h2>{{ challenge.title }} <span>Posted: {{ challenge.created_at | date }}</span></h2>
                                                </div>
                                                <p>{{ challenge.description }}</p>
                                            </div>
                                            <!--col end-->
                                        </div>
                                        <!--row end-->
                                        <div class="row chlng-detail-top mt-3 mb-3">

                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="video-area">
                                                    <video ref="video" controls @ended="playing=false" :poster="`${baseUrl}/images/video-poster.jpg`" :src="`${baseUrl}/storage/${challenge.video}`"></video>
                                                    <div v-if="!playing" @click="() => { $refs.video.play(); playing = true }" class="fa fa-play-circle"></div>
                                                </div>
                                            </div>

                                            <!--col end-->
                                            <div class="col-lg-2 col-md-12 col-sm-12" v-if="challenge.status === 5">
                                                <div class="chalng-details-box d-block text-center maroon-bg" v-if="!challenge.winner">
                                                    <h5>No Winner</h5>

                                                    <div class="image-with-tag">
                                                        <img :src="`${baseUrl}/images/client-profile-img.jpg`">
                                                        <i class="winner-tag"></i>
                                                    </div>
                                                </div>
                                                <div class="chalng-details-box d-block text-center maroon-bg" v-else>
                                                    <h5>{{ challenge.winner.name }}</h5>

                                                    <div class="image-with-tag">
                                                        <img :src="challenge.winner.image" :alt="challenge.winner.name">
                                                        <i class="winner-tag"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="phase-span-main">
                                            <h5 v-for="(phase, index) in challenge.phases"
                                                @click="() => { selectedPhase = phase; selectedPhaseNo = index+1 }"
                                                :class="{
                                                            active: selectedPhase.id === phase.id,
                                                            inactive: selectedPhase.id !== phase.id
                                                        }">
                                                Phase {{ index + 1 }}
                                            </h5>
                                        </div>
                                        <!--main end-->

<!--                                        <div class="row">-->
<!--                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">-->
<!--                                                <div class="chalng-details-box"> <img :src="selectedPhase.image" :alt="selectedPhase.title">-->
<!--                                                    <div class="flex-column">-->
<!--                                                        <h5>{{ selectedPhase.title }}</h5>-->
<!--                                                        <p>{{ selectedPhase.description }}</p>-->
<!--                                                        <div class="d-flex flex-row justify-content-between">-->
<!--                                                            <h6>Reps: {{ selectedPhase.reps }}</h6>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash;col end&ndash;&gt;-->

<!--                                        </div>-->
                                        <!--row end-->

                                        <members :fitness-challenge="challenge" :selected-phase-no="selectedPhaseNo"></members>
                                    </div>
                                    <!--card body end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Members from "./Members";
    import StatesBox from "./StatesBox";

    export default {
        components: { Members, StatesBox },
        data(){
            return {
                selectedPhase: {},
                selectedPhaseNo: 1,
                playing: false,
                challenge: null,
                closed:true,
                current_tab: "phases",
                selectedMember: undefined,
            }
        },
        mounted() {
            this.getChallenge();
            this.closed = this.$route.name === 'fitness.challenges.show.closed';
        },
        methods: {
            getChallenge() {
                axios.get(`fitness/challenges/${this.$route.params.id}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.selectedPhase = this.challenge.phases[0];
                    });
            }
        },
        computed: {
            selectedUserPhase() {
                if(!this.selectedPhase || !this.selectedMember) return;
                const phase = this.selectedMember.phases_data.filter(phase => this.selectedPhase.id === phase.id);
                return phase.shift();
            }
        }
    }
</script>

<style>

</style>
