<template>
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Total<br>Phase:</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.phases.length }}</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Current<br>Phase</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.current_phase }}</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Prize</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.prize | currency(0) }}</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Points</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.points }}</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Status</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.status | status }}</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>Gender</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.gender_for | gender }}</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="chalng-members-box box-shadow-1 grey-box">
                        <div class="flex-column">
                            <p>User<br>
                                Joined</p>
                        </div>
                        <h5 class="postion-h5">{{ challenge.subscribers.filter(req => req.pivot.status === 1).length }}</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['challenge'],
        data(){
            return {
            }
        },
        created() {
            this.closed = this.$route.name === 'fitness.challenges.show.closed';
        },
        methods: {

        }
    }
</script>

<style>

</style>
