<template>
    <div class="row">
        <div class="col-md-6 col-sm-12 align-self-center order-lg-1 order-xl-1 order-md-1 order-sm-2 order-2">
            <h3>Time <span class="red-text">{{ timer }}</span></h3>
        </div>
        <div class="col-md-6 col-sm-12 text-right order-lg-2 order-xl-2 order-md-2 order-sm-1 order-1">
            <button class="video-buttons" @click="togglePause">
                <i class="fa red-text" :class="{ 'fa-play': isPaused, 'fa-pause': !isPaused }"></i>
            </button>
            <button class="video-buttons" @click="populateTime">
                <i class="fa fa-stop red-text"></i>
            </button>
            <button class="video-buttons" @click="resetTime">
                <i class="fa fa-repeat red-text"></i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                focuses: [],
                isPaused: true,
                timer: '00:00:00',
                seconds: 0,
                interval: undefined,
                timeSet: {
                    hours: 0,
                    minutes: 0,
                    seconds: 0,
                    timer: '00:00:00',
                }
            }
        },
        created() {
            this.interval = setInterval(this.tick, 1000);
        },
        methods: {
            togglePause() {
                this.isPaused = !this.isPaused
            },
            tick() {
                if (this.isPaused) return;

                this.seconds++;

                this.timeSet.seconds = this.seconds;

                if(this.seconds > 59)
                {
                    this.timeSet.minutes++;
                    this.seconds = 0;
                }

                if(this.timeSet.minutes > 59)
                {
                    this.timeSet.hours++;
                    this.timeSet.minutes = 0;
                }

                this.timer = `${this.timeDurationToString(this.timeSet.hours)}:${this.timeDurationToString(this.timeSet.minutes)}:${this.timeDurationToString(this.seconds)}`;
            },
            timeDurationToString(duration) {
                return (duration.toString()).padStart(2, 0);
            },
            populateTime(){
                this.isPaused = true;
                this.timeSet.timer = this.timer;
                this.$emit('timeAdded', this.timeSet);
            },
            resetTime(){
                this.isPaused = true;
                this.timeSet.seconds = 0;
                this.timeSet.minutes = 0;
                this.timeSet.hours = 0;
                this.timer = '00:00:00';
                this.seconds = 0;
                this.timeSet.timer = this.timer;

                this.$emit('timeAdded', this.timeSet);
            }
        },
        computed: {

        },
        destroyed() {
            clearInterval(this.interval);
        },
        watch: {
        }
    }
</script>

<style lang="scss" scoped>
    #memberContainer:hover::-webkit-scrollbar { width: 5px; }
    #memberContainer:hover::-webkit-scrollbar-track { background: #eee; }
    #memberContainer:hover::-webkit-scrollbar-thumb { background: #ccc; }
    #memberContainer::-webkit-scrollbar { width: 5px; }
    #memberContainer::-webkit-scrollbar-track,
    #memberContainer::-webkit-scrollbar-thumb { background: #fff;}
    #memberContainer::-webkit-scrollbar-thumb:hover { background: #555; }
    #memberContainer{ overflow-y: auto; max-height: 500px; }
    #memberContainer>div{ cursor: pointer; }
    .chalng-members-box.active { background-color: #eee; }
</style>
