<template>
    <div class="app-content content">

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12" :class="{ 'col-md-2': !isEmployee, 'col-md-3': isEmployee }"></div>
                                <div class="col-sm-12" :class="{ 'col-md-8': !isEmployee, 'col-md-6': isEmployee }">
                                    <div class="card rounded p-3 admin-overview-main">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form @submit.prevent="validate" enctype="multipart/form-data">
                                                    <div class="admin-add-user-main">
                                                        <h1>
                                                            <router-link :to="{name: 'users.index'}" :class="{'profile-back': !isEmployee}">
                                                                <i class="fa fa-angle-left" aria-hidden="true"></i> Add {{ isEmployee? 'Employee': 'User' }}
                                                            </router-link>
                                                        </h1>
                                                        <div class="regi-profile-main">
                                                            <cropper
                                                                :src="personalImage? personalImage: `${base_url}/images/upload-img.jpg`"
                                                                @imageChanged="imageChanged($event)"
                                                            ></cropper>
<!--                                                            <img :src="personalImage? personalImage: `${base_url}/images/upload-img.jpg`" ref="img" id="personal_img" alt="">-->

<!--                                                            <input type="file" accept="image/*" @change="readURL()" ref="profileImageInput" id="upload" name="personal_img">-->
                                                            <input type="hidden" v-model="form.image" name="image">
                                                            <span>{{ errors.first('image') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Name *</label>
                                                            <input type="text" v-validate="'required'" placeholder="Name" id="name" class="admin-chlng-fit-top-input" v-model="form.name" name="name">
                                                            <span>{{ errors.first('name') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Email Address *</label>
                                                            <input type="email" placeholder="Email Address" :disabled="isProfile" v-validate="'required|email|unique'" id="email" class="admin-chlng-fit-top-input" v-model="form.email" name="email">
                                                            <span>{{ errors.first('email') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label>Enter Password *</label>
                                                            <input type="password" placeholder="Password" v-validate="isEdit?'':'required'" id="password" class="admin-chlng-fit-top-input" v-model="form.password" name="password" ref="password">
                                                            <span>{{ errors.first('password') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label>Password Confirmation*</label>
                                                            <input type="password" placeholder="Password Confirmation" v-validate="isEdit?'':'required|' + 'confirmed:password'" id="password_confirmation" class="admin-chlng-fit-top-input" v-model="form.password_confirmation" name="password_confirmation">
                                                            <span v-if="errors.has('password_confirmation')">{{ errors.first('password_confirmation')? errors.first('password_confirmation').split('_').join(' '):'' }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Address</label>
                                                            <VueGooglePlaces
                                                                    api-key="AIzaSyAHPUufTlBkF5NfBT3uhS9K4BbW2N-mkb4"
                                                                    :enableGeolocation="true"
                                                                    :enableGeocode="true"
                                                                    version="3.36"
                                                                    placeholder="Input your place"
                                                                    @placechanged="onPlaceChanged"
                                                                    @noresult="onNoResult"
                                                                    class="admin-chlng-fit-top-input">

                                                                <input type="text" id="address" placeholder="Address" v-validate="'required'" class="admin-chlng-fit-top-input" v-model="form.address" name="address">

                                                            </VueGooglePlaces>
                                                            <span>{{ errors.first('address') }}</span>
<!--                                                        <input type="text" id="autocomplete" onfocus="geolocate()" class="admin-chlng-fit-top-input" placeholder="Enter your address" name="address">-->
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label>Country</label>
                                                            <input type="text" id="country" placeholder="Country" class="admin-chlng-fit-top-input" v-model="form.country" name="country">
                                                            <span>{{ errors.first('country') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>State</label>
                                                            <input type="text" placeholder="State" id="administrative_area_level_1" class="admin-chlng-fit-top-input" v-model="form.address_state" name="address_state">
                                                            <span>{{ errors.first('address_state') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label>City </label>
                                                            <input type="text" id="locality" placeholder="City" class="admin-chlng-fit-top-input" v-model="form.city" name="city">
                                                            <span>{{ errors.first('city') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Zip Code </label>
                                                            <input type="text" id="postal_code" placeholder="Zipcode" class="admin-chlng-fit-top-input" v-model="form.postal_code" name="postal_code">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-phone"></i>Contact number:</label>
<!--                                                            <the-mask :mask="'+1 (###)-###-####'" v-validate="{regex: /\+1 \([0-9]{3}\)-[0-9]{3}-[0-9]{4}$/}" v-model="form.contact" class="admin-chlng-fit-top-input" name="contact" placeholder="+1 (xxx)-xxx-xxxx"/>-->
                                                            <the-mask :mask="'+1 (###) ###-####'" :masked="true" v-validate="`length:17`" v-model="form.contact" class="admin-chlng-fit-top-input" name="contact" placeholder="+1 (xxx)-xxx-xxxx"/>
                                                            <span v-if="errors.has('contact')">{{ errors.first('contact').replace('The contact length must be 17', 'The phone number must be a valid number') }}</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label><i class="fa fa-user" aria-hidden="true"></i> Gender: </label>
                                                            <select v-validate="`required`" v-model="form.gender" class="admin-chlng-fit-top-input" name="gender">
                                                                <option value="">Select Gender</option>
                                                                <option value="1">Male</option>
                                                                <option value="2">Female</option>
                                                            </select>
                                                            <span>{{ errors.first('gender') }}</span>
                                                        </div>

                                                        <button type="submit" :disabled="isLoading" class="save cnt-btnn">
                                                            <span v-if="!isEdit">Add</span>
                                                            <span v-if="isEdit">Save</span>
                                                            <i class="fa fa-refresh spinner" v-if="isLoading"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>

    import Cropper from '../../../compoments/CropperComponent';
    import {TheMask} from 'vue-the-mask'

    export default {
        components: {
            Cropper,
            TheMask
        },
        data(){
            return {
                userId: null,
                isEdit: false,
                isProfile: false,
                isEmployee: false,
                imageEditing: false,
                borderRadius: 200,
                scale: 1,
                base_url: window.base_url,
                isLoading: false,
                personalImage: false,
                myFiles: [],
                form: {
                    name:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    city: '',
                    address_state: '',
                    country: '',
                    postal_code: '',
                    gender: '',
                    address: ''
                },
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                }
            }
        },
        computed: {
            scaleNumberic(){ return Number(this.scale); }
        },
        mounted() {
            this.isEmployee = this.$route.meta.employee;

            if(this.$route.params.id)
            {
                this.isLoading = true;
                this.isEdit = true;
                this.userId = this.$route.params.id === 'edit'? window.user.id: this.$route.params.id;
                this.isProfile = this.$route.params.id === 'edit';
                this.loadUser();
            }

            if(!this.isProfile) {
                let userid = this.userId;
                const employee = this.isEmployee;
                this.$validator.extend("unique", {
                    validate(value, field) {
                        return axios.post(`/check?field=email&model=${employee? 'employee': 'user'}&ignore=` + userid, {email: value})
                            .then(({data}) => {
                                return {
                                    valid: true,
                                    data: {
                                        message: `good to go`
                                    }
                                };
                            })
                            .catch(error => {
                                return {
                                    valid: false,
                                    data: {
                                        message: `${value} is already taken.`
                                    }
                                };
                            });
                    },
                    getMessage: (field, params, data) => {
                        return data.message
                    }
                });
            }
        },
        methods: {
            loadUser(){
                axios.get(this.isProfile? `/user` : `/users/${this.userId}`)
                    .then(data => {
                        this.form = data.data;
                        this.personalImage = data.data.image;
                    });
            },
            onPlaceChanged(place) {
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'state',
                    country: 'country',
                    postal_code: 'postal_code'
                };

                for (var i = 0; i < place.place.address_components.length; i++) {
                    var addressType = place.place.address_components[i].types[0];

                    if (this.componentForm[addressType])
                        this.form[fields[addressType]] = place.place.address_components[i][this.componentForm[addressType]];
                }
            },
            onNoResult() {
                console.log('no result place');
            },
            imageChanged(data){
                this.personalImage = data;
                this.form.image = data;
            },
            validate(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
            save(){
                if(this.isEdit)
                    this.update();
                else
                    this.insert();
            },
            update(){
                axios.put(this.isProfile? 'user': `/users/${this.userId}`, this.form).then(data => {
                    this.$toastr.success('User has been updated successfully', 'Success', {});
                    if(!this.isProfile)
                        this.$router.push({name: 'users.index'});
                });
            },
            insert(){
                axios.post(this.isEmployee? '/employees': '/users', this.form).then(data => {
                    this.$toastr.success(`${this.isEmployee? 'Employee': 'User'} has been added successfully`, 'Success', {});
                    this.$router.push({name: `${this.isEmployee? 'employees': 'users'}.index`});
                });
            },
        }
    }
</script>

<style scoped>
/*<!--    @import '../../../../node_modules/cropperjs/cropper.css';-->*/
</style>
