<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-2 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="card rounded p-3 admin-overview-main">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form @submit.prevent="validate" enctype="multipart/form-data">
                                                    <div class="admin-add-user-main">
                                                        <h1>
                                                            <router-link :to="{name: 'users.index'}" class="profile-back">
                                                                <i class="fa fa-angle-left" aria-hidden="true"></i> Users
                                                            </router-link>
                                                        </h1>
                                                        <div class="regi-profile-main">
                                                            <img :src="personalImage? personalImage: `${base_url}/images/upload-img.jpg`" ref="img" id="personal_img" alt="">

<!--                                                            <div v-show="imageEditing">-->
<!--                                                                <vue-avatar-->
<!--                                                                    :width=150-->
<!--                                                                    :height=150-->
<!--                                                                    ref="vueavatar"-->
<!--                                                                    :scale="scaleNumberic"-->
<!--                                                                    :borderRadius="borderRadius"-->
<!--                                                                    @vue-avatar-editor:image-ready="onImageReady"-->
<!--                                                                >-->
<!--                                                                </vue-avatar>-->

<!--                                                                <input-->
<!--                                                                    type="range"-->
<!--                                                                    min=1-->
<!--                                                                    max=3-->
<!--                                                                    step=0.02-->
<!--                                                                    v-model='scale'-->
<!--                                                                />-->
<!--                                                                <button v-on:click="cropImage">Click</button>-->
<!--                                                            </div>-->

                                                            <label for="upload" style="margin-top: 0;" class="uplrd-img-btn">
                                                                <i class="fa fa-camera" aria-hidden="true"></i>
                                                            </label>
                                                            <input type="file" accept="image/*" @change="readURL()" ref="profileImageInput" id="upload" name="personal_img">
                                                            <input type="hidden" v-model="form.image" name="image">
                                                            <span>{{ errors.first('image') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-user-circle"></i>Name *</label>
                                                            <input type="text" v-validate="'required'" id="name" class="admin-chlng-fit-top-input" v-model="form.name" name="name">
                                                            <span>{{ errors.first('name') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-envelope"></i>Email Address *</label>
                                                            <input type="email" v-validate="'required|email|unique'" id="email" class="admin-chlng-fit-top-input" v-model="form.email" name="email">
                                                            <span>{{ errors.first('email') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-key"></i>Enter Password *</label>
                                                            <input type="password" v-validate="isEdit?'':'required'" id="password" class="admin-chlng-fit-top-input" v-model="form.password" name="password" ref="password">
                                                            <span>{{ errors.first('password') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-key"></i>Password Confirmation*</label>
                                                            <input type="password" v-validate="isEdit?'':'required|' + 'confirmed:password'" id="password_confirmation" class="admin-chlng-fit-top-input" v-model="form.password_confirmation" name="password_confirmation">
                                                            <span v-if="errors.has('password_confirmation')">{{ errors.first('password_confirmation')? errors.first('password_confirmation').split('_').join(' '):'' }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>
                                                                <i class="fa fa-map-marker"></i>Address
                                                            </label>
                                                            <VueGooglePlaces
                                                                    api-key="AIzaSyAHPUufTlBkF5NfBT3uhS9K4BbW2N-mkb4"
                                                                    :enableGeolocation="true"
                                                                    :enableGeocode="true"
                                                                    version="3.36"
                                                                    placeholder="Input your place"
                                                                    @placechanged="onPlaceChanged"
                                                                    @noresult="onNoResult"
                                                                    class="admin-chlng-fit-top-input"/>
<!--                                                        <input type="text" id="autocomplete" onfocus="geolocate()" class="admin-chlng-fit-top-input" placeholder="Enter your address" name="address">-->
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-map-marker"></i>Country</label>
                                                            <input type="text" id="country" class="admin-chlng-fit-top-input" v-model="form.country" name="country">
                                                            <span>{{ errors.first('country') }}</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label><i class="fa fa-map-marker"></i>State</label>
                                                            <input type="text" id="administrative_area_level_1" class="admin-chlng-fit-top-input" v-model="form.address_state" name="address_state">
                                                            <span>{{ errors.first('address_state') }}</span>
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-map-marker"></i>City </label>
                                                            <input type="text" id="locality" class="admin-chlng-fit-top-input" v-model="form.city" name="city">
                                                            <span>{{ errors.first('city') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-map-marker"></i>Zip Code </label>
                                                            <input type="text" id="postal_code" class="admin-chlng-fit-top-input" v-model="form.postal_code" name="postal_code">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label><i class="fa fa-phone"></i>Contact number:</label>
                                                            <input type="text" v-validate="{regex: /^(\+1-)?[0-9]{3}-[0-9]{3}-[0-9]{4}$/}" id="number" value="" class="admin-chlng-fit-top-input" v-model="form.contact" name="contact" placeholder="+1-xxx-xxx-xxxx">
                                                            <span>{{ errors.first('contact') }}</span>
                                                        </div>
                                                        <button type="submit" :disabled="isLoading" class="save cnt-btnn">
                                                            <span v-if="!isEdit">Add</span>
                                                            <span v-if="isEdit">Save</span>
                                                            <i class="fa fa-refresh spinner" v-if="isLoading"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Cropper from 'cropperjs'

    export default {
        components: {
        },
        data(){
            return {
                userId: null,
                isEdit: false,
                cropper: null,
                imageEditing: false,
                borderRadius: 200,
                scale: 1,
                base_url: window.base_url,
                isLoading: false,
                personalImage: false,
                myFiles: [],
                form: {
                    name:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    city: '',
                    address_state: '',
                    country: '',
                    postal_code: ''
                },
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                }
            }
        },
        computed: {
            scaleNumberic(){ return Number(this.scale); }
        },
        mounted() {
            if(this.$route.params.id)
            {
                this.isLoading = true;
                this.isEdit = true;
                this.userId = this.$route.params.id;
                this.loadUser();
            }

            var userid = this.userId;

            this.$validator.extend("unique", {
                validate(value, field) {
                    return axios.post(`/check?field=email&model=user&ignore=`+ userid, {email: value})
                        .then(({data}) => {
                            return {
                                valid: true,
                                data: {
                                    message: `good to go`
                                }
                            };
                        })
                        .catch(error => {
                            return {
                                valid: false,
                                data: {
                                    message: `${value} is already taken.`
                                }
                            };
                        });
                },
                getMessage: (field, params, data) => {
                    return data.message
                }
            });
        },
        methods: {
            loadUser(){
                axios.get(`/users/${this.userId}`)
                    .then(data => {
                        this.form = data.data;
                        this.personalImage = data.data.image;
                        this.isLoading = false;
                    });
            },
            onPlaceChanged(place) {
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'state',
                    country: 'country',
                    postal_code: 'postal_code'
                };

                for (var i = 0; i < place.place.address_components.length; i++) {
                    var addressType = place.place.address_components[i].types[0];

                    if (this.componentForm[addressType])
                        this.form[fields[addressType]] = place.place.address_components[i][this.componentForm[addressType]];
                }
            },
            onNoResult() {
                console.log('no result place');
            },
            readURL() {
                let file = this.$refs.profileImageInput.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = e => {
                        this.personalImage = e.target.result;
                        this.form.image = e.target.result;
                        const image = document.getElementById('personal_img');
                        // this.cropper = new Cropper(image, {
                        //     aspectRatio: 1,
                        //     // viewMode: 1,
                        //     // crop(event) {
                        //     //     console.log(event.detail.x);
                        //     //     console.log(event.detail.y);
                        //     //     /*console.log(event.detail.width);
                        //     //     console.log(event.detail.height);
                        //     //     console.log(event.detail.rotate);
                        //     //     console.log(event.detail.scaleX);
                        //     //     console.log(event.detail.scaleY);*/
                        //     // },
                        // });
                    };
                    reader.readAsDataURL(file);
                }
            },
            validate(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
            save(){
                this.isLoading = true;
                if(this.isEdit)
                {
                    this.update();
                }else {
                    this.insert();
                }
            },
            update(){
                axios.put(`/users/${this.userId}`, this.form).then(data => {
                    this.isLoading = false;
                    this.$toastr.success('User has been updated successfully', 'Success', {});
                    this.$router.push({name: 'users.index'});
                }).catch(e => this.isLoading = false);
            },
            insert(){
                axios.post('/users', this.form).then(data => {
                    this.isLoading = false;
                    this.$toastr.success('User has been added successfully', 'Success', {});
                    this.$router.push({name: 'users.index'});
                }).catch(e => this.isLoading = false);
            }
        }
    }
</script>

<!--<style>-->
<!--    @import '../../../../node_modules/cropperjs/cropper.css';-->
<!--</style>-->
