<template>

    <div class="app-content content">
        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>{{ blockedOnly? 'BLOCKED USERS': 'USER LIST' }}</h1>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <router-link v-if="!blockedOnly" :to="{name: 'users.create'}" class="green-btn-project">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add User
                                        </router-link>
                                        <a @click="blockedOnly=true" v-if="!blockedOnly" class="green-btn-project2">View Blocked User</a>
                                        <a @click="blockedOnly=false" class="green-btn-project2" v-if="blockedOnly">View Active User</a>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="loadUsers" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>
                                                            <!--<th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                                                                :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                                                style="width: 40%; cursor:pointer;">
                                                                {{column.label}}
                                                            </th>-->
                                                            <tr>
                                                                <th>SN.o</th>
                                                                <th>User</th>
                                                                <th>Email</th>
                                                                <th>Description</th>
                                                                <th>Contact Number</th>
                                                                <th>Registered On</th>
                                                                <th>Path</th>
                                                                <th>Level</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-if="users.data && users.data.length > 0" v-for="(user,index) in users.data" :key="user.id">
                                                                    <td>{{ user.id }}</td>
                                                                    <td data-tooltip="tooltip">
                                                                        <router-link :to="{ name: 'users.show', params: { id: user.id, tab: 'details' } }">
                                                                            <img class="tab-img" :src="user.image? `${user.image}`: `https://ui-avatars.com/api/?rounded=true&background=20aaea&color=fff&name=${user.name}`">
                                                                            {{ user.name | limit(15) }}
                                                                        </router-link>
                                                                    </td>
                                                                    <td>{{ user.email | limit(25) }}</td>
                                                                    <td>{{ user.description || '' | limit(25) }}</td>
                                                                    <td>{{ user.contact }}</td>
                                                                    <td>{{ user.created_at }}</td>
                                                                    <td>{{ user.state.path }}</td>
                                                                    <td>{{ user.state.level }}</td>
                                                                    <td>{{ user.status ? "Active" : "InActive"}}</td>
                                                                    <td>
                                                                        <div class="btn-group mr-1 mb-1">
                                                                            <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                <!--<router-link class="dropdown-item" :to="{ name: 'users.edit', params: { id: user.id } }">
                                                                                    <i class="fa fa-pencil"></i>Edit
                                                                                </router-link>-->
                                                                                <router-link class="dropdown-item" :to="{ name: 'users.show', params: { id: user.id, tab: 'details' } }">
                                                                                    <i class="fa fa-eye"></i>View
                                                                                </router-link>
                                                                                <a class="dropdown-item" href="#" @click.prevent="blockUser(index, user.status ? 'block': 'unblock')">
                                                                                    <i class="fa fa-ban"></i>{{ !user.status ? "UnBlocked User": "Block User" }}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr v-if="!users.data || !users.data.length">
                                                                    <td colspan="8" class="text-center">No record found.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="users && users.meta && users.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ users.meta.from }} to {{ users.meta.to }} of {{ users.meta.total }} entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="users" @pagination-change-page="loadUsers">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){

            let columns = [
                {label: 'SN.o', name: 'serial' },
                {label: 'User', name: 'name'},
                {label: 'Email', name: 'email'},
                {label: 'Contact', name: 'contact'},
                {label: 'Path', name: 'path'},
                {label: 'Level', name: 'level'},
                {label: 'Status', name: 'status'},
                {label: 'Registered On', name: 'created_at'},
            ];

            // columns.forEach((column) => {
            //     sortOrders[column.name] = -1;
            // });

            return {
                base_url: window.base_url,
                isLoading: true,
                users: {},
                per_page: 10,
                blockedOnly: false,
                search_term: '',
                columns: columns,
                sortKey: 'created_at',
                // sortOrders: sortOrders
            }
        },
        mounted() {
            this.loadUsers(1);
        },
        methods: {
            loadUsers(page = 1){
                this.search_term = this.search_term.replace(/[^a-zA-Z0-9-. ]/g, "");
                axios.get(`/users?status=${Number(!this.blockedOnly)}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.users = data.data;
                        this.isLoading = false;
                    });
            },
            blockUser(index, message) {
                this.$dialog.confirm('Are you sure you want to ' + message + ' this user?',{ okText: 'Proceed' })
                    .then(dialog => {
                        const user = this.users.data[index];
                        this.isLoading = true;
                        axios.put(`/users/${user.id}/status`)
                            .then(({user}) => {
                                this.isLoading = false;
                                this.users.data.splice(index, 1);
                                this.$toastr.success('User status has changed', 'Success', {});
                                dialog.close();
                            })
                            .catch(e => {
                                this.$toastr.error(e.response.statusText, 'Error');
                                this.isLoading = false;
                                dialog.close();
                            })
                    });

            }
        },
        watch: {
            'per_page' () {
                this.loadUsers()
            },
            'blockedOnly' () {
                this.loadUsers();
            }
        }
    }
</script>

<style scoped>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
    @media (max-width: 398px) {
        .green-btn-project2{
            margin: 0px 0px 0px 30px !important;
        }

    }
</style>
