<template>
    <div class="app-content content">
        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Payment Listing </h1>
                                        <h5 class="admin-user-charity-h5"><span>Balance:</span>  ${{ logs.balance }}</h5>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="graph" v-if="datacollection">
                                                    <bar-chart :chart-data="datacollection" :options="options"></bar-chart>
                                                </div>
                                            </div>
                                        </div>

                                        <h5 class="admin-user-charity-h5"><span>Payment Types:</span></h5>

                                        <ul class="nav nav-tabs nav-underline no-hover-bg mt-3">
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'payment.logs.index'}" class="nav-link" :class="{ active: type === 'challenges'}" data-toggle="tab">Challenges</router-link>
                                            </li>
                                            <li class="nav-item d-none">
                                                <router-link :to="{ name: 'payment.logs.index', params: {type: 'merchandise'}}" class="nav-link" :class="{ active: type === 'merchandise'}" data-toggle="tab">Merchandise</router-link>
                                            </li>
                                            <li class="nav-item d-none">
                                                <router-link :to="{ name: 'payment.logs.index', params: {type: 'advertisement'}}" class="nav-link" :class="{ active: type === 'advertisement'}" data-toggle="tab">Advertisement </router-link>
                                            </li>
                                        </ul>

                                        <div class="tab-content pt-3">
                                            <div class="tab-pane" :class="{ active: type === 'challenges'}">
                                                <h5 class="admin-user-charity-h5"><span>Total:</span>  ${{ logs.balance }}</h5>
                                                <div class="maain-tabble table-responsive">
                                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <table-length @lengthChanged="per_page = $event"></table-length>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                                    <label>Search:
                                                                        <input type="search" @input="loadLogs" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table v-if="logs.data" class="table table-striped table-bordered zero-configuration">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.No</th>
                                                                            <th>User ID</th>
                                                                            <th>Name</th>
                                                                            <th>Challenge Type</th>
                                                                            <th>Challenge Name</th>
                                                                            <th>Amount</th>
                                                                            <th>Date</th>
                                                                            <!--<th>Action</th>-->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="(log,index) in logs.data">
                                                                            <td v-text="makeSerial(index+1, logs.meta.current_page, per_page)"></td>
                                                                            <td v-if="log.transactor" v-text="log.transactor.id"></td>
                                                                            <td v-if="log.transactor">
                                                                                <img :src="log.transactor.image" class="tab-img" alt="">
                                                                                {{ log.transactor.name }}
                                                                            </td>
                                                                            <td>{{ log.transitionable_type | camelToSenence }}</td>
                                                                            <td>{{ log.source? log.source.title: '' }}</td>
                                                                            <td>${{ log.amount }}</td>
                                                                            <td>{{ log.created_at }}</td>
                                                                            <!--<td>
                                                                                <div class="btn-group mr-1 mb-1">
                                                                                    <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                        <a class="dropdown-item" @click="deleteTransaction(index)" href="#"><i class="fa fa-trash"></i>Delete</a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>-->
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-5">
                                                                <div class="dataTables_info" v-if="logs.data && logs.meta && logs.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ logs.meta.from }} to {{ logs.meta.to }} of {{ logs.meta.total }} entries</div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-7">
                                                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                                    <pagination :data="logs" @pagination-change-page="loadLogs">
                                                                        <span slot="prev-nav">&lt; Previous</span>
                                                                        <span slot="next-nav">Next &gt;</span>
                                                                    </pagination>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" :class="{ active: type === 'merchandise'}">
                                                <h1 class="text-center pb-2">Coming Soon </h1>
                                            </div>
                                            <div class="tab-pane" :class="{ active: type === 'advertisement'}">
                                                <h1 class="text-center pb-2">Coming Soon </h1>
                                            </div>
                                        </div><!--tab content end-->
                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import BarChart from "./BarChart";
    export default {
        components: { BarChart },
        data(){
            return {
                datacollection: null,
                base_url: window.base_url,
                isLoading: true,
                logs: {},
                per_page: 10,
                search_term: '',
                type: 'challenge',
                sortKey: 'created_at',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            }
        },
        mounted() {
            this.loadLogs(1);
        },
        methods: {
            loadLogs(page = 1){
                this.type = this.$route.params.type || 'challenges';
                axios.get(`/payment-logs?type=${this.type}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.logs = data.data;
                        this.logs.data.forEach(row => {
                            row.transitionable_type = row.transitionable_type.replace('App\\Models\\', '')
                        });
                        this.isLoading = false;
                        this.fillData(this.logs.graph);
                    });
            },
            fillData (datax) {
                let data = (datax);
                const labels = data.map(month => month.name);
                const values = data.map(month => month.value);
                this.datacollection = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Transaction',
                            backgroundColor: '#ee2c48',
                            data: values
                        }
                    ]
                };
            },
            deleteTransaction(index){
                this.$dialog.confirm("Are you sure you want delete this transaction?")
                    .then(dialog => {
                        axios.delete(`/payment-logs/${this.logs.data[index].id}`).then(data => {
                            this.$toastr.success(data.data.message, 'Success');
                            this.loadLogs(this.logs.meta.current_page);
                            dialog.close();
                        }).catch(e => dialog.close())
                    })
            }
        },
        watch: {
            'per_page' () {
                this.loadLogs()
            },
            '$route.params.type' () {
                this.loadLogs();
            },
            '$route.name' () {
                this.paidTrivia = this.$route.name.indexOf('cost') >= 0
                this.loadLogs();
            }
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
    .graph {
        width: 100%;
        height: 400px;
    }
</style>
