<template>
    <div class="row admin-add-user-main p-0" v-if="!editing">
        <div class="col-lg-2 col-md-12 col-sm-12">
            <img :src="challenge.image" class="img-full" :alt="challenge.title">
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-lg-row flex-sm-column flex-md-column flex-column">
                        <h2>{{ challenge.title }}</h2>
                        <div>
                            <a href="#" @click.prevent="editing = true" class="admin-fftp-adduser-h5 pull-right mb-0">
                                Edit <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p>{{ challenge.description }}</p>
            <div class="clearfix"></div>
        </div>
        <!--col end-->

        <div class="col-12 pt-2">
            <!--                                                                        <img :src="`${baseUrl}/images/video-thumb.jpg`" class="img-full">-->
            <div class="video-area w-100">
                <video :poster="`${baseUrl}/images/video-poster.jpg`" ref="videoEl" controls>
                    <source :src="`${baseUrl}/storage/${challenge.video}`">
                </video>
                <div class="fa fa-play-circle" v-if="!playing" @click="() => { $refs.videoEl.play(); playing=true }"></div>
            </div>
        </div>
    </div>

    <form  @submit.prevent="validateSave" class="row admin-add-user-main p-0" v-else>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
            <!--<input type="file" id="upload" name="file">
            <button name="file" class="upload-admin-img"  onclick="document.getElementById('upload').click()">
                <img :src="`${baseUrl}images/upload-img_03.jpg`" class="img-fluid" alt="" />
            </button>-->
            <cropper :src="personalImage? personalImage: `${baseUrl}/images/Cost-trivia-Add-1_03.png`" @imageChanged="imageChanged($event)"></cropper>
            <input type="hidden" v-validate="'required'" v-model="personalImage" name="image">
            <span class="text-danger">{{ errors.first('image') }}</span>
        </div>
        <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h2>Challenge Title:</h2>
                        <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" name="title" v-model="challenge.title">
                        <span class="text-danger">{{ errors.first('title') }}</span>
                    </div>
                </div>
            </div>

            <h2>Description:</h2>
            <textarea class="admin-chlng-fit-top-txtara" v-validate="'required'" name="description" v-model="challenge.description"></textarea>
            <span class="text-danger">{{ errors.first('description') }}</span>

            <div class="clearfix"></div>

            <div class="col-12 pt-2"><input type="file" id="upload" name="file">
                <div class="mb-2">
                    <label>Challenge Video: </label>
                    <div class="video-area" v-if="selectedVideo">
                        <video ref="videoEl" :poster="`${baseUrl}/images/video-poster.jpg`">
                            <source :src="selectedVideo" />
                        </video>
                        <div class="fa fa-times" v-if="editAble" @click="removefile"></div>
                        <div class="fa fa-play-circle" v-if="!playing" @click="() => { $refs.videoEl.play(); playing=true }"></div>
                    </div>
                    <input type="file" @change="videoSelected($event)" class="d-none" ref="video" name="file">
                    <button name="file" v-if="!selectedVideo" class="health-wealth-ekbook-upload-btn" @click.prevent="$refs.video.click()">Upload Video <i class="fa fa-upload" aria-hidden="true"></i> </button>
                    <input type="hidden" accept="video/mp4" v-validate="videoValidationRole" v-model="challenge.video" name="video">
                    <span class="text-danger">{{ errors.first('video') }}</span>
                </div>
            </div>

            <div class="col-12">
                <div class="mb-2 mt-2 ">
                    <label>Gender</label>
                    <div class="blue-radio">
                        <input type="checkbox" :disabled="!editAble" value="1" id="male" checked="checked" name="gender" v-model="challenge.gender_for">Male
                        <!--<label for="male">Male</label>-->
                    </div>
                    <div class="blue-radio">
                        <input id="female" value="2" :disabled="!editAble" type="checkbox" checked="checked" name="gender" v-model="challenge.gender_for">Female
                        <!--<label for="female">Female</label>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mb-2" v-if="challenge.closed">
                    <label>User Limit</label>
                    <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric|min_value:1`" v-model="challenge.user_limit" name="user limit">
                    <span class="text-danger">{{ errors.first('user limit') }}</span>
                </div>
                <div class="mb-2" v-if="challenge.closed">
                    <label>Fee</label>
                    <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric|min_value:1`" v-model="challenge.fee" name="fee">
                    <span class="text-danger">{{ errors.first('fee') }}</span>
                </div>
                <div class="mb-2">
                    <label>Points</label>
                    <input type="text" :disabled="!editAble" class="admin-chlng-fit-top-input" v-validate="`required|numeric`" v-model="challenge.points" name="points">
                    <span class="text-danger">{{ errors.first('points') }}</span>
                </div>
                <div class="mb-2">
                    <label>
                        <input type="checkbox" :disabled="!editAble" v-model="challenge.isPrize" :value="false">Cash Prize
                    </label>
                    <input type="text" :disabled="!editAble" v-validate="{ required: challenge.isPrize, numeric:true }" class="admin-chlng-fit-top-input" v-model="challenge.prize" name="prize">
                    <span class="text-danger">{{ errors.first('prize') }}</span>
                </div>
                <button type="submit" class="cnt-btnn2">Save</button>
            </div>
        </div>
        <!--col end-->
    </form>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";

    export default {
        components: { Cropper },
        props: [ 'challenge' ],
        data(){
            return {
                editing: false,
                personalImage: '',
                selectedVideo: undefined,
                playing: false,
                shouldValidate: false
            }
        },
        mounted() {
            this.personalImage = this.challenge.image;
            this.selectedVideo = this.baseUrl + '/storage/' + this.challenge.video;
            this.challenge.isPrize = this.challenge.prize > 0;
        },
        computed: {
            editAble() {
                return this.challenge.subscribers.filter(subscriber => subscriber.pivot.status === 1).length === 0
            },
            videoValidationRole(){
                let $roles = { required: false };

                if(this.shouldValidate)
                {
                    $roles = {
                        required: false,
                        mimes: 'video/mp4'
                    };
                }

                return $roles;
            }
        },
        methods: {
            validateSave() {
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    this.save();
                });
            },
            save() {
                let data = new FormData();

                for ( let key in this.challenge ) {
                    if(['phases', 'subscribers'].includes(key))
                        continue;
                    data.append(key, this.challenge[key])
                }

                axios.post(`fitness/challenges/${this.challenge.id}`, data, {headers: { 'Content-Type': 'multipart/form-data' }})
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success");
                        this.editing = false;
                    });
            },
            imageChanged(data){
                this.challenge.image = data;
                this.personalImage = data;
            },
            removefile() {
                this.selectedVideo=undefined;
                this.playing = false;
                URL.revokeObjectURL(this.challenge.video);
                this.challenge.video = undefined;
            },
            videoSelected(event){
                this.shouldValidate = true;
                this.$validator.attach('video', 'required|mimes:video/mp4');
                this.$validator.validate('video', event.target.files[0]).then(result => {
                    if(!result) return;
                    this.selectedVideo = URL.createObjectURL(event.target.files[0]);
                    this.challenge.video = (event.target.files[0]);
                });
            },
        }
    }
</script>
