<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <form @submit.prevent="save" id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>
                                            <a href="#" @click.prevent="redirectBack" class="profile-back">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </a>
                                            New {{ challenge.closed? 'Closed': 'Invitation'}} Challenge
                                        </h1>
                                        <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'details'">1. Challenge Details</h3>
                                        <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'phases'">2. Phase Details</h3>
                                        <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'criteria'">3. Passing Criteria & Phase Scheduling</h3>
                                        <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'invite_members'">4. Invite Members</h3>

                                        <!-- Details Start -->
                                        <div v-if="steps === 'details'" class="row">
                                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">

                                                <cropper :src="personalImage? personalImage: `${baseUrl}/images/Cost-trivia-Add-1_03.png`" @imageChanged="imageChanged($event)"></cropper>

                                                <input type="hidden" v-validate="'required'" v-model="personalImage" name="image">
                                                <span class="text-danger">{{ errors.first('image') }}</span>

                                                <!--<input type="file" ref="thumbnail" class="d-none" name="file">
                                                <button name="file" class="upload-admin-img" @click="$refs.thumbnail.click()">
                                                    <img :src="`${baseUrl}/images/upload-img_03.jpg`" class="img-fluid" alt="Thumbnails">
                                                </button>-->
                                            </div>
                                            <!--col end-->

                                            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                                                <div class="admin-add-user-main pt-0">
                                                    <div class="mb-2">
                                                        <label>Challenge Title:</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" name="title" v-model="challenge.title">
                                                        <span class="text-danger">{{ errors.first('title') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Description:</label>
                                                        <textarea class="admin-chlng-fit-top-txtara" v-validate="'required'" name="description" v-model="challenge.description"></textarea>
                                                        <span class="text-danger">{{ errors.first('description') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Challenge Video: </label>
                                                        <div class="video-area" v-if="selectedVideo">
                                                            <video ref="videoEl"  :poster="`${baseUrl}/images/video-poster.jpg`">
                                                                <source :src="selectedVideo" />
                                                            </video>
                                                            <div class="fa fa-times" @click="removefile"></div>
                                                            <div class="fa fa-play-circle" v-if="!playing" @click="() => { $refs.videoEl.play(); $refs.videoEl.setAttribute('controls','controls'); playing=true }"></div>
                                                        </div>
                                                        <input type="file" @change="videoSelected($event)" class="d-none" ref="video" name="file">
                                                        <button type="button" v-if="!selectedVideo" class="health-wealth-ekbook-upload-btn" @click.prevent="$refs.video.click()">Upload Video <i class="fa fa-upload" aria-hidden="true"></i> </button>
                                                        <input type="hidden" accept="video/mp4" v-validate="'required|mimes:video/mp4'" v-model="challenge.video" name="video">
                                                        <span class="text-danger">{{ errors.first('video') }}</span>
                                                    </div>
                                                    <div class="mb-2 ">
                                                        <label>Gender</label>
                                                        <div class="blue-radio">
                                                            <input type="checkbox" v-validate="'required'" value="1" id="male" checked="checked" name="gender" v-model="challenge.gender_for">Male
                                                            <!--<label for="male">Male</label>-->
                                                        </div>
                                                        <div class="blue-radio">
                                                            <input id="female" value="2" v-validate="'required'" type="checkbox" checked="checked" name="gender" v-model="challenge.gender_for">Female
                                                            <!--<label for="female">Female</label>-->
                                                        </div>
                                                        <span class="text-danger">{{ errors.first('gender') }}</span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="mb-2" v-if="challenge.closed">
                                                        <label>User Limit</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric|min_value:1`" v-model="challenge.user_limit" name="user limit">
                                                        <span class="text-danger">{{ errors.first('user limit') }}</span>
                                                    </div>
                                                    <div class="mb-2" v-if="challenge.closed">
                                                        <label>Fee</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric|min_value:1`" v-model="challenge.fee" name="fee">
                                                        <span class="text-danger">{{ errors.first('fee') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Points</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric`" v-model="challenge.points" name="points">
                                                        <span class="text-danger">{{ errors.first('points') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>
                                                            <input type="checkbox" v-model="challenge.isPrize" :value="false">Cash Prize
                                                        </label>
                                                        <input type="text" v-validate="{ required: challenge.isPrize, numeric:true, max_value: challenge.isPrize? 1000000: 0, min_value: challenge.isPrize? 1: 0 }" class="admin-chlng-fit-top-input" v-model="challenge.prize" name="prize">
                                                        <span class="text-danger">{{ errors.first('prize') }}</span>
                                                    </div>
                                                    <button class="cnt-btnn2" @click="changeStep('phases')">Phase Details <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <!--col end-->
                                        </div>
                                        <!-- Details End-->

                                        <!-- Phases Start -->
                                        <div v-if="steps === 'phases'">
                                            <template v-for="(phase,index) in challenge.phases">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="red-text mb-2"><strong>Phase {{ index + 1 }}: </strong></h5>
                                                    </div>
                                                    <div class="col-6" v-if="challenge.phases.length > 1">
                                                        <a @click.prevent="removePhase(index)" href="#" class="admin-fftp-adduser-h5 pull-right mb-0">
                                                            Remove <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <!--<input type="file" id="upload" name="file" accept="image/*">
                                                        <button name="file" class="upload-admin-img" onclick="document.getElementById('upload').click()">
                                                            <img :src="`${baseUrl}/images/upload-img_03.jpg`" class="img-fluid" alt="">
                                                        </button>-->
                                                        <cropper
                                                            :el-idx="index"
                                                            :src="phase.image? phase.image: `${baseUrl}/images/upload-img.jpg`"
                                                            @imageChanged="imageChanged($event, index)"
                                                        ></cropper>
                                                        <input type="hidden" v-validate="{'required' : phase.id? false: true}" :name="`phase${index}imageForError`" v-model="phase.imageForError">
                                                        <span class="text-danger" v-if="errors.first(`phase${index}imageForError`)">{{ errors.first(`phase${index}imageForError`).replace(`phase${index}imageForError`, 'image') }}</span>

                                                    </div>
                                                    <!--col end-->
                                                    <div class="col-lg-10 col-md-10 col-sm-12">
                                                        <div class="admin-add-user-main pt-0">
                                                            <div class="mb-2">
                                                                <label>Exercise Title:</label>
                                                                <input type="text" class="admin-chlng-fit-top-input" placeholder="Exercise Title" :name="`title${index}`" v-model="phase.title" v-validate="'required'">
                                                                <span class="text-danger" v-if="errors.has(`title${index}`)">{{ errors.first(`title${index}`).replace(index, "") }}</span>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label>Reps</label>
                                                                <input type="text" class="admin-chlng-fit-top-input" placeholder="5" v-model="phase.reps" :name="`reps${index}`" v-validate="'required|numeric'">
                                                                <span class="text-danger" v-if="errors.has(`reps${index}`)">{{ errors.first(`reps${index}`).replace(index, "") }}</span>
                                                            </div>
                                                            <div class="mb-2">
                                                                <label>Description:</label>
                                                                <textarea class="admin-chlng-fit-top-txtara" :name="`description${index}`" v-model="phase.description" v-validate="'required'" placeholder=""></textarea>
                                                                <span class="text-danger" v-if="errors.has(`description${index}`)">{{ errors.first(`description${index}`).replace(index, "") }}</span>

                                                                <div v-if="challenge.phases.length === (index+1)" class="row">
                                                                    <div class="col-12" v-if="challenge.phases.length < 4">
                                                                        <a href="#" @click.prevent="addPhase" class="green-btn-project2 float-left">
                                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> New Phase
                                                                        </a>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-12 col-md-12" @click="changeStep('details', true)">
                                                                        <button class="cnt-btnn2">
                                                                            <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Challenge details
                                                                        </button>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                                                        <button class="cnt-btnn2" @click="changeStep('criteria')" type="button">
                                                                            Passing Criteria &amp; Phase Scheduling <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i>
                                                                        </button>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--col end-->
                                                    <div class="col-12">
                                                        <hr class="mt-2 mb-2">
                                                    </div>

                                                </div>
                                            </template>
                                        </div>
                                        <!-- Phases Dnd-->

                                        <!-- Criteria Start -->
                                        <div v-if="steps === 'criteria'">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-10 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h2>Passing Criteria</h2>
                                                        </div>

                                                        <div class="col-md-5 col-sm-12" v-if="challenge.gender_for.includes('1')">
                                                            <h3 class="emply-chanlng-span text-left pb-1 pt-1 red-text">For Male  </h3>
                                                            <div class="passing">
                                                                <div class="row">
                                                                    <template v-for="(phase, index) in challenge.phases">
                                                                        <div class="col-6">
                                                                            <label>Phase {{ index + 1 }}</label>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <input type="text"
                                                                                   v-model="phase.passing_male_criteria"
                                                                                   v-validate="{
                                                                                       required: phase.passing_female_criteria !== 100,
                                                                                       numeric: true,
                                                                                       min_value: phase.passing_female_criteria > 0? 0: 1,
                                                                                       max_value: 100 - (phase.passing_female_criteria || 0) < 0? 100: 100 - (phase.passing_female_criteria || 0),
                                                                                   }"
                                                                                   :name="`percentage${index}m`"
                                                                                   placeholder="50" class="small-filed-80">
                                                                            <span class="text-danger" v-if="errors.has(`percentage${index}m`) && !errors.has(`percentage${index}f`)">{{ errors.first(`percentage${index}m`).replace(index + 'm', "") }}</span>
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 col-sm-12" v-if="challenge.gender_for.includes('2')">
                                                            <h3 class="emply-chanlng-span text-left pb-1 pt-1 red-text">For Female </h3>
                                                            <div class="passing">
                                                                <div class="row">
                                                                    <template v-for="(phase, index) in challenge.phases">
                                                                        <div class="col-6">
                                                                            <label>Phase {{ index + 1 }}</label>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <input type="text"
                                                                                   v-model="phase.passing_female_criteria"
                                                                                   v-validate="{
                                                                                       required: phase.passing_male_criteria !== 100,
                                                                                       numeric: true,
                                                                                       min_value: phase.passing_male_criteria > 0? 0: 1,
                                                                                       max_value: 100 - (phase.passing_male_criteria || 0) < 0? 100: 100 - (phase.passing_male_criteria || 0),
                                                                                   }"
                                                                                   :name="`percentage${index}f`"
                                                                                   placeholder="50" class="small-filed-80">
                                                                            <span class="text-danger" v-if="errors.has(`percentage${index}f`)">{{ errors.first(`percentage${index}f`).replace(index+'f', "") }}</span>
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <h3 class="emply-chanlng-span text-left pb-1 pt-1">Phase Scheduling </h3>
                                                        </div>

                                                        <div class="maain-tabble table-responsive">
                                                            <table class="table table-striped table-bordered zero-configuration">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Phases</th>
                                                                        <th>Start Date</th>
                                                                        <th>Start Time</th>
                                                                        <th>End Date</th>
                                                                        <th>End Time</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr v-for="(phase, index) in challenge.phases">
                                                                        <td>Phase {{ index + 1 }} </td>
                                                                        <td>
                                                                            <input @change="prepareDatetime(index, true)" type="date" v-validate="{required: index === 0, after : index === 0? minStartDate: challenge.phases[index-1].start_date}" v-model="phase.start_date" :name="`start date${index}`" class="small-filed-150">
                                                                            <span class="text-danger" v-if="errors.has(`start date${index}`)">{{ errors.first(`start date${index}`).replace(/date[0-4]/, 'date').replace('yyyy-MM-dd', 'mm/dd/yyyy') }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <input @change="prepareDatetime(index, true)" v-validate="{required: index === 0}" type="time" v-model="phase.start_time" :name="`start time${index}`" class="small-filed-150">
                                                                            <span class="text-danger" v-if="errors.has(`start time${index}`)">{{ errors.first(`start time${index}`).replace(/time[0-4]/, 'time') }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <input @change="prepareDatetime(index, false)" type="date" v-validate="{required: index === 0, after: index === 0? phase.start_date: challenge.phases[index-1].end_date}" v-model="phase.end_date" :name="`end date${index}`" class="small-filed-150">
                                                                            <span class="text-danger" v-if="errors.has(`end date${index}`)">{{ errors.first(`end date${index}`).replace(/date[0-4]/, 'date').replace('yyyy-MM-dd', 'mm/dd/yyyy') }}</span>
                                                                        </td>
                                                                        <td>
                                                                            <input @change="prepareDatetime(index, false)" v-validate="{required: index === 0}" type="time" v-model="phase.end_time" :name="`end time${index}`" class="small-filed-150">
                                                                            <span class="text-danger" v-if="errors.has(`end time${index}`)">{{ errors.first(`end time${index}`).replace(/time[0-4]/, 'time') }}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                                    <button @click.prevent="changeStep('phases', true)" type="button " class="cnt-btnn2"> <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Challenge details </button>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" v-if="challenge.closed">
                                                    <button class="cnt-btnn2 float-xl-right">Create Challenge</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" v-else>
                                                    <button type="button" @click.prevent="changeStep('invite_members', false)" class="cnt-btnn2 float-xl-right">Invite Members <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></button>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <!--col end-->
                                            </div>
                                            <!--row end-->
                                        </div>
                                        <!-- Criteria End -->

                                        <!-- Invite Members Start -->
                                        <div v-if="steps === 'invite_members'">

                                            <members :gender="challenge.gender_for" @selectionUpdated="selectedUsers = $event"></members>

                                            <div class="row">
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                                    <button class="cnt-btnn2" @click.prevent="changeStep('criteria', true)" type="button">
                                                        <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Phase Details
                                                    </button>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                                    <button :disabled="saving" type="submit" class="cnt-btnn2 float-right">Create Challenge</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <!--col end-->
                                            </div>
                                        </div>
                                        <!-- Invite Members End -->
                                    </div>
                                    <!--col  end-->
                                </div>
                                <!--row end-->
                            </div>
                        </div>
                    </div>
                </form>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";
    import Members from "./Members";

    export default {
        components: { Cropper, Members },
        data(){
            return {
                steps: 'details',
                // steps: 'criteria',
                // steps: 'invite_members',
                personalImage: "",
                selectedVideo: undefined,
                minStartDate: '',
                challenge: {
                    title: '',
                    video: undefined,
                    description: '',
                    gender_for: [],
                    user_limit: '0',
                    fee: '',
                    prize: '0',
                    points: '',
                    isPrize: false,
                    phases: [],
                    closed: true,
                },
                playing: false,
                selectedUsers: [],
                phaseSample: {
                    title: '',
                    reps: '',
                    description: '',
                    image: '',
                    passing_male_criteria: '',
                    passing_female_criteria: '',
                    start_date: '',
                    start_time: '',
                    end_date: '',
                    end_time: '',
                    imageForError: ``
                },
                saving: false
            }
        },
        created() {
            this.setMinStartDate();

            this.addPhase();
            // this.addPhase();
            this.challenge.closed = this.$route.name === 'fitness.challenges.create.closed';
        },
        methods: {
            setMinStartDate(){
                const d = new Date();
                d.setDate(d.getDate()-1);
                d.setHours(0, 0, 0);
                let date = d.getDate().toString().padStart(2, 0);
                let month = (d.getMonth() + 1).toString().padStart(2, 0);
                let year = d.getFullYear();
                this.minStartDate = `${year}-${month}-${date}`;
                // this.minStartDate = `${year}/${month}/${date}`;
            },
            changeStep(step, back = false) {
                if(back)
                    this.steps = step;

                if(!back)
                    this.$validator.validateAll().then( result => {
                        if(!result) return; this.steps = step;
                    });
            },
            removefile() {
                this.selectedVideo=undefined;
                this.playing = false;
                URL.revokeObjectURL(this.challenge.video);
                setTimeout(() => { this.$refs.video.value = ''; }, 0)
            },
            addPhase(){
                this.challenge.phases.push(Object.assign({}, this.phaseSample));
            },
            removePhase(index) {
                this.$dialog.confirm('Do you want to delete this record?').then(dialog => {
                    this.challenge.phases.splice(index, 1);
                    dialog.close();
                })
            },
            imageChanged(data, index=-1){
                if(index >= 0) {
                    this.challenge.phases[index].image = data;
                    this.challenge.phases[index].imageForError = data;
                }else {
                    this.challenge.image = data;
                    this.personalImage = data;
                }
            },
            videoSelected(event){
                this.$validator.attach('video', 'required|mimes:video/mp4');
                this.$validator.validate('video', event.target.files[0]).then(result => {
                    if(!result) return;
                    this.selectedVideo = URL.createObjectURL(event.target.files[0]);
                    this.challenge.video = (event.target.files[0]);
                });
            },
            save(){
                this.$validator.validateAll().then( result => {
                    if(!result) return;

                    if(!this.challenge.closed && this.selectedUsers.length === 0) {
                        this.$toastr.error("Please select at least 1 members to be invited");
                        return;
                    }

                    let data = new FormData();

                    for ( let key in this.challenge ) {
                        if(key === 'gender_for') {
                            this.challenge[key].forEach((row,idx) => {
                                data.append(`${key}[${idx}]`, row);
                            });
                        } else if(Array.isArray(this.challenge[key])) {
                            this.challenge[key].forEach((row,idx) => {
                                for ( let key1 in row ) { data.append(`${key}[${idx}][${key1}]`, row[key1]) }
                            });
                        }
                        else {
                            if(key === 'closed')
                                data.append(key, this.challenge[key]? 'true': 'false');
                            else
                                data.append(key, this.challenge[key]);
                        }
                    }

                    data.append('user_ids', this.selectedUsers.join(','));

                    this.save = true;
                    axios.post(`fitness/challenges`, data)
                        .then(data => {
                            this.$toastr.success(data.data.message, "Fitness Challenge");
                            URL.revokeObjectURL(this.selectedVideo);
                            // this.save = true;
                            this.$router.push({ name: this.$route.name.replace('create', 'index') })
                        });
                });
            },
            prepareDatetime(phaseIndex, startedAt){
                const col = startedAt? 'start': 'end';
                const phase = this.challenge.phases[phaseIndex];
                this.challenge.phases[phaseIndex][col+"ed_at"] = phase[col+"_date"] + " " + phase[col+"_time"]
            },
        },

    }
</script>

<style>
    /*input[type=radio]+label {
        color: black;
        width: auto;
        height: unset;
        background: transparent;
        border-radius: unset;
        border: unset;
        position: relative;
        margin-right: 15px;
        top: unset;
        left: unset;
    }
    input[type=radio]:checked + label {
        color: red;
    }*/
    .blue-radio input {opacity: 1;background: transparent;-webkit-appearance: none;width: 20px;height: 20px;background: #ccc;border-radius: 50%;position: absolute;top: 3px;}
    .blue-radio input:checked {background: #ee2c48;}
    .video-area .fa.fa-times {
        background: rgba(0, 0, 0, .5);
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
