<template>
    <h3 class="emply-chanlng-span text-left pb-3">1. Challenge Details</h3>
<!--    <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'phases'">2. Phase Details</h3>-->
<!--    <h3 class="emply-chanlng-span text-left pb-3" v-if="steps === 'criteria'">3. Passing Criteria & Phase Scheduling</h3>-->

    <div v-if="steps === 'details'" class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">

            <cropper :src="personalImage? personalImage: `${baseUrl}/images/Cost-trivia-Add-1_03.png`" @imageChanged="imageChanged($event)"></cropper>

            <input type="hidden" v-validate="'required'" v-model="personalImage" name="image">
            <span class="text-danger">{{ errors.first('image') }}</span>

            <!--                                                <input type="file" ref="thumbnail" class="d-none" name="file">-->
            <!--                                                <button name="file" class="upload-admin-img" @click="$refs.thumbnail.click()">-->
            <!--                                                    <img :src="`${baseUrl}/images/upload-img_03.jpg`" class="img-fluid" alt="Thumbnails">-->
            <!--                                                </button>-->
        </div>
        <!--col end-->

        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="admin-add-user-main pt-0">
                <div class="mb-2">
                    <label>Challenge Title:</label>
                    <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" name="title" v-model="challenge.title">
                    <span class="text-danger">{{ errors.first('title') }}</span>
                </div>
                <div class="mb-2">
                    <label>Description:</label>
                    <textarea class="admin-chlng-fit-top-txtara" v-validate="'required'" name="description" v-model="challenge.description"></textarea>
                    <span class="text-danger">{{ errors.first('description') }}</span>
                </div>
                <div class="mb-2">
                    <label>Challenge Video: </label>
                    <div class="video-area" v-if="selectedVideo">
                        <video ref="videoEl" :poster="`${baseUrl}/images/video-poster.jpg`">
                            <source :src="selectedVideo" />
                        </video>
                        <div class="fa fa-times" @click="removefile"></div>
                        <div class="fa fa-play-circle" v-if="!playing" @click="() => { $refs.videoEl.play(); playing=true }"></div>
                    </div>
                    <input type="file" @change="videoSelected($event)" class="d-none" ref="video" name="file">
                    <button name="file" v-if="!selectedVideo" class="health-wealth-ekbook-upload-btn" @click.prevent="$refs.video.click()">Upload Video <i class="fa fa-upload" aria-hidden="true"></i> </button>
                    <input type="hidden" v-validate="'required|mimes:video/mp4'" v-model="challenge.video" name="video">
                    <span class="text-danger">{{ errors.first('video') }}</span>
                </div>
                <div class="mb-2 ">
                    <label>Gender</label>
                    <div class="blue-radio">
                        <input type="radio" value="male" id="male" checked="checked" name="radio" v-model="challenge.gender">Male
                        <!--<label for="male">Male</label>-->
                    </div>
                    <div class="blue-radio">
                        <input id="female" value="female" type="radio" checked="checked" name="radio" v-model="challenge.gender">Female
                        <!--<label for="female">Female</label>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mb-2">
                    <label>Points</label>
                    <input type="text" class="admin-chlng-fit-top-input" v-validate="`required|numeric`" v-model="challenge.points" name="points">
                    <span class="text-danger">{{ errors.first('points') }}</span>
                </div>
                <div class="mb-2">
                    <label>
                        <input type="checkbox" v-model="challenge.isPrize" :value="false">Cash Prize
                    </label>
                    <input type="text" v-validate="{ required: challenge.isPrize, numeric:true }" class="admin-chlng-fit-top-input" v-model="challenge.prize" name="prize">
                    <span class="text-danger">{{ errors.first('prize') }}</span>
                </div>
                <button class="cnt-btnn2" @click="changeStep('phases')">Phase Details <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></button>
            </div>
        </div>
        <!--col end-->

    </div>
    <!--row end-->
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";
    import VideoValidation from '@validations/VideoValidations';

    export default {
        components: { Cropper },
        data(){
            return {
                steps: 'details',
                personalImage: "",
                selectedVideo: undefined,
                challenge: {
                    title: '',
                    video: undefined,
                    description: '',
                    gender: 'male',
                    prize: undefined,
                    points: undefined,
                    isPrize: false,
                    phases: [
                        {
                            title: '',
                            reps: '',
                            description: '',
                            image: ''
                        }
                    ],
                },
                closed: true,
                playing: false,
            }
        },
        created() {
            this.$validator.extend('video', VideoValidation);
        },
        methods: {
            changeStep(step) {
                this.$validator.validateAll().then( result => {
                    if(!result) return; this.steps = step;
                });
            },
            removefile() {
                this.selectedVideo=undefined;
                this.playing = false;
                URL.revokeObjectURL(this.challenge.video);
            },
            imageChanged(data){
                this.personalImage = data;
                this.challenge.image = data;
            },
            videoSelected(event){
                this.$validator.attach('video', 'required|mimes:video/mp4');
                this.$validator.validate('video', event.target.files[0]).then(result => {
                    if(!result) return;
                    this.selectedVideo = URL.createObjectURL(event.target.files[0]);
                    this.challenge.video = (event.target.files[0]);
                });
            },
            save(){
                this.$validator.validateAll().then( result => {
                    if(!result) return;
                    let data = new FormData();
                    for ( let key in this.challenge ) data.append(key, this.challenge[key]);
                    axios.post(`fitness/challenges`, data)
                        .then(d => {
                            URL.revokeObjectURL(this.challenge.video);
                        });
                })
            }
        }
    }
</script>

<style>
    /*input[type=radio]+label {
        color: black;
        width: auto;
        height: unset;
        background: transparent;
        border-radius: unset;
        border: unset;
        position: relative;
        margin-right: 15px;
        top: unset;
        left: unset;
    }
    input[type=radio]:checked + label {
        color: red;
    }*/
    .blue-radio input {opacity: 1;background: transparent;-webkit-appearance: none;width: 20px;height: 20px;background: #ccc;border-radius: 50%;position: absolute;top: 3px;}
    .blue-radio input:checked {background: #ee2c48;}
</style>
