<template>
    <form @submit.prevent="validateSave">
        <div class="row admin-add-user-main p-0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between flex-lg-row flex-sm-column flex-md-column flex-column">
                            <h2>Passing Criterisa</h2>
                            <div>
                                <a href="#" @click.prevent="editing = true" v-if="!editing" class="admin-fftp-adduser-h5 pull-right mb-0">
                                    Edit <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3 class="emply-chanlng-span text-left pb-1 pt-1 red-text">For Male</h3>
                        <div class="passing">
                            <div class="row">
                                <template v-for="(phase,index) in phases">
                                    <div class="col-6">
                                        <label>Phase {{ index + 1}}</label>
                                    </div>
                                    <div class="col-6">
                                        <span v-if="!editing">{{ phase.passing_male_criteria }}%</span>
                                        <template v-else>
                                            <input type="text"
                                                   v-model="phase.passing_male_criteria"
                                                   v-validate="{
                                                       required: phase.passing_female_criteria !== 100,
                                                       numeric: true,
                                                       min_value: phase.passing_female_criteria > 0? 0: 1,
                                                       max_value: 100 - (phase.passing_female_criteria || 0) < 0? 100: 100 - (phase.passing_female_criteria || 0),
                                                   }"
                                                   :readonly="!hasStarted"
                                                   :name="`male percentage${index}`"
                                                   placeholder="50" class="small-filed-80">
                                            <span class="text-danger" v-if="errors.has(`male percentage${index}`)">{{ errors.first(`male percentage${index}`).replace(index, "") }}</span>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3 class="emply-chanlng-span text-left pb-1 pt-1 red-text">For Female</h3>
                        <div class="passing">
                            <div class="row">
                                <template v-for="(phase,index) in phases">
                                    <div class="col-6">
                                        <label>Phase {{ index + 1}}</label>
                                    </div>
                                    <div class="col-6">
                                        <span v-if="!editing">{{ phase.passing_female_criteria }}%</span>
                                        <template v-else>
                                            <input type="text"
                                                   v-model="phase.passing_female_criteria"
                                                   v-validate="{
                                                       required: phase.passing_male_criteria !== 100,
                                                       numeric: true,
                                                       min_value: phase.passing_male_criteria > 0? 0: 1,
                                                       max_value: 100 - (phase.passing_male_criteria || 0) < 0? 100: 100 - (phase.passing_male_criteria || 0),
                                                   }"
                                                   :readonly="!hasStarted"
                                                   :name="`female percentage${index}`"
                                                   placeholder="50" class="small-filed-80">
                                            <span class="text-danger" v-if="errors.has(`female percentage${index}`)">{{ errors.first(`female percentage${index}`).replace(index, "") }}</span>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--col end-->

        </div>
        <div class="col-12">
            <h3 class="emply-chanlng-span text-left pb-1 pt-1">Phase Scheduling</h3>
        </div>
        <div class="maain-tabble table-responsive">
            <table class="table table-striped table-bordered zero-configuration">
                <thead>
                <tr>
                    <th>Phases</th>
                    <th>Start Date</th>
                    <th>Start Time</th>
                    <th>End Date</th>
                    <th>End Time</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(phase, index) in phases">
                    <td>Phase {{index + 1}}</td>
                    <td>
                        <template v-if="!editing">
                            {{ phase.started_at | date }}
                        </template>
                        <template v-else>
                            <input :readonly="phase.hasStarted" @change="prepareDatetime(index, true)" type="date"
                            v-validate="{
                                required: index === 0,
                                after: phase.hasStarted? false: index === 0 ? minStartDate : ((new Date(phases[index-1].end_date) < new Date(minStartDate)) ? minStartDate : phases[index-1].end_date)
                            }" v-model="phase.start_date" :name="`start date${index}`" placeholder="50" class="small-filed-150">
                            <span class="text-danger" v-validate="'required'" v-if="errors.has(`start date${index}`)">{{ errors.first(`start date${index}`).replace(/date[0-4]/, 'date').replace('yyyy-MM-dd', 'mm/dd/yyyy') }}</span>
                        </template>
                    </td>
                    <td>
                        <template v-if="!editing">
                            {{ phase.started_at | time }}
                        </template>
                        <template v-else>
                            <input :readonly="phase.hasStarted" @change="prepareDatetime(index, true)" type="time" v-model="phase.start_time" :name="`start time${index}`" placeholder="50" class="small-filed-150">
                            <span class="text-danger" v-validate="'required'" v-if="errors.has(`start time${index}`)">{{ errors.first(`start time${index}`).replace(/date[0-4]/, 'date').replace('yyyy-MM-dd', 'mm/dd/yyyy') }}</span>
                        </template>
                    </td>
                    <td>
                        <template v-if="!editing">
                            {{ phase.ended_at | date }}
                        </template>

                        <template v-else>
                            <input :readonly="phase.hasStarted" @change="prepareDatetime(index, false)" type="date"
                             v-validate="{
                                required: index === 0,
                                after: phase.hasStarted? false: index === 0 ? minStartDate : (phase.start_date) ? phase.start_date: minStartDate
                            }" v-model="phase.end_date" :name="`end date${index}`" placeholder="50" class="small-filed-150">
                            <span class="text-danger" v-if="errors.has(`end date${index}`)">{{ errors.first(`end date${index}`).replace(/date[0-4]/, 'date').replace('yyyy-MM-dd', 'mm/dd/yyyy') }}</span>
                        </template>
                    </td>
                    <td>
                        <template v-if="!editing">
                            {{ phase.ended_at | time }}
                        </template>
                        <template v-else>
                            <input :readonly="phase.hasStarted" @change="prepareDatetime(index, false)" type="time" v-model="phase.end_time" :name="`end time${index}`" placeholder="50" class="small-filed-150">
                            <span class="text-danger" v-if="errors.has(`end time${index}`)">{{ errors.first(`end time${index}`) }}</span>
                        </template>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <button v-if="editing" type="submit" class="cnt-btnn2 mr-2">save</button>
<!--            <button v-if="editing" @click="editing=false" type="submit" class="cnt-btnn2">Cancel</button>-->
        </div>
    </form>
</template>

<script>

    export default {
        props: [ 'phases', 'hasStarted'],
        data(){
            return {
                editing: true,
                playing: false,
                minStartDate: ''
            }
        },
        mounted() {
            this.setMinStartDate();
            this.phases.forEach(phase => {
                phase.hasStarted = phase.started_at !== null && new Date() > new Date(phase.started_at);

                phase.start_date = phase.started_at.substr(0, 10);
                phase.start_time = phase.started_at.substr(11);
                phase.end_date = phase.ended_at.substr(0, 10);
                phase.end_time = phase.ended_at.substr(11);
            });

        },
        computed: {
            validationForPhase(index){
                console.log(index);
                return {
                    required : true
                };
            }
        },
        methods: {
            setMinStartDate(){
                const d = new Date();
                d.setDate(d.getDate()-1);
                d.setHours(0, 0, 0);
                let date = d.getDate().toString().padStart(2, 0);
                let month = (d.getMonth() + 1).toString().padStart(2, 0);
                let year = d.getFullYear();
                this.minStartDate = `${year}-${month}-${date}`;
                console.log(this.minStartDate);
                // this.minStartDate = `${year}/${month}/${date}`;
            },
            validateSave() {
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    this.save();
                });
            },
            save() {
                axios.put(`fitness/phase/${this.phases[0].id}`, { phases: this.phases})
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success");
                        this.editing = false;
                    });
            },
            prepareDatetime(phaseIndex, startedAt){
                const col = startedAt? 'start': 'end';
                const phase = this.phases[phaseIndex];
                this.phases[phaseIndex][col+"ed_at"] = phase[col+"_date"] + " " + phase[col+"_time"]
            },
        }
    }
</script>
