<template>
    <div>
        <table ref="table" id="testTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th v-for="column in columns">{{ column }}</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr v-for="user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.name }}</td>
            </tr>-->
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        props: ['columns'],
        data(){
            return {
                users: [
                    { id: 1, name: "Arif iqbal" },
                    { id: 2, name: "Mohammad Sohaib"},
                    { id: 3, name: "Demo name"},
                ]
            }
        },
        created() {
            setTimeout(() => {
                $(this.$refs.table).DataTable({
                    // "processing": true,
                    // "serverSide": true,
                    // "ajax": "test-datatable",
                    data: this.users,
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        {
                            sortable: false,
                            "render": function ( data, type, full, meta ) {
                                var buttonID = "withdraw_"+full.id;
                                return '<a id='+buttonID+' class="btn btn-warning rescindBtn" role="button">Withdraw</a>';
                            }
                        },
                    ]
                })
            })
        },
        methods: {
        }
    }
</script>
