<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <h1>Fitness Challenges</h1>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <router-link v-if="$isAdmin" :to="{name: `fitness.challenges.create.${$route.meta.type}`}" class="green-btn-project">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Challenge
                                                </router-link>

                                                <router-link v-if="$isAdmin" :to="{ name: 'settings', params: { module: 'fitness'}}" class="fit-setting-a">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </router-link>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs nav-underline no-hover-bg mt-3">
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'fitness.challenges.index.invitation' }" class="nav-link" :class="{ active: $route.name === 'fitness.challenges.index.invitation'}">Invitation Challenges </router-link>
                                            </li>
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'fitness.challenges.index.closed' }" class="nav-link" :class="{ active: $route.name === 'fitness.challenges.index.closed'}">Closed Challenges</router-link>
                                            </li>
                                        </ul>
                                        <div class="tab-content pt-3">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="maain-tabble table-responsive">
                                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-6">
                                                                <table-length @lengthChanged="per_page = $event"></table-length>
                                                            </div>
                                                            <div class="col-sm-12 col-md-6">
                                                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                                    <label>Search:
                                                                        <input type="search" name="search" @input="validateAndSearch" v-validate="{regex: /^[_A-z0-9]*((-|\s)*[_A-z0-9])*$/}" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                                        <span v-if="errors.has('search')">Only alpha numeric characters is allowed.</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table v-if="challenges.data && challenges.data.length > 0" class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>S.no</th>
                                                                            <th>Challenge</th>
                                                                            <th>Phases</th>
                                                                            <th>Current Phase</th>
                                                                            <th>Start Date</th>
                                                                            <th>Users Joined</th>
                                                                            <th>Status</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr v-for="(challenge,index) in challenges.data"  :key="challenge.id">
                                                                        <td>{{ makeSerial(index + 1, challenges.meta? challenges.meta.current_page: 1, per_page) }}</td>
                                                                        <td>{{ challenge.title | limit(50) }}</td>
                                                                        <td>{{ challenge.phases_count }}</td>
                                                                        <td>{{ challenge.current_phase }}</td>
                                                                        <td>{{ challenge.phases[0].started_at | date }} </td>
                                                                        <td>{{ challenge.subscribers_count }}</td>
                                                                        <td>{{ challenge.status | status }}</td>
                                                                        <td>
                                                                            <div class="btn-group mr-1 mb-1">
                                                                                <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                    <!--<router-link class="dropdown-item" :to="{ name: 'fitness.challenges.edit.invitation', params: { id: challenge.id } }">
                                                                                        <i class="fa fa-pencil"></i>Edit
                                                                                    </router-link>-->
                                                                                    <router-link class="dropdown-item" :to="{ name: `fitness.challenges.show.${closed? 'closed': 'invitation'}`, params: { id: challenge.id } }">
                                                                                        <i class="fa fa-eye"></i>View
                                                                                    </router-link>
                                                                                    <a class="dropdown-item" href="#" @click.prevent="deleteChallenge(challenge.id)">
                                                                                        <i class="fa fa-trash"></i>Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p class="text-center" v-else>No results found.</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-5">
                                                                <div class="dataTables_info" v-if="challenges && challenges.meta && challenges.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ challenges.meta.from }} to {{ challenges.meta.to }} of {{ challenges.meta.total }} entries</div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-7">
                                                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                                    <pagination :data="challenges" @pagination-change-page="loadChallenges">
                                                                        <span slot="prev-nav">&lt; Previous</span>
                                                                        <span slot="next-nav">Next &gt;</span>
                                                                    </pagination>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--tab content end-->

                                    </div>
                                    <!--col  end-->

                                </div>
                                <!--row end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                challenges: {},
                per_page: 10,
                search_term: '',
                sortKey: 'created_at',
                closed: true,
            }
        },
        mounted() {
            this.loadChallenges();
        },
        methods: {
            loadChallenges(page = 1){
                this.closed = this.$route.meta.type === 'closed';
                axios.get(`/fitness/challenges?type=${this.$route.meta.type}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.challenges = data.data;
                        this.challenges.meta = {
                            current_page: data.data.current_page,
                            first_page_url: data.data.first_page_url,
                            from: data.data.from,
                            last_page: data.data.last_page,
                            last_page_url: data.data.last_page_url,
                            per_page: data.data.per_page,
                            to: data.data.to,
                            total: data.data.total,
                        };
                        this.isLoading = false;
                    });
            },
            validateAndSearch(){
                this.$validator.validateAll().then(result => {
                    if(!result)  return;
                    this.loadChallenges();
                });
            },

            deleteChallenge(id){

                this.$dialog.confirm("Are you sure you want delete this challenge?")
                    .then(dialog => {
                        axios.delete(`/fitness/challenges/${id}`).then(data => {
                            this.$toastr.success(data.data.message, 'Success');
                            this.loadChallenges();
                            dialog.close();
                        }).catch(e => {
                            this.$toastr.warning(e.response.data.message, 'Warning');
                            dialog.close();
                        });
                    });
            },
        },
        watch: {
            'per_page': 'loadChallenges',
            'blockedOnly': 'loadChallenges',
            '$route.name': 'loadChallenges',
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
