<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3 class="emply-chanlng-span text-left pb-1 pt-1">Invite Members </h3>
                    <h2 v-if="!challengeStarted">Select from the list of available members</h2>
                    <h2 v-else>Challenge result has been started.</h2>
                </div>
                <div class="col-md-4 col-sm-12 offset-lg-2 offset-md-2" v-if="!challengeStarted">
                    <h5 class="pb-1 pt-1 mt-1">Filter Points:</h5>
                    <form @submit.prevent="fetchFiltersResult" class="row">
                        <div class="col-lg-6">
                            <label>From</label>
                            <input v-model="filter.points_from" name="from" v-validate="'required|numeric|min_value:1'" type="text" class="w-100 pl-1 pr-1">
                            <span class="text-danger">{{ errors.first('from') }}</span>
                        </div>
                        <div class="col-lg-6">
                            <label>To</label>
                            <input v-model="filter.points_to" name="to" v-validate="`required|numeric|min_value:${Number(filter.points_from)+1}`" type="text" class="w-100 pl-1 pr-1">
                            <span class="text-danger">{{ errors.first('to') }}</span>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="filter-btn">Filter</button>
                        </div>
                    </form>
                    <h5 class="red-text mt-1" v-if="users.meta"><strong>Total Results : {{ users.meta.total }}</strong></h5>
                </div>
                <div class="maain-tabble table-responsive" v-if="!challengeStarted">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <table-length @lengthChanged="per_page = $event"></table-length>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>Search:
                                        <input type="search" @input="loadUsers" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                    <thead>
                                    <!--<th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                                        :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                        style="width: 40%; cursor:pointer;">
                                        {{column.label}}
                                    </th>-->
                                    <tr>
                                        <th>
                                            <input type="checkbox" v-model="selectAll">
                                            Select
                                        </th>
                                        <th>User ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Contact No</th>
                                        <th>Gender</th>
                                        <th>Registered On</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="users && users.data && users.data.length" v-for="(user) in users.data" :key="user.id">
                                        <td><input v-model="user.selected" :value="true" type="checkbox"></td>
                                        <td>{{ user.id }}</td>
                                        <td><img :src="user.image" class="tab-img">{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.contact }}</td>
                                        <td>{{ user.gender | gender }}</td>
                                        <td>{{ user.created_at | date }}</td>
                                        <td>{{ user.state.points}}</td>
                                    </tr>
                                    <tr v-if="users && users.data && !users.data.length">
                                        <td colspan="8"><p class="text-center">no record found!</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" v-if="users && users.meta && users.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ users.meta.from }} to {{ users.meta.to }} of {{ users.meta.total }} entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <!--<pagination :data="users" @pagination-change-page="loadUsers">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                    </pagination>-->

                                    <paginate
                                        v-if="users && users.meta"
                                        :page-count="users.meta.last_page"
                                        :click-handler="loadUsers"
                                        :prev-text="'Prev'"
                                        :next-text="'Next'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item pagination-page-nav'"
                                        :prev-class="'page-item pagination-page-nav'"
                                        :next-class="'page-item pagination-page-nav'"
                                        :page-link-class="'page-link'"
                                        :prev-link-class="'page-link'"
                                        :next-link-class="'page-link'"
                                    >
                                    </paginate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button v-if="!challengeStarted" type="button" @click="addMembers" class="cnt-btnn2">Add</button>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3 class="emply-chanlng-span text-left pb-1 pt-1">Members selected for the challenge </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-right">
                    <h5 class="red-text mt-2"><strong>Male: {{ maleCount }}	Female: {{ femaleCount }}</strong></h5>
                </div>
                <div class="maain-tabble table-responsive" v-if="selectedMembers.data">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <table-length @lengthChanged="selectedUserPerPage = $event"></table-length>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>Search:
                                        <input type="search" @input="loadUsers" v-model="selectedUserSearchTerm" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                    <thead>
                                    <!--<th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                                        :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                        style="width: 40%; cursor:pointer;">
                                        {{column.label}}
                                    </th>-->
                                    <tr>
                                        <th v-if="!challengeStarted">
                                            <input type="checkbox" v-model="selectAllMembers">
                                            Select
                                        </th>
                                        <th>User ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Contact No</th>
                                        <th>Gender</th>
                                        <th>Registered On</th>
                                        <th>Points</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="selectedMembers && selectedMembers.data.length" v-for="(user) in selectedMembers.data" :key="user.id">
                                        <td v-if="!challengeStarted">
                                            <input v-model="user.selected" type="checkbox" :disabled="user.pivot && user.pivot.status === 1">
                                        </td>
                                        <td>{{ user.id }}</td>
                                        <td><img :src="user.image" class="tab-img">{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.contact }}</td>
                                        <td>{{ (user.gender) | gender }}</td>
                                        <td>{{ user.created_at | date }}</td>
                                        <td>{{ user.state.points}}</td>
                                    </tr>
                                    <tr v-if="selectedMembers && selectedMembers.data && !selectedMembers.data.length">
                                        <td colspan="8"><p class="text-center">no record found!</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" v-if="selectedMembers && selectedMembers.meta && selectedMembers.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ selectedMembers.meta.from }} to {{ selectedMembers.meta.to }} of {{ selectedMembers.meta.total }} entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <pagination :data="selectedMembers" @pagination-change-page="loadUsers">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" v-if="!challengeStarted">
                    <div class="row">
                        <div class="col-6" v-if="selectedMembers.data && selectedMembers.data.length">
                            <button type="button" @click="removeMembers" class="cnt-btnn2">Remove </button>
                        </div>
                        <div class="col-6 text-right" v-if="challengeId && challengeStatus !== 5">
                            <a @click.prevent="sendInvite" href="#" class="cnt-btnn2 float-right">Invite</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Paginate from 'vuejs-paginate'
    export default {
        props: [
            'challengeId',
            'members',
            'challengeStatus',
            'challengeStarted',
            'gender'
        ],
        components: { Paginate },
        data(){
            return {
                selectAll: false,
                selectAllMembers: false,
                search_term: "",
                selectedUserSearchTerm: "",
                per_page: 10,
                selectedUserPerPage: 10,
                filter: {
                    points_to: undefined,
                    points_from: undefined,
                },
                selectedUsers: [],
                users: {},
                selectedMembers: {},
                deletedUserId: [],
            }
        },
        created() {
            if(this.members)
                this.selectedUsers = this.members.map( m => m.id );

            if(!this.challengeStarted)
                this.loadUsers();

            this.loadSelectedUsers();
        },
        methods:{
            loadUsers(page = 1){
                console.log(page);
                axios.get(`users?status=1&not_id_in=${this.selectedUsers.join(',')}&page=${page}&gender=${this.gender}&per_page=${this.per_page}&search_term=${this.search_term}&points=i<=>${this.filter.points_from||''},${this.filter.points_to||''}&not_member=${this.challengeId||''}`)
                    .then(data => {
                        this.users = data.data;
                    });
                this.loadSelectedUsers();
            },
            loadSelectedUsers(page = 1){
                axios.get(`users?id_in=${this.selectedUsers.join(',') || 0}&page=${page}&gender=${this.gender}&per_page=${this.per_page}&search_term=${this.selectedUserSearchTerm}&points=i<=>${this.filter.points_from||''},${this.filter.points_to||''}`)
                    .then(data => {
                        this.selectedMembers = data.data;
                    })
            },
            addMembers(){
                if(this.users.data.filter(user => user.selected).length === 0)
                {
                    this.$toastr.warning("please select at least 1 user", "Warning");
                    return;
                }

                this.users.data.forEach(user => {
                    if(user.selected)
                        this.selectedUsers.push(user.id);
                });
                this.loadUsers();
                this.loadSelectedUsers();
                this.$emit('selectionUpdated', this.selectedUsers);
                this.selectAll = false;
            },
            removeMembers(){
                if(this.selectedMembers.data.filter(user => user.selected).length === 0)
                {
                    this.$toastr.warning("please select at least 1 user", "Warning");
                    return;
                }
                this.selectedMembers.data.forEach((user, idx) => {
                    if(user.pivot && user.pivot.status === 1)
                        return;

                    if(user.selected) {
                        this.deletedUserId.push(user.id);
                        this.selectedUsers.splice(idx, 1);
                    }
                });

                this.sendInvite(false)
                .then(data => {
                    this.deletedUserId = [];
                    this.loadUsers();
                    this.loadSelectedUsers();
                    this.$emit('selectionUpdated', this.selectedUsers);
                    this.selectAllMembers = false;
                })
            },
            sendInvite(toast = true){
                if(!this.challengeId) {
                    this.$toastr.error('Challenge id is required');
                    return;
                }

                return new Promise((resolve, reject) => {
                    axios.put(`fitness/challenges/${this.challengeId}/invite`, {
                        user_ids: this.selectedMembers.data.map(user => user.id),
                        delete_user_ids: this.deletedUserId,
                    })
                        .then(({data}) => {

                            if(toast)
                                this.$toastr[data.method](data.message, data.method.toUpperCase());

                            resolve(data);

                        }).catch(e => reject(e));
                });
            },
            fetchFiltersResult(){
                this.$validator.validateAll().then(result => {
                    if(!result) return
                    this.loadUsers();
                })
            }
        },
        computed: {
            maleCount(){
                if(!this.selectedMembers.data)
                    return 0;
                return this.selectedMembers.data.filter(user => user.gender === 1).length;
            },
            femaleCount(){
                if(!this.selectedMembers.data)
                    return 0;
                return this.selectedMembers.data.filter(user => user.gender === 2).length;
            },
            userIsSelected(){
                return this.users && this.users.data && this.users.data.filter(user => user.selected).length > 0
            },
            memberIsSelected(){
                return this.selectedMembers && this.selectedMembers.data && this.selectedMembers.data.filter(user => user.selected).length > 0
            }
        },
        watch: {
            'selectAll': function(){
                this.users.data.map(user => user.selected = this.selectAll)
            },
            'selectAllMembers': function(){
                this.selectedMembers.data.map(user => user.selected = this.selectAllMembers)
            },
            'selectedUserPerPage': 'loadUsers',
            'per_page': 'loadUsers',
        }
    }
</script>
<style>
    button.cnt-btnn2:disabled,
    button.cnt-btnn2:disabled:hover {
        background: #ccc;
        border: 1px solid;
        cursor: not-allowed;
        color: white;
    }
</style>
