<template>

    <div class="close-chalng-edit-right">
        <!--<h3>{{ details ? "Members": "User Joined" }}</h3>
        <ul class="nav nav-tabs nav-underline no-hover-bg">
            <li class="nav-item" v-if="!details">
                <a @click.prevent="tab = 'joined'" :class="{ active: tab === 'joined' }" class="nav-link">Joined</a>
            </li>
            <li class="nav-item" v-if="!details">
                <a @click.prevent="tab = 'pending'" :class="{ active: tab === 'pending' }" class="nav-link">Pending</a>
            </li>
        </ul>-->

        <h3>User Joined</h3>
        <ul class="nav nav-tabs nav-underline no-hover-bg">
            <li class="nav-item">
                <a @click.prevent="tab = 'joined'" :class="{ active: tab === 'joined' }" class="nav-link">Joined</a>
            </li>
            <li class="nav-item">
                <a @click.prevent="tab = 'pending'" :class="{ active: tab === 'pending' }" class="nav-link">Pending</a>
            </li>
        </ul>
        <div class="tab-content pt-1">
            <div class="tab-pane active">
                <div class="chalng-members-box" @click="memberSelected(challenge)" v-for="challenge in challenges" :style="{cursor: details? 'pointer':''}">
                    <img :src="`${challenge.player.image}`" :alt="challenge.player.name">
                    <div class="flex-column">
                        <p>{{ challenge.player.name }}</p>
                        <span>User ID: {{ challenge.player.id }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--tab content end-->
    </div>
    <!--close chalng edit right end-->
</template>

<script>
    export default {
        props: [ 'userChallenges', 'details' ],
        data(){
            return {
                tab: "joined",
            }
        },
        mounted() {
        },
        computed: {
            challenges() {
                if(this.tab === 'joined')
                    return this.userChallenges.filter(userChallenge => userChallenge.status === 1)
                return this.userChallenges;
            }
        },
        methods:{

            memberSelected(challenge){
                if(!this.details) return;

                this.$emit('memberChanged', challenge);

                /*axios.get(`fitness/challenges/user_challenge_details/${pivot.challenge_id},${pivot.user_id}`)
                    .then(({data}) => {
                        this.$emit('memberChanged', challenge);
                    });*/
            }
        }

    }
</script>

<style>
    .blue-radio input {opacity: 1;background: transparent;-webkit-appearance: none;width: 20px;height: 20px;background: #ccc;border-radius: 50%;position: absolute;top: 3px;}
    .blue-radio input:checked {background: #ee2c48;}
</style>
