<template>
    <form @submit.prevent="validateSave" class="row">
        <div class="col-lg-2 col-md-12 col-sm-12">
            <img :src="phase.image" class="img-full" :alt="phase.title" v-if="!editing">
            <div id="imagewrapper" v-if="editing">
                <cropper :src="personalImage? personalImage: `${baseUrl}/images/Cost-trivia-Add-1_03.png`" @imageChanged="imageChanged($event)"></cropper>
                <input type="hidden" v-validate="'required'" v-model="personalImage" name="image" >
                <span class="text-danger">{{ errors.first('image') }}</span>
            </div>
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-lg-row flex-sm-column flex-md-column flex-column">
                        <h2 v-if="!editing">{{ phase.title }}</h2>
                        <div v-if="editing">
                            <h2>Challenge Title:</h2>
                            <div>
                                <input v-model="phase.title" name="title" v-validate="'required'" type="text" class="admin-chlng-fit-top-input mb-2" placeholder="Challenge Title">
                                <span class="text-danger">{{ errors.first('title') }}</span>
                            </div>
                            <div>
                                <h2>Reps:</h2>
                                <input v-model="phase.reps" name="reps" v-validate="'required|numeric'" type="text" class="admin-chlng-fit-top-input mb-2" placeholder="12">
                                <span class="text-danger">{{ errors.first('reps') }}</span>
                            </div>
                        </div>
                        <div>
                            <a v-if="!editing" @click.prevent="editing = true" href="#" class="admin-fftp-adduser-h5 pull-right mb-0">
                                Edit <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <template v-if="!editing">
                <p>{{ phase.description }}</p>
                <div class="chalng-members-box">
                    <span>Reps: {{ phase.reps }}</span>
                </div>
            </template>
            <template v-else>
                <h2>Description:</h2>
                <textarea v-model="phase.description" name="description" v-validate="'required'" class="admin-chlng-fit-top-txtara" :placeholder="phase.description"></textarea>
                <span class="text-danger">{{ errors.first('description') }}</span>
                <button type="submit" class="cnt-btnn2">Save</button>
            </template>
            <div class="clearfix"></div>
        </div>
    </form>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";

    export default {
        components: { Cropper },
        props: [ 'phase' ],
        data(){
            return {
                editing: false,
                personalImage: ''
            }
        },
        mounted() {
            this.personalImage = this.phase.image;
        },
        methods: {
            validateSave() {
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    this.save();
                });
            },
            save() {
                axios.put(`fitness/phase/${this.phase.id}`, this.phase)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success");
                        this.editing = false;
                    });
            },
            imageChanged(data){
                this.phase.image = data;
                this.personalImage = data;
            },
        }
    }
</script>
