<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts" v-if="challenge">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h1>
                                                    <a href="#" @click.prevent="redirectBack()" class="profile-back">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </a>
                                                    {{ closed? "Closed": "Invitation" }} Challenges Detail
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
                                                <div class="row close-challenges-details-edit-inner">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="row admin-add-user-main p-0">
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <h2>{{ challenge.title }}</h2>
                                                                <states-box :challenge="challenge"></states-box>
                                                            </div>
                                                            <!--col end-->

                                                        </div>
                                                        <!--row end-->

                                                        <ul class="nav nav-tabs nav-underline no-hover-bg mt-3">
                                                            <li class="nav-item">
                                                                <a
                                                                    :class="{ active: current_tab === 'details' }"
                                                                    @click.prevent="current_tab = 'details'"
                                                                    class="nav-link">Challenge Details</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a
                                                                    :class="{ active: current_tab === 'phases' }"
                                                                    @click.prevent="current_tab = 'phases'"
                                                                    class="nav-link">Phases</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a
                                                                    :class="{ active: current_tab === 'criteria' }"
                                                                    @click.prevent="current_tab = 'criteria'"
                                                                    class="nav-link">Passing Criteria</a>
                                                            </li>
                                                            <li class="nav-item" v-if="!closed">
                                                                <a
                                                                    :class="{ active: current_tab === 'invite_members' }"
                                                                    @click.prevent="current_tab = 'invite_members'"
                                                                    class="nav-link">Invite Members</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content pt-3">
                                                            <div :class="{ active: current_tab === 'details' }" v-if="current_tab === 'details'" class="tab-pane">
                                                                <edit-challenge :challenge="challenge"></edit-challenge>
                                                            </div>
                                                            <div :class="{ active: current_tab === 'phases' }" v-if="current_tab === 'phases'">
                                                                <div class="row admin-add-user-main p-0">
                                                                    <div class="col-12">
                                                                        <div class="phase-span-main">
                                                                            <h5 v-for="(phase, index) in challenge.phases"
                                                                                @click="() => { selectedPhase = phase; selectedPhaseNo = index+1 }"
                                                                                :class="{
                                                                                    active: selectedPhase.id === phase.id,
                                                                                    inactive: selectedPhase.id !== phase.id
                                                                                }"
                                                                            >Phase {{ index + 1 }}</h5>
                                                                        </div>
                                                                    </div>

                                                                    <edit-phase :phase="selectedPhase"></edit-phase>

                                                                    <!--col end-->
                                                                    <div class="col-12 mt-2" v-if="selectedMember && selectedUserPhase && challenge[`phase_${selectedPhaseNo}_submitted`]">
                                                                        <template v-if="selectedUserPhase.result_submitted">
                                                                            <div class="chalng-members-box p-0">
                                                                                <img :src="selectedMember.player.image" alt="">
                                                                                <div class="flex-column">
                                                                                    <p>{{ selectedMember.player.name }}</p>
                                                                                    <span>Points: {{ selectedMember.player.points }}</span>
                                                                                </div>
                                                                            </div>
                                                                            <video controls class="img-full">
                                                                                <source :src="selectedUserPhase.video" />
                                                                            </video>
                                                                            <!--<img :src="images/video-thumb.jpg" class="img-full">-->
                                                                            <div class="counter">
                                                                                <label>Time</label>
                                                                                <ul v-html="completeTime">
                                                                                </ul>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                            <div class="counter">
                                                                                <label>Reps</label>
                                                                                <span>{{ selectedMember[`phase_${selectedPhaseNo}_reps`] }}</span>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </template>
                                                                        <template v-else>
                                                                            <p>Phase not submitted yet</p>
                                                                        </template>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <h3 class="emply-chanlng-span text-left pb-1 pt-1">Leaderboard</h3>
                                                                </div>
                                                                <template v-if="challenge[`phase_${selectedPhaseNo}_submitted`]">
                                                                    <div class="maain-tabble table-responsive">
                                                                        <table class="table table-striped table-bordered zero-configuration" id="leaderTable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>No</th>
                                                                                    <th>User</th>
                                                                                    <th>Time</th>
                                                                                    <th>Reps</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr v-for="(user, index) in userChallenges">
                                                                                    <td>{{ index+1 }}</td>
                                                                                    <td>
                                                                                        <img :src="user.player.image" class="tab-img">
                                                                                        {{ user.player.name }}
                                                                                    </td>
                                                                                    <td>{{ user[`phase_${selectedPhaseNo}_complete_time`] }}</td>
                                                                                    <td>{{ user[`phase_${selectedPhaseNo}_reps`] }}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <button v-if="!challenge[`phase_${selectedPhaseNo}_published`]"
                                                                                @click="publishResult" class="cnt-btnn2">Publish Result</button>
                                                                    </div>
                                                                </template>
                                                                <p v-else>Phase {{ selectedPhaseNo }} is not submitted yet.</p>
                                                            </div>
                                                            <div :class="{ active: current_tab === 'criteria' }" v-if="current_tab === 'criteria'">

                                                                <edit-criteria :hasStarted="challenge.hasStarted" :phases="challenge.phases"></edit-criteria>

                                                            </div>
                                                            <div :class="{ active: current_tab === 'invite_members' }" v-if="current_tab === 'invite_members'" class="tab-pane">
                                                                <members
                                                                    :challengeStarted="challengeHasStarted"
                                                                    :challengeId="challenge.id"
                                                                    :members="challenge.subscribers"
                                                                    :challenge-status="challenge.status"
                                                                    :gender="challenge.gender_for"
                                                                />
                                                            </div>
                                                        </div>
                                                        <!--tab content end-->

                                                    </div>
                                                    <!--col end left-->

                                                </div>
                                                <!--row end-->

                                            </div>
                                            <!--left main col end-->

                                            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">

                                                <members-list
                                                    :user-challenges="userChallenges" @memberChanged="selectedMember=$event" :details="current_tab === 'phases'" :members="challenge.subscribers"></members-list>

                                            </div>
                                            <!--right main col end-->

                                        </div>
                                    </div>
                                    <!--col  end-->

                                </div>
                                <!--row end-->

                            </div>
                        </div>
                    </div>
                </section>
            </div>
<!--            <Datatable :columns="[ 'ID', 'Name', { name: 'Actions', 'render': '{{ raw.id }}' } ]"></Datatable>-->
        </div>
    </div>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";
    import MembersList from "./MembersList";
    import Members from "./Members";
    import EditPhase from "./PhaseEdit";
    import EditChallenge from "./ChallengeEdit";
    import EditCriteria from "./CriteriaEdit";
    import StatesBox from "./StatesBox";
    import Datatable from "./DatatableComponent";

    export default {
        components: { Cropper, MembersList, Members, EditPhase, EditChallenge, EditCriteria, StatesBox, Datatable },
        data(){
            return {
                selectedPhase: {},
                selectedPhaseNo: 1,
                playing: false,
                challenge: undefined,
                closed:true,
                current_tab: "details",
                selectedMember: undefined,
                userChallenges: [],
                datatable: undefined,
            }
        },
        created() {
            this.getChallenge();
            this.closed = this.$route.name === 'fitness.challenges.show.closed';
        },
        methods: {
            getChallenge() {
                axios.get(`fitness/challenges/${this.$route.params.id}`)
                    .then(data => {
                        data.data.gender_for = data.data.gender_for.split('-');
                        this.challenge = data.data;
                        this.selectedPhase = this.challenge.phases[0];

                        this.challenge.hasStarted =  new Date() > new Date(this.selectedPhase.started_at);

                        this.loadUserChallenges();
                    });
            },
            loadUserChallenges(){
                if(this.datatable !== undefined)
                    this.datatable.destroy();

                axios.get(`fitness/challenges/user_challenges/${this.challenge.id}?phase=${this.selectedPhaseNo}`)
                    .then(data => {
                        this.userChallenges = data.data;
                        setTimeout(() => {
                            this.datatable = $('#leaderTable').DataTable({ "ordering": false });
                        });
                    });
            },
            publishResult(){
                const data = {
                    phase_id: this.selectedPhase.id,
                };
                if(!this.canPublishResult())
                {
                    this.$toastr.warning('Please choose start and end date for next phase first.', "Warning.");
                    return;
                }
                axios.put(`fitness/challenge/${this.challenge.id}/publish-phase-result`, data)
                .then(({data}) => {
                    this.$toastr.success(data.message);
                    this.challenge[`phase_${this.selectedPhaseNo}_published`] = true;
                });
            },
            canPublishResult(){
                const phaseIndex = this.challenge.phases.findIndex(phase => phase.id === this.selectedPhase.id );

                // if phase index is same as total phases-1 then it means this is last phase and we are okay to proceed to publish
                if(phaseIndex === this.challenge.phases.length-1)
                    return true;

                if(this.challenge.phases[phaseIndex+1].started_at === null || this.challenge.phases[phaseIndex+1].ended_at === null)
                    return false;

                return true;
            }
        },
        computed: {
            challengeHasStarted(){
                return new Date() <= new Date(this.challenge.phases[0].started_at)
            },
            selectedUserPhase() {
                if(!this.selectedPhase || !this.selectedMember) return;
                const phase = this.selectedMember.phases_data.filter(phase => this.selectedPhase.id === phase.id);
                return phase.shift();
            },
            completeTime() {
                if(!this.selectedPhase || !this.selectedMember) return;

                const time = this.selectedMember[`phase_${this.selectedPhaseNo}_complete_time`];
                if(time === null)
                    return '';
                const pcs = time.split(':');
                pcs[0] = pcs[0] + ' hours';
                pcs[1] = pcs[1] + ' mins';
                pcs[2] = pcs[2] + ' sec';

                return '<li>' + pcs.join('</li><li>') + '</li>';
            }
        },
        watch: {
            'selectedPhaseNo': 'loadUserChallenges',
            'current_tab': function() {
                // if(this.current_tab === 'phases')
            }
        }
    }
</script>

<style>
    .blue-radio input {opacity: 1;background: transparent;-webkit-appearance: none;width: 20px;height: 20px;background: #ccc;border-radius: 50%;position: absolute;top: 3px;}
    .blue-radio input:checked {background: #ee2c48;}
</style>
