<template>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Total<br>Phase:</p>
                </div>
                <h5 class="postion-h5">{{ challenge.phases.length }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Current<br>
                        Phase</p>
                </div>
                <h5 class="postion-h5">{{ challenge.current_phase }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Prize</p>
                </div>
                <h5 class="postion-h5">${{ challenge.prize }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Points</p>
                </div>
                <h5 class="postion-h5">{{ challenge.points }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Status</p>
                </div>
                <h5 class="postion-h5">{{ statuses(challenge.status) }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Gender</p>
                </div>
                <h5 class="postion-h5">{{ getGenderString(challenge.gender_for) }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12" v-if="challenge.type === 'closed'">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>Fee</p>
                </div>
                <h5 class="postion-h5">{{ challenge.fee }}</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>User<br> Joined</p>
                </div>
                <h5 class="postion-h5">04</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12" v-if="challenge.type === 'closed'">
            <div class="chalng-members-box box-shadow-1 grey-box">
                <div class="flex-column">
                    <p>User<br> Limit:</p>
                </div>
                <h5 class="postion-h5">{{ challenge.user_limit }}</h5>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: ['challenge'],
        data(){
            return {
            }
        },
        created() {
        },
        methods: {
        }
    }
</script>
