<template>
    <div :class="{'app-content content': !userData}">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper" v-if="!isLoading">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div :class="{'card': !userData, 'rounded': !userData, 'p-3': !userData, 'admin-overview-main': !userData}">
                                <h1 v-if="!userData">
                                    <router-link :to="{ name: 'polling.requests.index' }" class="profile-back">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </router-link> Polling Details
                                </h1>
                                <h3 v-if="!userData" class="emply-chanlng-span2 text-left pb-3">Lightweight Run challenge </h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-3 bord-right">
                                        <div class="chanlg-detail-vid-top">
                                            <div class="d-md-flex flex-xs-column align-items-center">
                                                <img :src="challenge.recipient.image" alt="">
                                                <div class="flex-column">
                                                    <p class="name">{{ challenge.recipient.name }}</p>
                                                    <span>Opponent</span>
                                                </div></div>
                                            <h5>Total votes: {{ opponentVoteCount }}</h5>
                                        </div>
                                        <div class="chalng-vid-box" v-for="(exercise, index) in challenge.challenge.exercises" @key="exercise.id">

                                            <img
                                                v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.recipient.id]"
                                                :src="`${base_url}/images/user-chlng-video1.png`" :alt="exercise.title" style="cursor:pointer;" @click="openVideoModal(`video${index}-${challenge.recipient.id}`)">

                                            <!-- Modal -->
                                            <div class="modal fade" :id="`video${index}-${challenge.recipient.id}`" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <video class="img-fluid img-thumbnails" controls
                                                                   :ref="`video${index}-${challenge.recipient.id}`"
                                                                   @loadedmetadata="seconds_to_days_hours_mins_secs_str(index, challenge.recipient.id)"
                                                                   v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.recipient.id]"
                                                                   :src="exercise.uploadedVideos[challenge.recipient.id]"></video>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row justify-content-between mt-1">
                                                <div class="flex-column">
                                                    <p>{{ exercise.title }}</p>
                                                    <h5>Reps: {{ exercise.repeat }}</h5>
                                                </div>
                                                <span>Time: <span v-if="exercise.time">{{ exercise.time }}</span></span>
                                            </div>
                                        </div><!--chalng video box end-->
                                        <div class="polling-history-details-bg skin  skin-flat" v-if="!userData && challenge.status === 6">
                                            <h5>Winner</h5>
                                            <div class="position-relative">
                                                <img :src="challenge.recipient.image" class="main-bg" :alt="challenge.recipient.name">
                                            </div>
                                            <h6>{{ challenge.recipient.name }}</h6>
                                            <fieldset>
                                                <div class="iradio_flat-green" style="position: relative;">
                                                    <input v-model="winnerId" type="radio" name="input-radio-4" :id="`input-radio-${challenge.recipient.id}`" style="position: absolute; opacity: 0;">
                                                    <label @click="winnerId = challenge.recipient.id" :class="{ selected: challenge.recipient.id === winnerId }">label</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!--<div  v-if="!userData">
                                            <button @click.prevent="declareWinner(challenge.recipient.id)" v-if="!challenge.sender_result && !challenge.recipient_result" class="cnt-btnn">Declared Winner</button>
                                        </div>-->
                                    </div><!--col end-->
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-3">
                                        <div class="chanlg-detail-vid-top">
                                            <div class="d-md-flex flex-xs-column align-items-center">
                                                <img :src="challenge.sender.image" alt="">
                                                <div class="flex-column">
                                                    <p class="name">{{ challenge.sender.name }}</p>
                                                    <span>Challenger</span>
                                                </div></div>
                                            <h5>Total votes: {{ challengerVoteCount }}</h5>
                                        </div>
                                        <div class="chalng-vid-box" v-for="(exercise, index) in challenge.challenge.exercises" @key="exercise.id">


                                            <img
                                                v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.sender.id]"
                                                :src="`${base_url}/images/user-chlng-video1.png`" :alt="exercise.title" style="cursor:pointer;" @click="openVideoModal(`video${index}-${challenge.sender.id}`)">

                                            <!-- Modal -->
                                            <div class="modal fade" :id="`video${index}-${challenge.sender.id}`" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <video  class="img-fluid img-thumbnails"
                                                                    controls
                                                                    :ref="`video${index}-${challenge.sender.id}`"
                                                                    @loadedmetadata="seconds_to_days_hours_mins_secs_str(index, challenge.sender.id)"
                                                                    v-if="exercise.uploadedVideos && exercise.uploadedVideos[challenge.sender.id]" :src="exercise.uploadedVideos[challenge.sender.id]"></video>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row justify-content-between mt-1">
                                                <div class="flex-column">
                                                    <p>{{ exercise.title }}</p>
                                                    <h5>Reps: {{ exercise.repeat }}</h5>
                                                </div>
                                                <span>Time: <span v-if="exercise.time">{{ exercise.time }}</span></span>
                                            </div>
                                        </div><!--chalng video box end-->
                                        <div class="polling-history-details-bg skin  skin-flat" v-if="!userData && challenge.status === 6">
                                            <h5>Winner</h5>
                                            <div class="position-relative">
                                                <img :src="challenge.sender.image" class="main-bg" :alt="challenge.sender.name">
                                            </div>
                                            <h6>{{ challenge.sender.name }}</h6>
                                            <fieldset>
                                                <div class="iradio_flat-green" style="position: relative;">
                                                    <input v-model="winnerId" type="radio" name="input-radio-4" :id="`input-radio-${challenge.sender.id}`" style="position: absolute; opacity: 0;">
                                                    <label @click="winnerId = challenge.sender.id" :class="{ selected: challenge.sender.id === winnerId }">label</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!--<div >
                                            <button @click.prevent="declareWinner(challenge.sender.id)" v-if="!challenge.sender_result && !challenge.recipient_result" class="cnt-btnn">Declared Winner</button>
                                        </div>-->
                                    </div><!--col end-->

                                </div>
                                <div  v-if="!userData" class="row text-center">
                                    <div class="polling-history-details-bg d-inline-block" v-if="challenge.sender_result && challenge.recipient_result">
                                        <!--Show Only when Challenge is completed-->
                                        <div class="position-relative" v-if="challenge.status === 5">
                                            <img :src="challenge.recipient.image" v-if="challenge.recipient_result === 'WINNER'" class="main-bg" :alt="challenge.recipient.name">
                                            <img :src="challenge.sender.image" v-if="challenge.sender_result === 'WINNER'" class="main-bg" :alt="challenge.sender.name">
                                            <img :src="`${base_url}/images/polling-history-details-_03.png`" class="trophy-img" alt="">
                                        </div>
                                        <!-- Show only winner's name -->
                                        <h6 v-if="challenge.recipient_result === 'WINNER' && challenge.status === 5">{{ challenge.recipient.name }}</h6>
                                        <h6 v-if="challenge.sender_result === 'WINNER' && challenge.status === 5">{{ challenge.sender.name }}</h6>
                                    </div>
                                </div>
                                <!-- Show only if it is viewing from challenge history page not from users' challenge detail page -->
                                <div class="row" v-if="!userData">
                                    <div class="col">
                                        <button @click.prevent="declareWinner()" v-if="!userData && challenge.status === 6" class="cnt-btnn">Declare Winner</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['challengeData'],
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                challenge: {},
                userData: false,
                winnerId: undefined
            }
        },
        mounted() {
            this.loadPoolingRequest();
        },
        methods: {
            seconds_to_days_hours_mins_secs_str(exerciseIndex, userid)
            {
                const video = this.$refs[`video${exerciseIndex}-${userid}`][0];
                var seconds = (video.duration);
                var days     = Math.floor(seconds / (24*60*60));
                seconds -= days    * (24*60*60);
                var hours    = Math.floor(seconds / (60*60));
                seconds -= hours   * (60*60);
                var minutes  = Math.floor(seconds / (60));
                seconds -= minutes * (60);
                let d = ((0<days)?(days+" day, "):"");
                let h = ((0<hours)?(hours+" hours, "):"");
                let m = ((0<minutes)?(minutes+" min, "):"");
                let s = ((0<seconds)?(Math.floor(seconds)+" sec"):"");
                // this.challenge.challenge.exercises[exerciseIndex].time = ;
                video.closest('.modal.fade').nextElementSibling.getElementsByTagName('span')[0].innerHTML = "Time: " + d + h + m + " " + s + ""
                // video.parentElement.parentElement.parentElement.parentElement.nextElementSibling
            },
            loadPoolingRequest(){
                if(this.challengeData) {
                    this.challenge = this.challengeData;
                    this.userData = true;
                    this.isLoading = false;
                } else {
                    this.isLoading = true;
                    axios.get(`/polling-requests/${this.$route.params.id}`)
                        .then(data => {
                            this.isLoading = false;
                            this.challenge = data.data;
                            this.challenge.challenge = JSON.parse(this.challenge.challenge);
                        });
                }
            },
            declareWinner()
            {
                if(!this.winnerId)
                {
                    this.$toastr.warning("Please Select Winner", "Warning!", {});
                    return;
                }
                this.$dialog.confirm("Are you sure to declare him winner").then(dialog => {
                    axios.post(`/polling-requests/declare-result`, {
                        challenge_id: this.challenge.id,
                        winner_id: this.winnerId
                    }).then(d => {
                        if(this.winnerId === this.challenge.sender.id) {
                            this.challenge.sender_result = "WINNER";
                            this.challenge.recipient_result = "DEFEAT";
                        }else{
                            this.challenge.recipient_result = "WINNER";
                            this.challenge.sender_result = "DEFEAT";
                        }
                        this.challenge.status = 5;
                        dialog.close();
                        this.$toastr.success('Declaration is successful', 'Success', {});
                    }).catch(d => {
                        dialog.close();
                    });
                })
            },
            openVideoModal(videoId)
            {
                $(`#${videoId}`).modal('show');
            }
        },
        computed: {
            challengerVoteCount () {
                return this.challenge.votes.filter(v => v.vote_for === this.challenge.sender.id).length;
            },
            opponentVoteCount () {
                return this.challenge.votes.filter(v => v.vote_for === this.challenge.recipient.id).length;
            }
        }
    }
</script>

<style>
    .modal-dialog {
        max-width: 800px;
    }

    .modal-header {
        position: absolute;
        background: transparent;
        z-index: 11;
        right: 0;
        color: black;
        border: none;
    }

    .chalng-vid-box button span {
        color: black;
        font-size: 27px;
        background: #00000040;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
    }

    .modal-body {
        padding: 0;
    }

    .modal-content {
        background: transparent;
        border: none;
        overflow: hidden;
    }
    .modal-dialog {
        max-width: unset;
        display: table;
    }
    input[type=radio]+label {
        color: transparent;
        width: 20px;
        height: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        border: 4px solid #ccc;
        cursor: pointer;
        position: relative;
    }
    input[type=radio]+label.selected {
        border: 4px solid #a40123;
    }
    input[type=radio]+label.selected:after {
        content: "";
        background:  #a40123;
        position:absolute;
        width: 5px;
        height: 5px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
</style>
