<template>
    <div>
        <BlockUI v-if="inProgress" message="Loading...">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        </BlockUI>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                inProgress: false
            };
        },
        created() {
            axios.interceptors.request.use((config) => {
                if(config.url.indexOf('notifications/bell') >= 0) return config;
                this.inProgress = true;
                return config;
            }, (error) => {
                this.inProgress = false;
                return Promise.reject(error);
            });

            // Add a response interceptor
            axios.interceptors.response.use((response) => {
                this.inProgress = false;
                return response;
            }, (error) => {
                this.inProgress = false;
                return Promise.reject(error);
            });
        }
    }
</script>
