<template>
    <div class="app-content content">

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">

                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Home</h1>
                                        <div class="row">
                                            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Users</span>
                                                                <h5>{{ data.total_users }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Employee-icon1.png`" alt="">
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Active Challenge</span>
                                                                <h5>{{ data.active_challenges }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Employee-icon2.png`" alt="">
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Income</span>
                                                                <h5>${{ Number(data.income).toFixed(0) }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Admin-Homescreen_03.png`" alt="" />
                                                        </div>
                                                    </div><!--col end-->
                                                </div><!--row end-->
                                                <div class="row align-items-center pt-5 pb-5">
                                                    <div class="col-md-6">
                                                        <span class="emply-chanlng-span">User Registrations</span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" v-model="selectedYear" @change="changeYear">
                                                            <option v-for="year in allYears" :value="year">{{year}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="small" v-if="datacollection">
                                                            <!--<v-chart :options="polar"/>-->
                                                            <line-chart :chart-data="datacollection" :options="options"></line-chart>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12"><span class="emply-chanlng-span">Months</span></div>
                                                </div><!--table end-->
                                            </div><!--left col end-->
                                            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h3 class="emply-chanlng-span text-left mt-0">Recently Added Users</h3>
                                                <div class="chalng-members-box box-shadow-1" v-for="user in data.recent_users" @key="user.id">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                </div><!--chalng number end-->
                                            </div>
                                        </div><!--main row end-->
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12"><h3 class="emply-chanlng-span text-left">Leadboard </h3></div>
                                            <div class="col-md-3 col-sm-12 dataTables_wrapper mr-1">
                                                <!--<div class="dataTables_filter">
                                                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-4 col-md-12 col-sm-12"  v-for="(user, index) in data.lead_boards">
                                                <div class="chalng-members-box box-shadow-1">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                    <h5 class="postion-h5">{{ index + 1 }} <i>{{ (index+1) | ordinal(false) }}</i></h5>
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->

                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import { Bar } from 'vue-chartjs'
    import LineChart from './UserStateChartComponent.js';

    export default {
        // extends: Bar,
        components: {
            LineChart
        },
        data(){
            return {
                datacollection: null,
                selectedYear: (new Date()).getFullYear(),
                base_url: window.base_url,
                isLoading: true,
                data: { available_years:[] },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            }
        },
        mounted() {
            axios.get('/')
                .then(data => {
                    this.data = data.data;

                    this.data.lead_boards.sort( function ( a, b ) { return b.state.points - a.state.points; } );

                    this.isLoading = false;

                    this.fillData(this.data.users_states);

                })
                .catch(error => this.isLoading = false)

        },
        methods: {
            changeYear(){
                console.log(this.selectedYear)
            },
            fillData (datax) {
                let data = (datax);
                const labels = data.map(month => month.name);
                const values = data.map(month => month.value);
                this.datacollection = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Users Registration',
                            backgroundColor: '#ee2c48',
                            data: values
                        }
                    ]
                };
            },

            loadUserChartData(){
                axios.get(`/chart/${this.selectedYear}/users`).then(({data}) => {
                    this.fillData(data)
                })
            },
        },
        computed: {
            allYears(){
                const year = (new Date()).getFullYear();
                const years = [];
                for(let i = year - 9; i <= year; i ++)
                {
                    years.push(i);
                }
                return years;
            }
        },
        watch: {
            'selectedYear' (){
                this.loadUserChartData();
            }
        }
    }
</script>

<style>
    .small {
        width: 100%;
        height: 400px;
    }
</style>
