<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">

                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Home</h1>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Users</span>
                                                                <h5>{{ data.total_users }}</h5>
                                                            </div>
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Active Challenge</span>
                                                                <h5>{{ data.active_challenges }}</h5>
                                                            </div>
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="employ-top-boxs d-none">
                                                            <div class="inner">
                                                                <span>Income</span>
                                                                <h5>${{ data.income }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Admin-Homescreen_03.png`" alt="" />
                                                        </div>
                                                    </div><!--col end-->
                                                </div><!--row end-->
                                                <div class="row align-items-center pt-5 pb-5">
                                                    <div class="col-md-6">
                                                        <span class="emply-chanlng-span">Users</span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" v-model="selectedYear">
                                                            <option v-for="year in data.available_years" :value="year">{{year}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="column-hello" class="small height-400 echart-container" v-if="datacollection">
                                                            <!--<v-chart :options="polar"/>-->
                                                            <line-chart :chart-data="datacollection"></line-chart>
                                                            <button @click="fillData()">Randomize</button>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12"><span class="emply-chanlng-span">Months</span></div>
                                                </div><!--table end-->
                                            </div><!--left col end-->
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <h3 class="emply-chanlng-span text-left mt-0">Recently Added Users</h3>
                                                <div class="chalng-members-box box-shadow-1" v-for="user in data.recent_users" @key="user.id">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                </div><!--chalng number end-->
                                            </div>
                                        </div><!--main row end-->
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12"><h3 class="emply-chanlng-span text-left">Leadboard </h3></div>
                                            <div class="col-md-3 col-sm-12 dataTables_wrapper mr-1">
                                                <!--<div class="dataTables_filter">
                                                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-4 col-md-12 col-sm-12"  v-for="(user, index) in data.lead_boards">
                                                <div class="chalng-members-box box-shadow-1">
                                                    <img :src="user.image" :alt="user.name">
                                                    <div class="flex-column">
                                                        <p v-text="user.name"></p>
                                                        <span>Points: {{ user.state.points }}</span>
                                                    </div>
                                                    <h5 class="postion-h5">{{ index + 1 }} <i>{{ ordinal_suffix_of(index+1) }}</i></h5>
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->

                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import { Bar } from 'vue-chartjs'
    import LineChart from './UserStateChartComponent.js';

    export default {
        // extends: Bar,
        components: {
            LineChart
        },
        data(){
            return {
                datacollection: null,
                selectedYear: (new Date()).getFullYear(),
                base_url: window.base_url,
                isLoading: true,
                data: { available_years:[] },
            }
        },
        mounted() {
            // this.renderChart({
            //     labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            //     datasets: [
            //         {
            //             label: 'GitHub Commits',
            //             backgroundColor: '#f87979',
            //             data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
            //         }
            //     ]
            // })
            axios.get('/')
                .then(data => {
                    this.data = data.data;

                    this.data.lead_boards.sort( function ( a, b ) { return b.state.points - a.state.points; } );

                    this.isLoading = false;

                    this.fillData(this.data.users_states);

                })
                .catch(error => this.isLoading = false)

        },
        methods: {

            fillData (data) {
                console.log(data);
                this.datacollection = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                        {
                            label: 'Users Registration',
                            backgroundColor: '#f87979',
                            data: data
                        }
                    ]
                };
            },

            loadUserChartData(){
                this.polar.series = [];
                this.polar.series.push({
                    name: 'Precipitation',
                    type: 'bar',
                    data: data.data.users_chart_data
                })
            },

            ordinal_suffix_of(i) {
                const j = i % 10,
                    k = i % 100;
                let suffix = "th";
                if (j === 1 && k !== 11) {
                    suffix = "st";
                }
                if (j === 2 && k !== 12) {
                    suffix = "nd";
                }
                if (j === 3 && k !== 13) {
                    suffix =  "rd";
                }

                return suffix;
            }
        },
        watch: {
            'selectedYear' (){
                this.loadUserChartData();
            }
        }
    }
</script>

<style>
    .echarts {
        width: 100%;
        /*height: 250px;*/
        height: 100%;
    }

    .small {
        max-width: 100%;
        margin:  150px auto;
    }
</style>
