<template>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border" v-if="shouldShow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"  @click="toggleSidebarMobile">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" :href="`${base_url}/${$isAdmin? 'admin': 'employee/dashboard'}`">
                            <img class="brand-logo" alt="stack admin logo" :src="`${base_url}/images/logo.png`">
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">

                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <notifications></notifications>

                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="avatar avatar-online">
                                    <img :src="image" alt="avatar">
                                </span>
                                <span class="user-name">{{ username }} <i class="fa fa-caret-down"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <router-link :to="{name: 'profile.show'}" class="dropdown-item">
                                    <i class="ft-user"></i> Profile
                                </router-link>
                                <a class="dropdown-item" @click.prevent="logout" href="#"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block" @click="toggleSidebar">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#">
                                <i class="ft-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>


<script>
    import Notifications from "./notifications/BellNotifications";
    export default {
        components: { Notifications },
        data(){
            return {
                shouldShow: true,
                base_url: window.base_url,
                image: `${window.base_url}/images/Employee-icon1.png`,
                username: window.user.name
            }
        },
        mounted() {
            this.shouldShow = this.$route.name !== 'notfound';
            this.image = window.user.image;
        },
        methods: {
            logout(){
                window.location.replace(`${base_url}/${this.$isEmployee? 'employee': 'admin'}/logout`);
            },
            toggleSidebar(){

                    var body = document.querySelector('body'); // Using a class instead, see note below.
                    body.classList.toggle('menu-collapsed');
                    body.classList.toggle('menu-expanded');

                // let body = document.querySelector('body');
                // if(body.classList.value.indexOf('menu-expanded') >= 0)
                // {
                //     body.className = "vertical-layout vertical-menu 2-columns fixed-navbar pace-done menu-collapsed";
                // } else {
                //     body.className = "vertical-layout vertical-menu 2-columns fixed-navbar pace-done menu-expanded";
                // }
            },
            toggleSidebarMobile(){
                var body = document.querySelector('body'); // Using a class instead, see note below.
                body.classList.toggle('vertical-overlay-menu');
                body.classList.toggle('menu-open');
            }
        },
        watch: {
            '$route' () {
                this.shouldShow = this.$route.name !== 'notfound';
            }
        }
    }
</script>
