<template>
    <div class="container-fluid mt-5 close-challenges-details-edit-inner">

        <div class="content-wrapper text-center">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12 h-100">
                                        <!--tab content end-->
                                        <img :src="`${baseUrl}/images/error-404.png`">

                                        <h1 class="font-large-2">Page not found</h1>

                                        <p class="font-large-1 line-height-1">Oops.. the page you were looking for<br>
                                            is no longer available.</p>
                                        <router-link :to="{ name: 'home' }" class="admin-fftp-adduser-h5">
                                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>  BACK TO HOME </router-link>
                                    </div>
                                    <!--col  end-->

                                </div>
                                <!--row end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                isLoading: true
            }
        },
        mounted() {
            this.isLoading = false;
            if(this.$route.path.indexOf('favicon.ico') >= 0) this.$router.push({'name': 'home'})
        }
    }
</script>
