<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>{{ title }}</h1>
                                        <div class="admin-chlng-setting">
                                            <form method="post" @submit.prevent="save()">

                                                <div class="row align-items-center" v-for="(setting,index) in formSettings" :key="index" v-if="$route.params.module === setting.module">
                                                    <div class="col-md-5 col-sm-12"><label>{{ setting.title }}</label></div>
                                                    <div class="col-md-7 col-sm-12">
                                                        <input :type="setting.type" min="1" v-validate="{ 'required': true, 'min': 1 }" :name="formSettings[index].title"  v-model="settings[setting.name]" class="admin-chlng-setting-input">
                                                        <span>{{ setting.postFix }}</span>
                                                    </div>
                                                    <span class="text-danger">{{ errors.has(formSettings[index].title)? "This setting is required": "" }}</span>
                                                </div>

                                                <div class="offset-md-5 col-md-7 col-sm-12">
                                                    <button type="submit" class="cnt-btnn mt-5 mx-0">
                                                        Save Changes
                                                        <!--                                                    <i class="fa fa-refresh spinner" v-if="isLoading"></i>-->
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                settings: {
                    leverage_points: 0,
                    challenge_points: 0,
                    challenge_accept_points: 0,
                    video_posted_points: 0,
                    max_no_challenge_accepted_in_72_hr: 0,
                    time_to_accept_a_challenge: 0,
                    time_to_complete_a_challenge: 0,
                    min_exercise_for_a_challenge: 0,
                    time_to_select_another_challenge: 0,
                    time_to_approve_or_deny_challenge: 0,
                    voting_time_for_a_challenge: 0,
                    time_format: 'Hours',
                    allowed_requests_monthly: 0,
                    allowed_votes_monthly: 0,
                    acceptable_challenge_monthly: 0,
                    no_of_days_to_reset_user_settings: 0,
                    points_earned_per_vote: 0,
                    reset_days: 0,
                    minimum_users_to_show_trivia_challenge: 500,
                    maximum_questions_per_trivia_challenge: 25,
                    bonus_points_interval: 0,
                    ftfp_bonus_points: 0,
                    minimum_friends_for_challenge: 5,
                    maximum_friends_request_accept_in_a_month: 20,
                    free_trivia_question_points: 50,
                    cost_trivia_question_points: 100,
                    minimum_users_to_show_fitness_challenge: 1000,
                },
                formSettings: [
                    {title: "Set Leverage Points", name: 'leverage_points', postFix: 'per challenge', type: "number", 'module': 'ftfp'},
                    {title: "Points earned per challenge initiated", name: 'challenge_points', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Points earned per challenge accepted", name: 'challenge_accept_points', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Points earned per video posted/submitted", name: 'video_posted_points', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Maximum number of challenges to be accepted in 72 hours", name: 'max_no_challenge_accepted_in_72_hr', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Set time to accept a challenge", name: 'time_to_accept_a_challenge', postFix: 'hour', type: "number", 'module': 'ftfp'},
                    {title: "Set time to complete a challenge", name: 'time_to_complete_a_challenge', postFix: 'hour', type: "number", 'module': 'ftfp'},
                    // {title: "Minimum number of exercise that can be in order to challenge a friend", name: 'min_exercise_for_a_challenge', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Set time to select another challenge", name: 'time_to_select_another_challenge', postFix: 'hour', type: "number", 'module': 'ftfp'},
                    {title: "Set time for challenger and initiator to approve or deny a challenge", name: 'time_to_approve_or_deny_challenge', postFix: 'hour', type: "number", 'module': 'ftfp'},
                    {title: "Set voting time for a challenge", name: 'voting_time_for_a_challenge', postFix: 'hour', type: "number", 'module': 'ftfp'},
                    {title: "Set time format for a challenge(hour/minutes)", name: 'time_format', postFix: '', type: "text", 'module': 'ftfp'},
                    {title: "No of request user will have to initiate challenge for Follow The Fit Path Challenge", name: 'allowed_requests_monthly', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "No of votes user will have to vote for Follow The Fit Path Challenge", name: 'allowed_votes_monthly', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "No of challenge request user can accept in a month in Follow The Fit Path Challenge", name: 'acceptable_challenge_monthly', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Points Earned/vote", name: 'points_earned_per_vote', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Reset Days", name: 'reset_days', postFix: 'Days', type: "number", 'module': 'ftfp'},
                    {title: "Points needed to add bonus points to Global Points", name: 'bonus_points_interval', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Bonus points for Follow the Fit Path", name: 'ftfp_bonus_points', postFix: 'Points', type: "number", 'module': 'ftfp'},
                    {title: "Minimum Friends for challenge request", name: 'minimum_friends_for_challenge', postFix: '', type: "number", 'module': 'ftfp'},
                    {title: "Minimum Friends request accept per month", name: 'maximum_friends_request_accept_in_a_month', postFix: '', type: "number", 'module': 'ftfp'},

                    // {title: "Max no. of question/trivia challenge", name: 'maximum_questions_per_trivia_challenge', postFix: '', type: "number", 'module': 'trivia'},
                    {title: "Minimum members to launch Trivia challenges", name: 'minimum_users_to_show_trivia_challenge', postFix: 'Users', type: "number", 'module': 'trivia'},
                    {title: "Set points per question for Free Trivia", name: 'free_trivia_question_points', postFix: '', type: "number", 'module': 'trivia'},
                    {title: "Set points per question for Cost Trivia", name: 'cost_trivia_question_points', postFix: '', type: "number", 'module': 'trivia'},

                    {title: "Minimum members to launch Fitness challenges", name: 'minimum_users_to_show_fitness_challenge', postFix: '', type: "number", 'module': 'fitness'},
                ]
            }
        },
        mounted() {
            axios.get('/settings')
                .then(({data}) => {
                    let settings = data;
                    for (var key in settings)
                        if (settings.hasOwnProperty(key))
                            this.settings[key] = settings[key];

                    this.isLoading = false;
                });
        },
        methods: {
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;

                    axios.post('/settings', this.settings)
                        .then(({data}) => this.$toastr.success('Settings Saved Successfully', 'Success'));
                });
            }
        },
        computed:{
            title(){
                switch(this.$route.params.module){
                    case 'ftfp':
                        return 'Follow the fit path challenges Settings';
                    case 'trivia':
                        return 'Trivia challenges Settings';
                    case 'fitness':
                        return 'Fitness challenges Settings';
                    default:
                        return '';
                }
            }

        }
    }
</script>
