<template>
    <div>
        <span id="time" v-html="time"></span>
        <button type="button" @click="pause" v-if="$data.state==='started'">Pause</button>
        <button type="button" @click="resume" v-if="$data.state==='paused'">Resume</button>
        <button type="button" @click="reset">Reset</button>
    </div>
</template>

<style>

</style>

<script>
    module.exports = {
        data: function() {
            return {
                state: "started",
                startTime: Date.now(),
                currentTime: Date.now(),
                interval: null,
            }
        },
        mounted: function() {
            this.interval = setInterval(this.updateCurrentTime, 1000);
        },
        destroyed: function() {
            clearInterval(this.interval)
        },
        computed: {
            time: function() {
                return this.hours + ':' + this.minutes + ':' + this.seconds;
            },
            milliseconds: function() {
                return this.currentTime - this.$data.startTime;
            },
            hours: function() {
                let lapsed = this.milliseconds;
                let hrs = Math.floor((lapsed / 1000 / 60 / 60));
                return hrs >= 10 ? hrs : '0' + hrs;
            },
            minutes: function() {
                let lapsed = this.milliseconds;
                let min = Math.floor((lapsed / 1000 / 60) % 60);
                return min >= 10 ? min : '0' + min;
            },
            seconds: function() {
                let lapsed = this.milliseconds;
                let sec = Math.ceil((lapsed / 1000) % 60);
                return sec >= 10 ? sec : '0' + sec;
            }
        },
        methods: {
            reset: function() {
                this.$data.state = "started";
                this.$data.startTime = Date.now();
                this.$data.currentTime = Date.now();
            },
            pause: function() {
                this.$data.state = "paused";
                clearInterval(this.interval)
            },
            resume: function() {
                this.$data.state = "started";
                this.interval = setInterval(this.updateCurrentTime, 1000);
            },
            updateCurrentTime: function() {
                if (this.$data.state === "started") {
                    this.currentTime = Date.now();
                }
            }
        }
    }
</script>
