<template>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>
                                            <a @click.prevent="redirectBack()" href="#" class="profile-back"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                            POINTS LEADERBOARD
                                        </h1>
                                    </div>
                                    <div class="col-md-6 col-sm-12">

                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <table class="table table-striped table-bordered zero-configuration" id="leaderTable">
                                                <thead>
                                                <tr>
                                                    <th>Rank</th>
                                                    <th>User ID</th>
                                                    <th>Name</th>
                                                    <th>Points</th>
                                                    <th>Level</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(state, index) in users">
                                                    <td>{{ index+1 }}</td>
                                                    <td>{{ state.user.id }}</td>
                                                    <td>{{ state.user.name }}</td>
                                                    <td>{{ state.points }}</td>
                                                    <td>{{ state.level }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                users: {},
                datatable: undefined,
            }
        },
        mounted() {
            this.loadUsers();
        },
        methods: {
            loadUsers(){
                if(this.datatable !== undefined)
                    this.datatable.destroy();

                axios.get(`/users/leaderboard`)
                    .then(data => {
                        this.users = data.data;
                        setTimeout(() => {
                            this.datatable = $('#leaderTable').DataTable({ "ordering": false });
                        });
                    });
            },
        },
        destroyed() {
            if(this.datatable !== undefined)
                this.datatable.destroy();
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
