<template>

    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3">
                                <div class="row">
                                    <form class="col-lg-12" @submit.prevent="validate" enctype="multipart/form-data">
                                        <h1>
                                            <a href="#" @click.prevent="redirectBack" class="profile-back">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </a>{{ this.$route.params.id? 'Edit': 'Add New' }} Challenge
                                        </h1>

                                        <!--<stopwatch></stopwatch>-->

                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12" ref="image">
                                                <cropper :src="personalImage? personalImage: `${base_url}/images/Cost-trivia-Add-1_03.png`" @imageChanged="imageChanged($event)"></cropper>

                                                <input type="hidden" v-validate="'required'" v-model="personalImage" name="image">
                                                <span class="text-danger">{{ errors.first('image') }}</span>
                                                <!--<input type="file" id="upload" name="file">-->
                                                <!--<button name="file" type="button" class="upload-admin-img img-full" onclick="document.getElementById('upload').click()">
                                                    <img :src="challenge.image" class="img-full" :alt="challenge.title">
                                                </button>-->
                                            </div><!--cool end-->

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="admin-add-user-main add-merchanise-form-main">
                                                    <div class="mb-2">
                                                        <input type="text" v-validate="'required'" v-model="challenge.title" name="title" class="admin-chlng-fit-top-input" placeholder="Enter Title" />
                                                        <span class="text-danger">{{ errors.first('title') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <textarea  v-validate="'required'" v-model="challenge.description" name="description" class="admin-chlng-fit-top-txtara" placeholder="Enter Description"></textarea>
                                                        <span class="text-danger">{{ errors.first('description') }}</span>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" v-if="challenge.type === 'paid'">
                                                            <div class="mb-2">
                                                                <label>Fee</label>
                                                                <input type="number" v-validate="{required: challenge.type === 'paid', min_value: 1, numeric: true}" v-model="challenge.amount" name="fee" class="admin-chlng-fit-top-input" placeholder="Enter Fee">
                                                                <!--<span v-if="errors.has('fee')">{{ errors.first('fee') }}</span>-->
                                                                <span v-if="errors.has('fee')">The fee field must be numeric and must not contains zero</span>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                            <div class="mb-2">
                                                                <label>Total Time:</label>
                                                                <input type="text" v-validate="'required|numeric|min_value:1'" name="time" v-model="challenge.time" class="admin-chlng-fit-top-input" placeholder="5 Minutes">
                                                                <span v-if="errors.has('time')">{{ errors.first('time') }}</span>
                                                            </div>
                                                        </div>
                                                    </div><!--row end-->
                                                </div>
                                            </div><!--cool end-->
                                        </div><!--row end-->

                                        <h3 class="emply-chanlng-span text-left pb-1 pt-1">Questions List </h3>

                                        <div class="repeater-default">
                                            <div v-for="(question, index) in challenge.questions">
                                                <div>
                                                    <div class="d-flex justify-content-between mb-2">
                                                        <h2 class="phase2-details-span">Question: {{ index + 1 }}</h2>
                                                        <a class="remove-a" v-if="challenge.questions.length > 1" @click.prevent="removeQuestion(index)">
                                                            <i class="fa fa-trash"></i> Remove
                                                        </a>
                                                    </div>
                                                    <div class="mb-2">
                                                        <textarea class="admin-chlng-fit-top-txtara" v-validate="'required'" :name="`question${index}`" v-model="question.title" placeholder="Type Question Here"></textarea>
                                                        <span class="text-danger">{{ errors.has(`question${index}`) ? 'The question is required field': '' }}</span>
                                                    </div>
                                                    <div class="row skin  skin-flat">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="trivia-chlng-radio" v-for="(ans, ansIndex) in question.answers">
                                                                <fieldset>
                                                                    <input type="radio" v-validate="{ required: !question.correct_option }" v-model="ans.correct" :name="`${index}-correct-answer`"  style="position: absolute; opacity: 0;">

                                                                    <label @click="chooseAnswer(index, ansIndex)" :class="{ selected: ans.correct }"></label>
                                                                    <label>
                                                                        <span>{{ getAlpha(ansIndex) }}:</span>
                                                                    </label>
                                                                    <span class="text-danger">{{ errors.has(`${index}-correct-answer`)? "Correct answer field is required": "" }}</span>
                                                                    <!--<label :for="`input-radio-${ansIndex}`">
                                                                        <span>{{ getAlpha(ansIndex) }}:</span>
                                                                    </label>-->
                                                                    <input :id="`input-radio-${ansIndex}`" v-validate="`required|unique_option:${index}`" :name="`answer-${ansIndex}`" v-model="ans.title" type="text" class="edit-trvia"/>
                                                                    <!--<p>{{ // errors.has(`answer-${ansIndex}`)? errors.first(`answer-${ansIndex}`): "" }}</p>-->
                                                                    <p class="text-danger">{{ errors.has(`answer-${ansIndex}`)? 'The answer is required field': "" }}</p>
                                                                </fieldset>
                                                            </div>
                                                            <p class="close-chlng-view-rigtt-p2 pb-2"><span>Correct Answer: {{ question.correct_option }}</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-2 clearfix">
                                                <button type="button" class="cnt-btnn2 ml-0" @click="addQuestion" v-if="challenge.questions.length < 10">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add  New Question
                                                </button>
                                            </div>
                                        </div><!--repater en d-->
                                        <button type="submit" class="cnt-btnn">{{ challenge.id? "Update": "Create" }} Challenge </button>
                                    </form><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";
    import Stopwatch from "../../components/Stopwatch";

    export default {
        components: { Cropper, Stopwatch },
        data(){
            return {
                base_url: window.base_url,
                isLoading: false,
                "personalImage": "",
                challenge: {
                    "title": "",
                    "description": "",
                    "time": "",
                    "points": "",
                    "amount": 0,
                    "type": "paid",
                    "prize": "cash",
                    "prize_value": 0,
                    image: `${window.base_url}/images/Cost-trivia-Add-1_03.png`,
                    "questions": [
                        {
                            "title": "",
                            "correct_option": "D",
                            "answers": [
                                {
                                    "title": "",
                                    "correct": false
                                },
                                {
                                    "title": "",
                                    "correct": false
                                },
                                {
                                    "title": "",
                                    "correct": false
                                },
                                {
                                    "title": "",
                                    "correct": true
                                }
                            ]
                        }
                    ],
                },
            }
        },
        mounted() {
            this.addUniqueCustomValidation();
            this.challenge.type = this.$route.name.indexOf('cost') >= 0 ? 'paid': 'free';
            this.loadChallenge(this.$route.params.id);
        },
        methods: {
            loadChallenge(id){
                if(!id)
                    return;
                this.isLoading = true;
                axios.get(`/trivia/challenges/${id}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.isLoading = false;
                        this.personalImage = data.data.image;
                        this.challenge.questions.forEach((q, questionIndex) => q.answers.forEach((a, ansIndex) => a.correct ? this.chooseAnswer(questionIndex, ansIndex): null))
                    });
            },
            redirectBack() {
                window.history.back();
            },
            imageChanged(data){
                this.personalImage = data;
                this.challenge.image = data;
            },
            chooseAnswer(questionIndex, ansIndex){
                this.challenge.questions[questionIndex].answers.forEach((ans, i) => {
                    this.challenge.questions[questionIndex].answers[i].correct = i === ansIndex;
                });
                this.challenge.questions[questionIndex].correct_option = this.getAlpha(ansIndex);
            },
            getAlpha(index){
                switch (index) {
                    case 0:
                        return "A";
                    case 1:
                        return "B";
                    case 2:
                        return "C";
                    case 3:
                        return "D";
                }
            },
            removeQuestion(index){
                this.challenge.questions.splice(index, 1);
            },
            addQuestion(){
                this.challenge.questions.push({
                    "title": "",
                    "correct_option": "D",
                    "answers": [
                        {
                            "title": "",
                            "correct": false
                        },
                        {
                            "title": "",
                            "correct": false
                        },
                        {
                            "title": "",
                            "correct": false
                        },
                        {
                            "title": "",
                            "correct": true
                        }
                    ]
                })
            },
            validate(){
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$refs[this.errors.items[0].field].classList.add('error');
                        window.scrollTo(0, 0);
                        setTimeout(()=> {
                            this.$refs[this.errors.items[0].field].classList.remove('error');
                        }, 1000);
                        return;
                    }
                    this.save();
                });
            },
            save(){
                let id = this.$route.params.id || false;
                id = id? '/'+id: '';
                axios[id? 'put': 'post'](`/trivia/challenges${id}`, this.challenge).then(data => {
                    this.$toastr.success(id? 'Challenge has been updated': 'Challenge has been created!');
                    this.redirectBack();
                })
            },
            addUniqueCustomValidation(){
                this.$validator.extend('unique_option', {
                    getMessage: (field) => `The answer must be unique.`,
                    validate: (value, [questionId]) => {
                        const answers = this.challenge.questions[questionId].answers.filter(ans => ans.title.trim() === value.trim())
                        return answers.length === 1;
                    }
                })
            }
        },
        watch: {
            '$route.name' () {
                this.challenge.type = this.$route.name.indexOf('cost') >= 0 ? 'paid': 'free';
                // this.loadChallenge();
            }
        }
    }
</script>

<style>
    input[type=radio]+label {
        color: transparent;
        width: 20px;
        height: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        border: 4px solid #ccc;
        cursor: pointer;
        position: relative;
        margin-right: 15px;
        top: 15px;
        left: 5px;
    }
    input[type=radio]+label.selected {
        border: 4px solid #a40123;
    }
    input[type=radio]+label.selected:after {
        content: "";
        background:  #a40123;
        position:absolute;
        width: 5px;
        height: 5px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    .trvia-left-img { border-radius: 5px; }
    label.uplrd-img-btn i { padding-top: 7px; }
</style>
