<template>

    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">

                                    <div class="col-md-6 col-sm-12"><h1>{{ $route.meta.title }}</h1>

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <router-link :to="{ name: paidTrivia? 'trivia.challenges.cost.create': 'trivia.challenges.create'}" class="green-btn-project">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Challenge  </router-link>

                                        <router-link :to="{ name: 'settings', params: { module: 'trivia'}}" class="fit-setting-a">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </router-link>
                                    </div>


                                    <!--<div class="col-md-6 col-sm-12">
                                        <router-link :to="{name: 'challenges.create'}" class="green-btn-project">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add User
                                        </router-link>
                                        <a @click="blockedOnly=true" class="green-btn-project2" v-if="!blockedOnly">View Blocked User</a>
                                        <a @click="blockedOnly=false" class="green-btn-project2" v-if="blockedOnly">View Active User</a>
                                    </div>-->

                                    <ul class="nav nav-tabs nav-underline no-hover-bg mt-2">
                                        <li class="nav-item">
                                            <router-link :to="{ name: 'trivia.challenges.index' }" class="nav-link" :class="{ active: !paidTrivia }">Free Trivia challenges </router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link :to="{ name: 'trivia.challenges.cost.index' }" class="nav-link" :class="{ active: paidTrivia }">Cost Trivia challenges </router-link>
                                        </li>
                                    </ul>

                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="loadChallenges" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table v-if="challenges.data && challenges.data.length > 0" class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>
                                                            <tr>
                                                                <th>SN.o</th>
                                                                <th>Challenge</th>
                                                                <th>Total Questions</th>
                                                                <th>Points Per Question</th>
                                                                <th>Total Time</th>
                                                                <th v-if="paidTrivia">Fee</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr v-for="(challenge,index) in challenges.data"  :key="challenge.id">
                                                                <td>{{ index + 1 }}</td>
                                                                <td>{{ challenge.title }}</td>
                                                                <td>{{ challenge.questions_count }}</td>
                                                                <td>{{ challenge.points }}</td>
                                                                <td>{{ challenge.time }} mins</td>
                                                                <td v-if="paidTrivia">${{ challenge.amount }}</td>
                                                                <td>
                                                                    <div class="btn-group mr-1 mb-1">
                                                                        <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                            <router-link class="dropdown-item" :to="{ name: 'trivia.challenges.edit', params: { id: challenge.id } }">
                                                                                <i class="fa fa-pencil"></i>Edit
                                                                            </router-link>
                                                                            <router-link class="dropdown-item" :to="{ name: 'trivia.challenges.show', params: { id: challenge.id } }">
                                                                                <i class="fa fa-eye"></i>View
                                                                            </router-link>
                                                                            <a class="dropdown-item" href="#" @click.prevent="deleteChallenge(challenge.id)">
                                                                                <i class="fa fa-trash"></i>Delete
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <p class="text-center" v-else>No results found.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="challenges && challenges.meta && challenges.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ challenges.meta.from }} to {{ challenges.meta.to }} of {{ challenges.meta.total }} entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="challenges" @pagination-change-page="loadChallenges">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                challenges: {},
                per_page: 10,
                blockedOnly: false,
                search_term: '',
                sortKey: 'created_at',
                paidTrivia: true
            }
        },
        mounted() {
            this.paidTrivia = this.$route.name.indexOf('cost') >= 0;
            this.loadChallenges(1);
        },
        methods: {
            loadChallenges(page = 1){
                axios.get(`/trivia/challenges?paid=${this.paidTrivia? 1: 0}&status=${Number(!this.blockedOnly)}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.challenges = data.data;
                        this.isLoading = false;
                    });
            },

            deleteChallenge(id){
                this.$dialog.confirm("Are you sure you want delete this challenge?")
                    .then(dialog => {
                        axios.delete(`/trivia/challenges/${id}`).then(data => {
                            this.$toastr.success(data.data.message, 'Success');
                            this.loadChallenges();
                            dialog.close();
                        }).catch(e => dialog.close())
                    })
            },
        },
        watch: {
            'per_page' () {
                this.loadChallenges()
            },
            'blockedOnly' () {
                this.loadChallenges();
            },
            '$route.name' () {
                this.paidTrivia = this.$route.name.indexOf('cost') >= 0
                this.loadChallenges();
            }
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
