<template>

    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper" v-if="!isLoading">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>
                                            <a href="#" @click.prevent="redirectBack" class="profile-back">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </a>{{ challenge.type === 'paid'? "Cost ": "Free" }} Trivia challenges Detail
                                        </h1>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <img :src="challenge.image" class="img-full trvia-left-img" :alt="challenge.title">
                                            </div><!--cool end-->

                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="chlng-detail-top">

                                                    <div class="d-flex justify-content-between flex-lg-row flex-sm-column flex-md-column flex-column">
                                                        <h2>{{ challenge.title }}</h2>
                                                        <div>
                                                            <a class="remove-a display-inline-block" @click="deleteChallenge">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                            <router-link :to="{ name: 'trivia.challenges.edit', params: {id: challenge.id }}" class="remove-a display-inline-block">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </router-link>
                                                        </div>
                                                    </div>


                                                    <div class="mb-2">
                                                        <p>{{ challenge.description }}</p>
                                                    </div>

                                                    <div class="row align-items-center">
                                                        <div class="col-md-4 col-sm-12">
                                                            <div class="mb-1">
                                                                <p class="addvers-detail-user-p">Total Points:<span class="font-medium-4">{{ challenge.points * challenge.questions.length }}</span></p>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-4 col-sm-12">
                                                            <div class="mb-1">
                                                                <p class="addvers-detail-user-p">Points Per Question: <span class="font-medium-4">{{ challenge.points }}</span></p>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-4 col-sm-12" v-if="challenge.type === 'paid'">
                                                            <div class="mb-1">
                                                                <p class="addvers-detail-user-p">Fee:<span class="font-medium-4">$ {{ challenge.amount }}</span></p>
                                                            </div>

                                                        </div>
                                                    </div><!--row end-->
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-12">
                                                            <div class="mb-1">
                                                                <p class="addvers-detail-user-p">Total Questions:<span class="font-medium-4">{{ challenge.questions.length }}</span></p>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-4 col-sm-12">
                                                            <div class="mb-1">
                                                                <p class="addvers-detail-user-p">Total Time:<span class="font-medium-4">{{ challenge.time }} minutes</span></p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--cool end-->
                                        </div><!--row end-->

                                        <h3 class="emply-chanlng-span text-left pb-1">Questions List </h3>

                                        <div class="pb-0" v-for="(question, index) in challenge.questions" :class="{'border-top-1': index !== 0, 'border-top-gray': index !== 0 }">
                                            <div class="mb-2">

                                                <h3 class="question-trivia-span">Question:</h3>
                                            </div>
                                            <div class="mb-2 chlng-detail-top">
                                                <p>{{ question.title }}</p>
                                            </div>

                                            <div class="row skin  skin-flat">
                                                <div class="col-md-6 col-sm-12">

                                                    <div class="trivia-chlng-radio" v-for="(ans, ansIndex) in question.answers">
                                                        <fieldset>

                                                            <input type="radio" :checked="ans.correct"  style="position: absolute; opacity: 0;">
                                                            <label :class="{ selected: ans.correct }"></label>
                                                            <label><span>{{ getAlpha(ansIndex) }}:</span></label>
                                                            <label>   {{ ans.title }}</label>

                                                        </fieldset>
                                                    </div>

                                                </div>

                                            </div>
                                            <p class="close-chlng-view-rigtt-p2 pb-2"><span>Correct Answer: {{ getCorrectAns(index) }}</span></p>

                                        </div>


                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                challenge: {}
            }
        },
        mounted() {
            this.loadChallenge(this.$route.params.id);
        },
        methods: {
            loadChallenge(id){
                this.isLoading = true;
                axios.get(`/trivia/challenges/${id}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.isLoading = false;
                        this.personalImage = data.data.image;
                    });
            },
            redirectBack() {
                window.history.back();
            },
            deleteChallenge(){
                this.$dialog.confirm("Are you sure you want delete this challenge?")
                    .then(dialog => {
                        axios.delete(`/trivia/challenges/${this.challenge.id}`).then(data => {
                            this.$toastr.success(data.data.message, 'Success');
                            this.redirectBack();
                            dialog.close();
                        }).catch(e => dialog.close())
                    })
            },
            getCorrectAns(questionIndex){
                let index = 0;
                this.challenge.questions[questionIndex].answers.forEach((ans, i) => {
                    if(ans.correct)
                        index = i;
                });
                return this.getAlpha(index);
            },
            getAlpha(index){
                switch (index) {
                    case 0:
                        return "A";
                    case 1:
                        return "B";
                    case 2:
                        return "C";
                    case 3:
                        return "D";
                }
            },

        }
    }
</script>

<style>
    input[type=radio]+label {
        color: transparent;
        width: 20px;
        height: 20px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        border: 4px solid #ccc;
        position: relative;
        margin-right: 15px;
        top: 15px;
        left: 5px;
    }
    input[type=radio]+label.selected {
        border: 4px solid #a40123;
    }
    input[type=radio]+label.selected:after {
        content: "";
        background:  #a40123;
        position:absolute;
        width: 5px;
        height: 5px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
</style>
