<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Follow the Fit Path Challenges</h1>
<!--                                        <div class="row admin-chlng-fit-top">-->
<!--                                            <div class="col-md-2 col-sm-6 col-xs-12">-->
<!--                                                <label>Initiate Request </label>-->
<!--                                                <select class="admin-chlng-fit-top-input"><option>40</option></select>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-2 col-sm-6 col-xs-12">-->
<!--                                                <label>Challenge Videos</label>-->
<!--                                                <select class="admin-chlng-fit-top-input"><option>100</option></select>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-2 col-sm-6 col-xs-12">-->
<!--                                                <label>Accept Request</label>-->
<!--                                                <select class="admin-chlng-fit-top-input"><option>40</option></select>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-2 col-sm-6 col-xs-12">-->
<!--                                                <label>Reset Date</label>-->
<!--                                                <input type="date" class="admin-chlng-fit-top-input" />-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="admin-top-red-nav">

                                                    <ul>
                                                        <li><input type="radio" class="d-none" value="East" id="path-east" v-model="path"><label for="path-east">East Path</label></li>
                                                        <li><input type="radio" class="d-none" value="West" id="path-west" v-model="path"><label for="path-west">West Path</label></li>
                                                        <li><input type="radio" class="d-none" value="North" id="path-north" v-model="path"><label for="path-north">North Path</label></li>
                                                        <li><input type="radio" class="d-none" value="South" id="path-south" v-model="path"><label for="path-south">South Path</label></li>
                                                    </ul>
                                                </div><!--admin top red nav-->
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <h2 class="fit-top--h2">
                                                    <span>Total Challenges</span>
                                                    <template v-if="challenges.data">{{ challenges.meta.total }}</template>
                                                </h2>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <router-link :to="{name: 'challenges.create'}" class="green-btn-project">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Challenge
                                                </router-link>

                                                <router-link :to="{name: 'fit_to_path.create'}" class="green-btn-project2">Set level points</router-link>
                                                <router-link :to="{name: 'settings', params: { module: 'ftfp' }}" class="fit-setting-a">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </router-link>
<!--                                                <a href="#"  data-toggle="modal" data-target="#default2" class="green-btn-project2">Set level & Leverage points </a>-->
                                            </div>
                                        </div>

                                        <div class="admin-top-blue-nav">
                                            <ul>
                                                <li><input type="radio" class="d-none" value="1" id="level1" v-model="level"><label for="level1">Level 1</label></li>
                                                <li><input type="radio" class="d-none" value="2" id="level2" v-model="level"><label for="level2">Level 2</label></li>
                                                <li><input type="radio" class="d-none" value="3" id="level3" v-model="level"><label for="level3">Level 3</label></li>
                                                <li><input type="radio" class="d-none" value="4" id="level4" v-model="level"><label for="level4">Level 4</label></li>
                                                <li><input type="radio" class="d-none" value="5" id="level5" v-model="level"><label for="level5">Level 5</label></li>
                                                <li><input type="radio" class="d-none" value="6" id="level6" v-model="level"><label for="level6">Level 6</label></li>
                                                <li><input type="radio" class="d-none" value="7" id="level7" v-model="level"><label for="level7">Level 7</label></li>
                                                <li><input type="radio" class="d-none" value="8" id="level8" v-model="level"><label for="level8">Level 8</label></li>
                                                <li><input type="radio" class="d-none" value="9" id="level9" v-model="level"><label for="level9">Level 9</label></li>
                                                <li><input type="radio" class="d-none" value="10" id="level10" v-model="level"><label for="level10">Level 10</label></li>
                                            </ul>
                                        </div><!--admin top blue nav en d-->
                                        <div class="clearfix"></div>
                                    </div><!--row end-->

                                    <!--                                    <div class="col-md-6 col-sm-12">-->
<!--                                        <router-link :to="{name: 'challenges.create'}" class="green-btn-project">-->
<!--                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Challenge-->
<!--                                        </router-link>-->
<!--                                    </div>-->

<!--                                    <div class="row">-->
<!--                                        <div class="col-sm-12 col-md-6">-->
<!--                                            <div class="dataTables_length" id="DataTables_Table_0_length">-->
<!--                                                <label>Show-->
<!--                                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">-->
<!--                                                        <option value="10">10</option>-->
<!--                                                        <option value="25">25</option>-->
<!--                                                        <option value="50">50</option>-->
<!--                                                        <option value="100">100</option>-->
<!--                                                    </select> entries-->
<!--                                                </label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-sm-12 col-md-6">-->
<!--                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">-->
<!--                                                <label>Search:-->
<!--                                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">-->
<!--                                                </label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="maain-tabble table-responsive">

                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <table-length @lengthChanged="per_page = $event"></table-length>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                        <label>Search:
                                                            <input type="search" @input="loadChallenges" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <table v-if="challenges.data && challenges.data.length > 0" class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                        <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th>Challenge</th>
                                                            <th>Title</th>
                                                            <th>Exercise</th>
                                                            <th>Reward Points</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="(challenge, index) in challenges.data"  :key="challenge.id">
                                                                <td>{{ index+1 }}</td>
                                                                <td>{{ challenge.id }}</td>
                                                                <td>{{ challenge.title }}</td>
                                                                <td>{{ challenge.exercises.length }}</td>
                                                                <td>{{ challenge.reward_points }}</td>
                                                                <td>
                                                                    <div class="btn-group mr-1 mb-1">
                                                                        <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                            <router-link class="dropdown-item" :to="{ name: 'challenges.show', params: { id: challenge.id } }">
                                                                                <i class="fa fa-eye"></i>View
                                                                            </router-link>

                                                                            <router-link class="dropdown-item" :to="{ name: 'challenges.edit', params: { id: challenge.id } }">
                                                                                <i class="fa fa-pencil"></i>Edit
                                                                            </router-link>

                                                                            <a class="dropdown-item" @click.prevent="deleteChallenge(challenge.id)">
                                                                                <i class="fa fa-trash"></i>Delete
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="text-center" v-else>No results found.</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" v-if="challenges && challenges.meta && challenges.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                                        Showing {{ challenges.meta.from }} to {{ challenges.meta.to }} of {{ challenges.meta.total }} entries
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                        <pagination :data="challenges" @pagination-change-page="loadChallenges">
                                                            <span slot="prev-nav">&lt; Previous</span>
                                                            <span slot="next-nav">Next &gt;</span>
                                                        </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="user-profile-bottom-fftp" v-if="activeChallenges.length>0">
                                        <div class="row mb-3">
                                            <div class="col-md-7 col-sm-12 pt-3">
                                                <h2>Active Challenges</h2>
                                            </div>
                                            <div class="col-md-4 col-sm-12 dataTables_wrapper">
<!--                                                <div class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-2" v-for="challenge in activeChallenges">
                                                <div class="user-profile-btm-box">
                                                    <div class="top-head">
                                                        <h3>{{ challenge.challenge.title }} Challenge</h3>
                                                        <div class="d-flex flex-row align-items-center justify-content-between">
                                                            <div class="flex-column">
                                                                <img :src="challenge.sender.image" class="pro-img" :alt="challenge.sender.name">
                                                                <span>{{ challenge.sender.name }}</span>
                                                            </div>
                                                            <span>VS</span>
                                                            <div class="flex-column">
                                                                <img :src="challenge.recipient.image" class="pro-img" :alt="challenge.recipient.name">
                                                                <span>{{ challenge.recipient.name }}</span>
                                                            </div>
                                                        </div><!--d flex end-->
                                                    </div>
                                                    <span class="active-span">Active</span>
                                                    <div class="p-1">
                                                        <h4><span>Exercise</span> {{ challenge.challenge.exercises[0].title }} in 5 Minutes</h4>
                                                        <div class="d-flex text-center justify-content-around">
                                                            <span class="date-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ challenge.left_time }}</span>
                                                            <span class="date-time"><i class="fa fa-calendar" aria-hidden="true"></i> Date {{ challenge.created_date }}</span>
                                                        </div>
                                                    </div>
                                                </div><!--box end-->
                                            </div><!--col end-->
                                        </div><!--row end-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                path: 'East',
                level: '1',
                challenges: {},
                activeChallenges: [],
                per_page: 10,
                search_term: ''
            }
        },
        mounted() {
            this.loadChallenges();
            this.loadActiveChallenges();
            const path = window.localStorage.getItem('path');
            const level = window.localStorage.getItem('level');
            if(path)
                this.path = path;
            if(level)
                this.level = level;


        },
        methods: {
            lengthChanged(e){
                console.log(e);
            },
            loadChallenges(page = 1){
                this.isLoading = true;
                axios.get(`/challenges?page=${page}&path=${this.path}&level=${this.level}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.challenges = data.data;
                        this.isLoading = false;
                    }).catch(_ => console.log(_.response));
            },
            loadActiveChallenges(page = 1){
                this.isLoading = true;
                // axios.get(`/active-challenges?page=${page}&path=${this.path}&level=${this.level}`)
                //     .then(data => {
                //         this.activeChallenges = data.data;
                //         this.isLoading = false;
                //     }).catch(_ => this.isLoading = false);
            },
            deleteChallenge(id)
            {
                this.$dialog.confirm('Do you want to delete this challenge.?',{okText: 'Delete'})
                    .then(dialog => {
                        axios.delete(`/challenges/${id}`)
                            .then(data => {
                                this.loadChallenges();
                                this.$toastr.success('Challenge Deleted Successfully', 'Success', {});
                                dialog.close();
                            })
                    });
                // axios.delete().then()
            }
        },
        watch: {
            'path' () {
                if(this.path !== 'east'){
                    this.loadChallenges();
                    this.search_term = '';
                }
                window.localStorage.setItem('path', this.path);
            },
            'level' () {
                this.loadChallenges();
                this.search_term = '';
                window.localStorage.setItem('level', this.level);
            },
            'per_page' () {
                this.loadChallenges()
            }
        }
    }
</script>
<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
