<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts" v-if="!isLoading">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>
                                            <router-link :to="{name:'challenges.index'}"  class="profile-back">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                            </router-link> Challenges Details
                                        </h1>
                                        <div class="row" v-if="!user">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="admin-top-red-nav mt-0">
                                                    <ul>
                                                        <li :class="{active: challenge.path === 'East'}">
                                                            <a @click.prevent=""  href="#">East Path</a>
                                                        </li>
                                                        <li :class="{active: challenge.path === 'West'}">
                                                            <a @click.prevent=""  href="#">West Path </a>
                                                        </li>
                                                        <li :class="{active: challenge.path === 'North'}">
                                                            <a @click.prevent=""  href="#">North Path </a>
                                                        </li>
                                                        <li :class="{active: challenge.path === 'South'}">
                                                            <a @click.prevent="" href="#">South Path </a>
                                                        </li>
                                                    </ul>
                                                </div><!--admin top red nav-->
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <router-link :to="{name: 'challenges.create'}" class="green-btn-project">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Challenge
                                                </router-link>
                                                <router-link :to="{name: 'fit_to_path.create'}" class="green-btn-project2">Set level & Leverage points</router-link>
                                                <router-link :to="{name: 'settings'}" class="fit-setting-a">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </router-link>
                                            </div>


                                            <div class="admin-top-blue-nav">
                                                <ul>
                                                    <li :class="{active: challenge.level === 'Level 1'}"><a @click.prevent="" href="#">Level 1</a></li>
                                                    <li :class="{active: challenge.level === 'Level 2'}"><a @click.prevent="" href="#">Level 2</a></li>
                                                    <li :class="{active: challenge.level === 'Level 3'}"><a @click.prevent="" href="#">Level 3</a></li>
                                                    <li :class="{active: challenge.level === 'Level 4'}"><a @click.prevent="" href="#">Level 4</a></li>
                                                    <li :class="{active: challenge.level === 'Level 5'}"><a @click.prevent="" href="#">Level 5</a></li>
                                                    <li :class="{active: challenge.level === 'Level 6'}"><a @click.prevent="" href="#">Level 6</a></li>
                                                    <li :class="{active: challenge.level === 'Level 7'}"><a @click.prevent="" href="#">Level 7</a></li>
                                                    <li :class="{active: challenge.level === 'Level 8'}"><a @click.prevent="" href="#">Level 8</a></li>
                                                    <li :class="{active: challenge.level === 'Level 9'}"><a @click.prevent="" href="#">Level 9</a></li>
                                                    <li :class="{active: challenge.level === 'Level 10'}"><a @click.prevent="" href="#">Level 10</a></li>

                                                </ul>
                                            </div>
                                        </div>

                                        <div class="admin-user-profile-top" v-if="user">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-12 col-sm-12">
                                                    <div class="admin-user-profile-top-image-main">
                                                        <img :src="challenge.image" alt="" />
                                                        <h6>{{ user.name }}</h6>
                                                        <span>{{ user.email }}</span>
                                                    </div>
                                                </div><!--col left end-->
                                                <div class="col-lg-7 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Level</span>
                                                                <h5>{{ challenge.level.replace('Level ', '') }}</h5>
                                                            </div>
                                                        </div><!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Challenges</span>
                                                                <h5>09</h5>
                                                            </div>
                                                        </div><!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Total Points</span>
                                                                <h5>{{ challenge.reward_points }}</h5>
                                                            </div>
                                                        </div><!--col end-->
                                                        <div class="col-md-3 col-sm-12">
                                                            <div class="admin-user-profile-top-boxs">
                                                                <span>Votes</span>
                                                                <h5>{{ challengeRequest.votes.length }}</h5>
                                                            </div>
                                                        </div><!--col end-->
                                                    </div><!--row end-->
                                                </div><!--col end-->
                                                <div class="col-lg-2 col-md-12 col-sm-12">
                                                    <div class="admin-user-profile-top-boxs-logo">
                                                        <img :src="`${base_url}/images/User-Profile_03.png`" :alt="challenge.title" />
                                                        <h5 v-text="challenge.path + ' Path'"></h5>
                                                    </div>
                                                </div>
                                            </div><!--row end-->
                                        </div><!--admin-user-profile-top end-->
                                        <div class="admin-top-red-nav">
                                            <ul>
                                                <li>
                                                    <a href="#" @click.prevent="changeTab('details')">Details</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#" @click.prevent="changeTab('challenge')">Challenges</a>
                                                </li>
                                                <li>
                                                    <a href="#" @click.prevent="changeTab('friends')">Friends</a>
                                                </li>
                                            </ul>

                                            <router-link :to="{name : 'users.edit', params: {id: user.id}}" v-if="user" class="closed-span float-right">Edit</router-link>
                                            <!--<a class="closed-span float-right" href="#" @click.prevent="editingMode = true" v-if="!editingMode">Edit</a>-->
                                        </div>

                                        <div class="clearfix"></div>
                                        <h1>Challenge Detial</h1>
                                        <div class="row chlng-detail-top">
                                            <div class="col-lg-2 col-md-12 col-sm-12">
                                                <img :src="challenge.image" class="img-full" alt="">
                                            </div>
                                            <div class="col-lg-9 col-md-12 col-sm-12">
                                                <div class="d-flex justify-content-between pt-1">
                                                    <h2>{{ challenge.title }} <span>Posted: {{ challenge.created_at.substr(0, 10) }}</span></h2>

                                                    <router-link :to="{name : 'challenges.edit', params: {id: challenge.id}}" class="closed-span" v-if="!userId">
                                                        <span class="fa fa-edit"></span> Edit
                                                    </router-link>

                                                    <span v-if="challengeRequest && !user && statuses[challengeRequest.status]" class="closed-span">{{ statuses[challengeRequest.status] }}</span>

                                                </div>
                                                <p v-text="challenge.description" v-if="user"></p>
                                                <div class="row" v-if="!user">
                                                    <div class="col-md-6 col-xl-2 col-lg-4">
                                                        <div class="chalng-members-box box-shadow-1">
                                                            <div class="flex-row">
                                                                <p>Total Exercises</p>
                                                                <span>{{ challenge.exercises.length }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xl-2 col-lg-4">
                                                        <div class="chalng-members-box box-shadow-1">
                                                            <div class="flex-row">
                                                                <p>Reward Points</p>
                                                                <span>{{ challenge.reward_points }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-1 col-md-12 col-sm-12">
                                            </div><!--col end-->
                                        </div><!--row end-->
                                        <div class="row mt-2" v-if="user">
                                            <carousel :items="2" style="overflow: hidden; width: 100%" :nav="false">
                                                <div class="col" v-for="(exercise,index) in (user? challengeRequest.challenge.exercises: challenge.exercises)" :key="exercise.id">
                                                    <div class="chalng-details-box">
                                                        <img :src="exercise.image" :alt="exercise.title">
                                                        <div class="flex-column d-flex">
                                                            <h5 v-text="exercise.title"></h5>
                                                            <p v-text="exercise.description" style="margin: auto;"></p>
                                                            <div class="d-flex flex-row justify-content-between">
                                                                <h6 style="margin-bottom: 8px;">Sets: {{ exercise.sets }}</h6>
                                                                <div class="close-challenges-new-bottom-boxs-right fftp-card-icon-a" v-if="!user">
                                                                    <a @click="deleteExercise(index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                                    <router-link :to="{name: 'challenges.exercise.edit', params: {id: challenge.id, exerciseId: exercise.id}}">
                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                    </router-link>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--col end-->
                                            </carousel>
                                        </div>
                                        <div class="row mt-2" v-else="user">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" v-for="(exercise,index) in (user? challengeRequest.challenge.exercises: challenge.exercises)" :key="exercise.id">
                                                <div class="chalng-details-box">
                                                    <img :src="exercise.image" :alt="exercise.title">
                                                    <div class="flex-column d-flex">
                                                        <h5 v-text="exercise.title"></h5>
                                                        <p v-text="exercise.description" style="margin: auto;"></p>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <h6 style="margin-bottom: 8px;">Sets: {{ exercise.sets }}</h6>
                                                            <div class="close-challenges-new-bottom-boxs-right fftp-card-icon-a" v-if="!userId">
                                                                <a @click="deleteExercise(index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                                <router-link :to="{name: 'challenges.exercise.edit', params: {id: challenge.id, exerciseId: exercise.id}}">
                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                </router-link>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--col end-->
                                        </div>

                                        <polling-show v-if="userId && challengeRequest" :challenge-data="challengeRequest"></polling-show>

                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import PollingShow from '../polling-requests/ShowComponent';
    import carousel from 'vue-owl-carousel';

    export default {

        components: {
            PollingShow,
            carousel
        },
        data(){
            return {
                base_url: window.base_url,
                statuses: window.statuses,
                isLoading: true,
                challenge: {},
                user: null,
                userId: null,
                challengeRequest: null,
            }
        },
        mounted() {
            this.userId = this.$route.params.userId;
            this.getChallenge(this.$route.params.id);
            if(this.userId)
                this.getUser()
        },
        methods: {
            // get user if this is user challenge detail page
            getUser(){
                this.isLoading = true;
                axios.get(`/users/${this.$route.params.userId}`)
                    .then(({data}) => {
                        this.user = data;
                        this.isLoading = false;
                    });
            },
            getChallenge(id){
                this.isLoading = true;

                const shouldReturnFromRequest = this.userId? '?challengeRequest=yes':'';

                axios.get(`/challenges/${id}${shouldReturnFromRequest}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.isLoading = false;
                    });

                /*axios.get(`/challenges/${id}`)
                    .then(data => {
                        this.challenge = data.data;
                        this.isLoading = false;
                    });*/


                if(this.userId)
                {
                    axios.get(`/polling-requests/${this.$route.params.id}`)
                        .then(data => {
                            this.challengeRequest = data.data;
                            this.challengeRequest.challenge = JSON.parse(data.data.challenge);
                        });
                }
            },
            deleteExercise(index){

                this.$dialog.confirm('Do you want to delete this exercise.?',{okText: 'Proceed'})
                    .then(dialog => {
                        this.isLoading = true;
                        axios.delete(`/challenges/${this.challenge.id}/exercises/${this.challenge.exercises[index].id}`)
                            .then((data) => {
                                this.isLoading = false;
                                this.challenge.exercises.splice(index, 1);
                                this.$toastr.success('User status has changed', 'Success', {});
                                dialog.close();
                            })
                            .catch(e => {
                                this.isLoading = false;
                                dialog.close();
                                this.$toastr.error(e.response.statusText, 'Error');
                            })
                    });
            },
            changeTab(tab)
            {
                this.$router.push({name: 'users.show', params: {id: this.user.id, tab: tab}});
            },
        }
    }
</script>
<style>
    .owl-carousel .owl-item img {
        width: 172px;
    }
    .owl-theme .owl-dots .owl-dot span {
        background: #ee2c48;
        width: 13px;
        height: 13px;
        margin: 4px;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #ee2c48;
        opacity: 0.5;
    }
</style>
