<template>
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-default badge-warning badge-default badge-up" v-if="unread_notifications_count">{{ unread_notifications_count > 99? "99+": unread_notifications_count }}</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
            <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Notifications</span>
                    <span class="notification-tag badge badge-default badge-danger float-right m-0" v-if="unread_notifications_count>0">{{ unread_notifications_count > 99? "99+": unread_notifications_count }} New</span>
                </h6>
            </li>
            <li class="scrollable-container media-list ps-container ps-theme-dark ps-active-y" v-if="notifications" v-for="notification in notifications">
                <a @click.prevent="sendToNotification(notification)">
                    <div class="media">
                        <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                        <div class="media-body">
                            <h6 class="media-heading">{{ getTitle(notification) }}</h6>
                            <p class="notification-text font-small-3 text-muted">{{ notification.data.message }}</p>
                            <small>
                                <time class="media-meta text-muted">{{ notification.created_datetime }}</time>
<!--                                <timeago :datetime="notification.created_at"></timeago>-->
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li class="dropdown-menu-footer">
                <router-link class="dropdown-item text-muted text-center" :to="{ name: 'notifications.index' }">Show All</router-link>
            </li>
        </ul>
    </li>

</template>

<script>
    import io from 'socket.io-client';

    // const socket = io(`${process.env.NODE_ENV === 'production' ? process.env.MIX_PRODUCTION_DOMAIN: 'http://localhost'}:${process.env.NODE_ENV === 'production' ? process.env.MIX_PRODUCION_SOCKET_PORT: process.env.MIX_SOCKET_PORT}`);
    export default {
        data(){
            return {
                base_url: window.base_url,
                notificationsMeta: {},
                notifications: [],
                unread_notifications_count: 0
            }
        },
        mounted() {
            this.getNotifications();
            // socket.on('private-user-channel:App\\Events\\UserRegistered', (data)=>{
            //     this.getNotifications(1, true)
            // });
            // socket.on('private-user-channel:App\\Events\\FeedbackSubmitted', (data) => {
            //     this.getNotifications(1, true)
            // });

            setInterval(() => {
                this.getNotifications(1);
            }, process.env.NODE_ENV === 'production'? 5000: 50000);
        },
        methods: {
            getNotifications(page = 1, reset = false)
            {
                axios.get(`notifications/bell?page=${page}`)
                    .then(({data}) => {

                        /*if(reset)
                            this.notifications = data.notifications.data;
                        else
                            data.notifications.data.forEach(n => this.notifications.push(n));

                        this.notificationsMeta = data.notifications;
                        this.unread_notifications_count = data.unread_notifications_count*/

                        this.notifications = data.notifications;

                        this.notificationsMeta = data.notifications;
                        this.unread_notifications_count = data.unread_notifications_count
                    });
            },
            sendToNotification(notification)
            {
                axios.patch(`notifications/${notification.id}/read`)
                .then(data => {
                    this.unread_notifications_count--
                });

                switch(notification.type)
                {
                    case "App\\Notifications\\UserRegistered":
                        this.$router.push({'name': 'users.show', params: {'id': notification.data.user_id, 'tab': 'details'}});
                        break;
                    case "App\\Notifications\\FeedbackSubmitted":
                        this.$router.push({'name': 'feedback.show', params: { id: notification.notifiable_id }});
                        break;
                }
                this.notifications = this.notifications.filter(noti => noti.id !== notification.id)
            },
            getTitle(notification)
            {
                switch(notification.type)
                {
                    case "App\\Notifications\\UserRegistered":
                        return 'New Sign up';
                    case "App\\Notifications\\FeedbackSubmitted":
                        return 'New Feedback ';
                }
            },
            loadMore(){
                this.getNotifications( this.notificationsMeta.current_page + 1 );
            }
        }
    }
</script>
<style>
    ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right{
        max-height: 400px;
        overflow-y: auto;
    }
</style>
