<template>

    <div class="app-content content">
        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>
        <div class="content-wrapper" v-else="isLoading">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>{{ $route.meta.title }}</h1>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="loadNotification(1)" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>
                                                            <!--<th v-for="column in columns" :key="column.name" @click="sortBy(column.name)"
                                                                :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                                                style="width: 40%; cursor:pointer;">
                                                                {{column.label}}
                                                            </th>-->
                                                            <tr>
                                                                <th>S. No</th>
                                                                <th>Message</th>
                                                                <th>Type</th>
                                                                <th>Datetime</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr v-for="(notification,index) in notifications.data"  :key="notification.id" :class="{'unread' : notification.read_at === null}">
                                                                <td>{{ index + 1 }}</td>
                                                                <td @click="sendToNotification(notification)" style="cursor: pointer;">{{ notification.data.message.substr(0, 50) }}</td>
                                                                <td>{{ getTitle(notification) }}</td>
                                                                <td>{{ notification.created_datetime }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="notifications && notifications.meta && notifications.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ notifications.meta.from }} to {{ notifications.meta.to }} of {{ notifications.meta.total }} entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="notifications" @pagination-change-page="loadNotification">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                notifications: {},
                unread_notifications_count: 0,
                isLoading: true,
                per_page: 10,
                search_term: '',
            }
        },
        mounted() {
            this.loadNotification();
        },
        methods: {
            sendToNotification(notification)
            {
                axios.patch(`notifications/${notification.id}/read`)
                .then(data => {
                    this.unread_notifications_count--
                });

                switch(notification.type)
                {
                    case "App\\Notifications\\UserRegistered":
                        console.log(notification)
                        this.$router.push({'name': 'users.show', params: {'id': notification.data.user_id, 'tab': 'details'}});
                        break;
                    case "App\\Notifications\\FeedbackSubmitted":
                        console.log(notification)
                        this.$router.push({'name': 'feedback.show', params: { id: notification.data.feedback_id }});
                        break;
                }
                // this.notifications = this.notifications.filter(noti => noti.id !== notification.id)
            },
            getTitle(notification)
            {
                switch(notification.type)
                {
                    case "App\\Notifications\\UserRegistered":
                        return 'New Sign up';
                    case "App\\Notifications\\FeedbackSubmitted":
                        return 'New Feedback ';
                }
            },
            loadNotification(page=1){
                axios.get(`/notifications?page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(data => {
                        this.notifications = data.data;
                        this.isLoading = false;
                    });
            }
        }
    }
</script>
<style scoped>
    tr.unread{
        /*background-color: #eee !important;*/
    }
</style>
