@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import url("../../../resources/app-assets/css/vendors.css");
@import url("../../../resources/app-assets/vendors/css/forms/icheck/icheck.css");
@import url("../../../resources/app-assets/css/app.css");
@import url("../../../resources/app-assets/vendors/css/forms/icheck/custom.css");
@import url("../../../resources/app-assets/css/core/menu/menu-types/vertical-menu.css");
@import url("../../../resources/app-assets/css/plugins/extensions/toastr.min.css");
@import url("../../../resources/app-assets/css/pages/login-register.css");
@import url("../../../public/app-assets/css/style.css");
@import url("../../../resources/app-assets/vendors/css/tables/datatable/datatables.min.css");
@import url("../../../resources/app-assets/vendors/css/tables/datatable/datatables.min.css");


td button.btn.dropdown-toggle {
  padding: 5px 10px !important;
}

.admin-top-red-nav ul li input:checked + label {
  color: #fff !important;
  background: #ee2c48;
}
.admin-top-blue-nav ul li input:checked + label {
  color: #fff !important;
  background: #293492;
}
.admin-top-red-nav ul li label{
  color: #cccccc;
  font-size: 16px;
  margin: 0px;
  padding: 5px 30px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}
.admin-top-blue-nav ul li label{
  color: #cccccc;
  font-size: 16px;
  margin: 0px;
  padding: 5px 20px;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}

.loading-container .loading {
  background: none !important;
  box-shadow: none !important;
}

.loading-container .loading-backdrop {
  opacity: .75 !important;
  background-color: white !important;
}

.dg-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.dg-content-footer button {
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 9px 30px;
    color: #293492;
    border: 1px solid #293492;
    background: #fff;
    display: inline-block;
    margin: 15px 10px;
    border-radius: 25px;
    float: none !important;
}

.dg-content-footer {
    text-align: center;
}

.dg-main-content>div.dg-view-wrapper {
    padding: 10px 50px;
    text-align: center;
}

.dg-content-body {
    border: 0 !important;
    padding-bottom: 0 !important;
}

.dg-content {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

.dg-content-body:before {
    content: "";
    width: 125px;
    height: 77px;
    display: inline-block;
    background-image: url(../../images/delete-popup_03.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px auto;
}

.dg-main-content {
    border-radius: 20px !important;
}

.cropper-container.cropper-bg {
    background-image: none !important;
}

.admin-chlng-fit-top-txtara2{
    color: black;
}
.cnt-btnn:hover {
    background: #999;
    color: white;
    border-color: #999;
}

.user-profile-btm-box {
    min-height: 370px;
}

.user-profile-btm-box h4 {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td button.btn.dropdown-toggle {
    padding: 5px 2px !important;
}
.admin-chlng-setting .row span {
    color: #999999;
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
}
.admin-chlng-fit-top-txtara {
    color: #000;
}
@media (max-width: 767.98px) {
    nav .collapsing, .dropdown, .dropup {
        position: static;
    }
    .admin-chlng-setting .row {
        margin-bottom: 20px;
        text-align: center;
    }
    .admin-chlng-setting .row span {
        position: relative;
    }
}
input[readonly].flat-input {
    border: none;
}

.trvia-left-img {
    height: 350px;

}

.edit-trvia {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.admin-top-red-nav ul li label {
    width: auto;
    height: auto;
}
.dropdown .dropdown-menu .dropdown-item {
    font-family: 'Khand', sans-serif !important;
}
.dropdown-menu.dropdown-menu-right.show i {
    margin-top: -3px;
}

.error {
    background: rgba(255, 0, 0, 0.10196078431372549);
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:error;
    animation-name:error
}

.employ-top-boxs { margin-bottom: 30px; }
.closed-span { color: #fff !important; }

@-webkit-keyframes error{
    0%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    10%,20%{
        -webkit-transform:scale3d(.9,.9,.9) rotate(-3deg);
        transform:scale3d(.9,.9,.9) rotate(-3deg)
    }
    30%,50%,70%,90%{
        -webkit-transform:scale3d(1.1,1.1,1.1) rotate(3deg);
        transform:scale3d(1.1,1.1,1.1) rotate(3deg)
    }
    40%,60%,80%{
        -webkit-transform:scale3d(1.1,1.1,1.1) rotate(-3deg);
        transform:scale3d(1.1,1.1,1.1) rotate(-3deg)
    }
    to{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}
@keyframes error{
    0%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    10%,20%{
        -webkit-transform:scale3d(.9,.9,.9) rotate(-3deg);
        transform:scale3d(.9,.9,.9) rotate(-3deg)
    }
    30%,50%,70%,90%{
        -webkit-transform:scale3d(1.1,1.1,1.1) rotate(3deg);
        transform:scale3d(1.1,1.1,1.1) rotate(3deg)
    }
    40%,60%,80%{
        -webkit-transform:scale3d(1.1,1.1,1.1) rotate(-3deg);
        transform:scale3d(1.1,1.1,1.1) rotate(-3deg)
    }
    to{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}


@media (max-width: 991px) {
    .admin-user-profile-top-image-main {
        position: relative;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .admin-user-profile-top{
        margin-bottom: 40px;
    }
}

table{
    padding-right: 30px;
}
