<template>

    <div class="app-content content">
        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12"><h1 class="text-center">Feedback Details </h1></div>
                        <div class="col-md-3 col-sm-12"></div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card rounded p-3 feedback-detailss-main" v-if="feedback">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <a href="#" @click="deleteFeedback" class="feedback-delet"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            <div class="regi-profile-main feedback-img-top">
                                                <img :src="feedback.owner.image" :alt="feedback.owner.name" />
                                            </div>
                                            <h5 class="admin-profile-h5">{{ feedback.owner.name }} <span>{{ feedback.owner.email }}</span></h5>
                                            <div class="d-flex flex-lg-row flex-sm-column flex-column justify-content-around">
                                                <div class="flex-column">
                                                    <h6><i class="fa fa-file-text" aria-hidden="true"></i> Subject: </h6>
                                                    <p>{{ feedback.subject }}</p>
                                                </div>
                                                <div class="flex-column">
                                                    <h6><i class="fa fa-calendar" aria-hidden="true"></i> Date: </h6>
                                                    <p>{{ feedback.created_at.substr(0, 10) }}</p>
                                                </div>
                                                <div class="flex-column">
                                                    <h6><i class="fa fa-clock-o" aria-hidden="true"></i> Time: </h6>
                                                    <p>{{ feedback.created_at.substr(11) }}</p>
                                                </div>
                                            </div>
                                            <h6><i class="fa fa-file-text" aria-hidden="true"></i> description: </h6>
                                            <p>{{ feedback.message }}</p>
                                        </div><!--admin chlng popup-->
                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div><!--card end-->
                        </div>
                    </div><!--row end-->
                </div>
            </div>
        </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                feedback: undefined,
            }
        },
        mounted() {
            this.getFeedback(this.$route.params.id);
        },
        methods: {
            getFeedback(id){
                axios.get(`/feedback/${id}`)
                    .then(data => {
                        this.feedback = data.data;
                        this.isLoading = false;
                    });
            },
            deleteFeedback(){

                this.$dialog.confirm("Are you sure you want delete this feedback?")

                    .then(dialog => {
                        axios.delete(`/feedback/${this.feedback.id}`).then(data => {
                            this.$toastr.success(data.data.message, 'Success');
                            this.$router.push({name: 'feedback.index'});
                            dialog.close();
                        }).catch(e => dialog.close())
                    })
            }
        }
    }
</script>
