<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">
            <div class="content-body">
                <form id="combination-charts" @submit.prevent="validate()">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Set Level Points</h1>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="admin-top-red-nav">
                                                    <ul>
                                                        <li v-for="path in uniquePaths">
                                                            <input type="radio" class="d-none" :value="path" :id="`path-${path}`" @click="selectedPath=path" v-model="selectedPath">
                                                            <label :for="`path-${path}`" v-text="path"></label>
                                                        </li>
                                                    </ul>
                                                </div><!--admin top red nav-->
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
<!--                                            <div class="col-lg-10 col-md-10 col-sm-12">-->
<!--                                                <h3>Set Fit to Path Level Points</h3>-->
<!--                                            </div>&lt;!&ndash;col end&ndash;&gt;-->
                                        </div><!--row end-->
                                        <div class="row mb-2" v-for="(path, index) in paths" v-if="path.path === selectedPath">
                                            <div class="col-md-2 col-sm-12 offset-md-3">
                                                <label :for="`path-${path.id}-points`">Level: {{ path.level }}</label>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <input type="number" v-validate="{ required: true, numeric: true, min_value: index === 0? 1: parseInt(paths[index - 1].points) + 1}" :name="`Level ${path.level} points`" class="admin-chlng-fit-top-input" v-model="path.points" :id="`path-${path.id}-points`"/>
                                                <span>{{ errors.first(`Level ${path.level} points`) }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-12"></div>
                                            <div class="col-lg-10 col-md-10 col-sm-12">
                                                <div class="admin-add-user-main pt-0">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12">
                                                        </div><!--col end-->
                                                    </div><!--row end-->
                                                    <button type="submit" class="cnt-btnn2">Save</button>
                                                </div>
                                            </div><!--col end-->
                                        </div><!--row end-->
                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                base_url: window.base_url,
                isLoading: false,
                paths: [],
                uniquePaths: [],
                selectedPath: 'EAST'
            }
        },
        mounted() {
            this.getPaths();
        },
        methods: {
            getPaths(){
                this.isLoading = true;
                axios.get(`/fit-to-paths`)
                    .then(data => {
                        this.paths = data.data;
                        this.isLoading = false;

                        this.uniquePaths = [...new Set(this.paths.map(p => p.path))];

                    }).catch((e) => this.isLoading = false);
            },
            validate(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
            save(){
                this.isLoading = true;
                window.axios.post('/fit-to-paths', this.paths)
                    .then(data => {
                        this.isLoading = false;
                        this.$toastr.success('Points Settings saved', 'Success', {});
                    }).catch(e => {
                        this.isLoading = false;
                        // this.$toastr.error(e.response.data.message, 'Error', {});
                    });

            }
        }
    }
</script>
