<template>
    <div class="app-content content">

        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">

                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h1>Home</h1>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Users</span>
                                                                <h5>{{ data.total_users }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Employee-icon1.png`" alt="">
                                                        </div>
                                                    </div><!--col end-->
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex">
                                                        <div class="employ-top-boxs">
                                                            <div class="inner">
                                                                <span>Competitions</span>
                                                                <h5>{{ data.competitions_count }}</h5>
                                                            </div>
                                                            <img :src="`${base_url}/images/Employee-icon2.png`" alt="">
                                                        </div>
                                                    </div><!--col end-->
                                                </div><!--row end-->
                                                <div class="row align-items-center pt-5 pb-5">
                                                    <div class="col-md-6">
                                                        <span class="emply-chanlng-span">Competitions</span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" v-model="selectedYear" @change="changeYear">
                                                            <option v-for="year in allYears" :value="year">{{year}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="small" v-if="datacollection">
                                                            <line-chart :chart-data="datacollection" :options="options"></line-chart>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12"><span class="emply-chanlng-span">Months</span></div>
                                                </div><!--table end-->
                                            </div><!--left col end-->
                                        </div><!--main row end-->

                                        <div class="row mt-3">
                                            <div class="maain-tabble table-responsive">
                                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table v-if="challenges" class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                                <thead>
                                                                <tr>
                                                                    <th>S.no</th>
                                                                    <th>Challenge</th>
                                                                    <th>Type</th>
                                                                    <th>Phases</th>
                                                                    <th>Current Phase</th>
                                                                    <th>Start Date</th>
                                                                    <th>Users Joined</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr v-for="(challenge,index) in challenges"  :key="challenge.id">
                                                                    <td>{{ index + 1 }}</td>
                                                                    <td>{{ challenge.title }}</td>
                                                                    <td>{{ challenge.type | ucfirst }}</td>
                                                                    <td>{{ challenge.phases_count }}</td>
                                                                    <td>{{ challenge.current_phase }}</td>
                                                                    <td>{{ challenge.phases[0].started_at | date }} </td>
                                                                    <td>{{ challenge.subscribers_count }}</td>
                                                                    <td>{{ challenge.status | status }}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <p class="text-center" v-else>No results found.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--row end-->

                                    </div><!--col  end-->
                                </div><!--row end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import { Bar } from 'vue-chartjs'
    import LineChart from '@admin/components/UserStateChartComponent.js';

    export default {
        // extends: Bar,
        components: {
            LineChart
        },
        data(){
            return {
                datacollection: null,
                selectedYear: (new Date()).getFullYear(),
                base_url: window.base_url,
                isLoading: true,
                challenges: undefined,
                data: { available_years:[] },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            }
        },
        mounted() {
            axios.get('/')
                .then(data => {
                    this.data = data.data;
                    this.challenges = data.data.recent_challenges;
                    this.fillData(this.data.challenge_states);
                })

        },
        methods: {
            changeYear(){
            },
            fillData (datax) {
                let data = (datax);

                let datasets = [];

                let colors = {
                    ftft : '#ee2c48',
                    trivia : '#ff9f40',
                    fitness : '#293492',
                };
                let labels;
                for (let key in data)
                {
                    labels = data[key].map(month => month.name);
                    const values = data[key].map(month => month.value);
                    datasets.push({
                        label: key,
                        backgroundColor: colors[key] || '#ee2c48',
                        data: values
                    });
                }

                this.datacollection = {
                    labels: labels,
                    datasets: datasets
                    // datasets: [
                    //     {
                    //         label: 'Competitions',
                    //         backgroundColor: '#ee2c48',
                    //         data: values
                    //     }
                    // ]
                };
            },

            loadUserChartData(){
                axios.get(`/chart/${this.selectedYear}/states`).then(({data}) => {
                    this.fillData(data)
                })
            },

            ordinal_suffix_of(i) {
                const j = i % 10,
                    k = i % 100;
                let suffix = "th";
                if (j === 1 && k !== 11) {
                    suffix = "st";
                }
                if (j === 2 && k !== 12) {
                    suffix = "nd";
                }
                if (j === 3 && k !== 13) {
                    suffix =  "rd";
                }

                return suffix;
            }
        },
        computed: {
            allYears(){
                const year = (new Date()).getFullYear();
                const years = [];
                for(let i = year - 9; i <= year; i ++)
                {
                    years.push(i);
                }
                return years;
            }
        },
        watch: {
            'selectedYear' (){
                this.loadUserChartData();
            }
        }
    }
</script>

<style>
    .small {
        width: 100%;
        height: 400px;
    }
</style>
