<template>
    <div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true" v-if="shouldShow">
        <div class="main-menu-content ps-container ps-theme-dark ps-active-y" style="">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <li v-for="(item, index) in items" class="nav-item"
                    :class="{
                        hasSub : !! item.subItems.length,
                        open: (!!item.subItems.length)? item.path.indexOf(currentNav) >= 0 || item.isOpen: currentNav === item.path,
                        active: currentNav.indexOf(item.path) >= 0
                     }"
                    v-bind:key="index" @click="open(item)">
                    <router-link :to="item.subItems.length > 0? '': item.path" :class="{  }">
                        <i class="nav-icon fa " :class="item.icon"></i>
                        <span>{{item.name}}</span>
                    </router-link>
                    <ul v-if="item.subItems.length>0" class="menu-content">
                        <li class="nav-item" v-for="(subitem, idx) in item.subItems" v-bind:key="idx">
                            <router-link :to="subitem.path" class="menu-item" :class="{isShown: subitem.path === currentNav}">
                                {{ subitem.name }}
                            </router-link>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 274px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 258px;"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                shouldShow: true,
                base_url: window.base_url,
                currentNav: '/dashboard',
                items : [
                    { name: 'home', icon: 'fa-home', path: '/dashboard', subItems: [] },
                    { name: 'users', icon: 'fa-users', path: '/users', subItems: [] },
                    { name: 'challenges', icon: 'fa-th-large', path: '/challenges', isOpen: false, subItems: [
                            // { name: 'ftfp', path: '/challenges/ftfp', 'parent': 'challenges'},
                            // { name: 'Set Points', path: '/challenges/fit-to-path', 'parent': 'challenges'},
                            // { name: 'Trivia', path: '/challenges/trivia', 'parent': 'challenges'},
                            { name: 'Fitness', path: '/challenges/fitness/pending', 'parent': 'challenges'},
                        ]
                    },
                    { name: 'Polling Request', icon: 'fa-bar-chart', path: '/polling-requests', subItems: [] },
                ]
            }
        },
        mounted() {
            this.selectMenu();

            this.currentNav = this.$route.path;

            this.items.forEach(i => {
                if(this.currentNav.indexOf(i.path) >= 0 && i.subItems.length)
                    i.isOpen = true;
            });
            this.shouldShow = this.$route.name !== 'notfound';
        },
        methods: {

            selectMenu(){
            },

            isActive(menu)
            {
                if(this.currentNav !== '/' + menu.path)
                {
                    console.log(!!menu.subItems.map(sm => sm.parent === menu.path).length);
                    return !! menu.subItems.map(sm => sm.parent === menu.path).length;
                }
                return this.currentNav === '/' +  menu.path;
            },
            getClasses(menu, parent = true){
                let c = {
                    'has-sub': menu.subItems.length > 0,
                    'open': menu.isOpen
                };

                if(!parent)
                {
                    c['open'] = false;
                    return c;
                }

                menu.isOpen = true;
                return c;
            },
            open(menu)
            {
                this.items.forEach(m => m.isOpen = false);
                menu.isOpen = true;
            }
        },
        watch: {
            '$route.path' () {
                this.currentNav = this.$route.path;
                this.shouldShow = this.$route.name !== 'notfound';
            }
        }
    }
</script>
