<template>
    <div class="app-content content">

        <BlockUI v-if="isLoading" message="Loading..."><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></BlockUI>

        <div class="content-wrapper">

            <div class="content-body" v-if="user">
                <!-- Basic form layout section start -->
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-2 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="card rounded p-3 admin-overview-main">
                                        <div class="row">
                                            <div class="col-lg-12">

                                                <form @submit.prevent="save('edit')" class="admin-add-user-main" data-vv-scrope="edit">

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                                            <h1>
                                                                <a href="#" @click="redirectBack()" class="profile-back">
<!--                                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>-->
                                                                </a>{{ $isEmployee? "Employee" : "Admin" }} Profile
                                                            </h1>
                                                        </div>
                                                        <div class="col-lg-6 col-md-12 col-sm-12  mt-0">
                                                            <a href="#" @click="edit=true" class="green-btn-project text-uppercase" v-if="!edit">Edit</a>
                                                        </div>
                                                    </div>
                                                    <div class="regi-profile-main">
                                                        <img :src="user.image" alt="" v-if="!edit">
<!--                                                        <input type="file" id="upload" name="file" v-if="edit">-->
<!--                                                        <button name="file" class="uplrd-img-btn" v-if="edit" onclick="document.getElementById('upload').click()">-->
<!--                                                            <i class="fa fa-camera" aria-hidden="true"></i>-->
<!--                                                        </button>-->

                                                        <cropper
                                                            v-if="edit"
                                                            :src="personalImage? personalImage: `${base_url}/images/upload-img.jpg`"
                                                            @imageChanged="imageChanged($event)"
                                                        ></cropper>

                                                    </div>
                                                    <h5 class="admin-profile-h5">{{ user.name }} <span>{{ user.email }}</span></h5>
                                                    <h5 class="admin-profile-h6" v-if="$isEmployee">ID: #{{ user.id }}</h5>

                                                    <div class="mb-2" v-if="edit && $isEmployee">
                                                        <label>Name</label>
                                                        <input v-validate="'required'" name="name" v-model="user.name" class="admin-chlng-fit-top-input"/>
                                                        <span>{{ errors.first('name') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Phone</label>
                                                        <the-mask v-validate="'required'" :readonly="!edit" name="phone" :mask="'+1 (###) ###-####'" v-model="user.contact" class="admin-chlng-fit-top-input"/>
                                                        <span>{{ errors.first('phone') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Address </label>
                                                        <VueGooglePlaces
                                                            v-if="edit"
                                                            api-key="AIzaSyAHPUufTlBkF5NfBT3uhS9K4BbW2N-mkb4"
                                                            :enableGeolocation="true"
                                                            :enableGeocode="true"
                                                            version="3.36"
                                                            placeholder="Input your place"
                                                            @placechanged="onPlaceChanged"
                                                            @noresult="onNoResult"
                                                            v-model="user.address"
                                                            class="admin-chlng-fit-top-input"/>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-model="user.address" :readonly="!edit" v-if="!edit" />
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>City</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" name="city" v-validate="'required'" v-model="user.city" :readonly="!edit" />
                                                        <span>{{ errors.first('city') }}</span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label>Country</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" name="country" v-model="user.country" :readonly="!edit" />
                                                        <span>{{ errors.first('country') }}</span>
                                                    </div>
                                                    <div class="mb-2" v-if="$isEmployee">
                                                        <label>State</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" name="state" v-model="user.address_state" :readonly="!edit" />
                                                        <span>{{ errors.first('state') }}</span>
                                                    </div>
                                                    <div class="mb-2" v-if="$isEmployee">
                                                        <label>Zipcode</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-validate="'required'" v-model="user.postal_code" :readonly="!edit" />
                                                        <span>{{ errors.first('postal_code') }}</span>
                                                    </div>

                                                    <div class="mb-2" v-if="$isEmployee && !edit">
                                                        <label>Gender</label>
                                                        <input type="text" class="admin-chlng-fit-top-input" v-model="user.gender" readonly/>
                                                    </div>

                                                    <div class="mb-2" v-if="$isEmployee && edit">
                                                        <label><i class="fa fa-user" aria-hidden="true"></i> Gender: </label>
                                                        <select v-validate="`required`" v-model="user.gender" class="admin-chlng-fit-top-input" name="gender">
                                                            <option value="">Select Gender</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                        <span>{{ errors.first('gender') }}</span>
                                                    </div>

                                                    <a href="#" data-toggle="modal" data-target="#default2" class="change-pass-a" v-if="edit">Change Password</a>

                                                    <button class="cnt-btnn" type="submit" v-if="edit">Update</button>

                                                </form><!--admin chlng popup-->
                                            </div><!--col  end-->
                                        </div><!--row end-->
                                    </div><!--card end-->
                                    <!--admin-user-profile-top end-->
<!--                                            <router-link :to="{name : 'users.edit', params: {id: user.id}}" class="closed-span float-right">Edit</router-link>-->
                                </div>
                                <!--col  end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="modal fade text-left show" id="default2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
            <div class="modal-dialog user-block-confirm-popup-main" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="admin-add-user-main" @submit.prevent="changePassword('password')" data-vv-scope="password">
                            <h1>Change Password</h1>
                            <div class="mb-2">
                                <label>Current Password</label>
                                <input type="password" v-validate="'required'" name="current password" v-model="password.current_password" class="admin-chlng-fit-top-input" placeholder="Current Password" />
                                <span class="text-danger">{{ errors.first('current password') }}</span>
                            </div>
                            <div class="mb-2">
                                <label>New Password</label>
                                <input type="password" ref="password" v-validate="'required|min:8'" name="new password" v-model="password.password" class="admin-chlng-fit-top-input" placeholder="New Password" />
                                <span class="text-danger">{{ errors.first('new password') }}</span>
                            </div>
                            <div class="mb-2">
                                <label>Retype Password</label>
                                <input type="password" v-validate="'required|confirmed:password'" name="retype password" v-model="password.password_confirmation" class="admin-chlng-fit-top-input" placeholder="Retype Password" />
                                <span class="text-danger">{{ errors.first('retype password') }}</span>
                            </div>
                            <button class="cnt-btnn" type="submit">Save</button>
                        </form>
                    </div>
                    <!--invice modal end-->
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Cropper from '../../../compoments/CropperComponent';
    import {TheMask} from 'vue-the-mask';

    export default {
        components: {
            Cropper, TheMask
        },
        data(){
            return {
                starttime: new Date(),
                endtime: new Date(),
                base_url: window.base_url,
                isLoading: true,
                user: {},
                edit: false,
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                },
                personalImage: "",
                password: {

                }
            }
        },
        mounted() {
            if(this.$isEmployee)
                document.title = `Go Hard Finish Strong - Employee Profile`;
            this.getUser();
        },
        methods: {
            getUser(){
                this.isLoading = true;
                axios.get(`/user`)
                    .then(({data}) => {
                        this.user = data;
                        this.isLoading = false;
                        this.personalImage = data.image;
                    });
            },

            save(scope){
                this.$validator.validateAll(scope).then(result => {
                    if (!result)
                        return;

                    axios.put('user', this.user).then(data => {
                        this.isLoading = false;
                        this.edit = false;
                        document.querySelector('.avatar.avatar-online img').src = this.user.image;
                        this.$toastr.success('Profile has been updated successfully', 'Success', {});
                    }).catch(e => this.isLoading = false);
                });
            },

            onPlaceChanged(place) {
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'address_state',
                    country: 'country',
                    postal_code: 'postal_code'
                };

                for (var i = 0; i < place.place.address_components.length; i++) {
                    var addressType = place.place.address_components[i].types[0];

                    if (this.componentForm[addressType])
                        this.user[fields[addressType]] = place.place.address_components[i][this.componentForm[addressType]];
                }
            },

            imageChanged(data){
                this.personalImage = data;
                this.user.image = data;
            },

            onNoResult() {
                console.log('no result place');
            },

            changePassword(scope){
                this.$validator.validateAll(scope).then(result => {
                    if(!result)
                        return;

                    this.isLoading = true;
                    axios.put('user/password', this.password).then( data => {
                        this.isLoading = false;
                        this.edit = false;
                        this.$toastr.success('Your password has been changed successfully', 'Success', {});
                        $('#default2').modal('hide')
                    }).catch(e => {
                        this.$toastr.error(e.response.data.message, "Error", {})
                        this.isLoading = false;
                    });

                });
            },

            redirectTo(userId)
            {
                this.$router.push({ name: 'users.show', params: { id: userId, 'tab': 'details' } })
            },

            redirectToChallengePage(challengeId)
            {
                this.$router.push({ name: 'user.challenges.show', params: { id: challengeId, 'userId': this.user.id } })
            }
        }
    }
</script>

<style scoped>
    .modal-dialog {
        max-width: 800px !important;
        display: block !important;
    }
    .modal-dialog {
        padding: 30px !important;
    }
    h5.admin-profile-h6 {
        text-align: center;
        font-size: 24px;
        color: #ee2c48;
        font-weight: 600;
    }
</style>
