<template>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded p-3 admin-overview-main">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>{{ blockedOnly? 'BLOCK EMPLOYEES': 'EMPLOYEES LIST' }}</h1>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <router-link v-if="!blockedOnly" :to="{name: 'employees.create'}" class="green-btn-project">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Employee
                                        </router-link>
                                        <a @click="blockedOnly=true" v-if="!blockedOnly" class="green-btn-project2">View Blocked Employee</a>
                                        <a @click="blockedOnly=false" class="green-btn-project2" v-if="blockedOnly">View Active Employee</a>
                                    </div>
                                    <div class="col-lg-12">

                                        <div class="maain-tabble table-responsive">
                                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <table-length @lengthChanged="per_page = $event"></table-length>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                            <label>Search:
                                                                <input type="search" @input="validateAndSearch" name="search" v-validate="{regex: /^[_A-z0-9]*((-|\s)*[_A-z0-9])*$/}" v-model="search_term" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0">
                                                                <span v-if="errors.has('search')">Only alpha numeric characters is allowed.</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered zero-configuration dataTable no-footer" id="DataTables_Table_0">
                                                            <thead>

                                                            <tr>
                                                                <th>S.NO</th>
                                                                <th>Name</th>
                                                                <th>Email</th>
                                                                <th>Contact</th>
                                                                <th>Registered On</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-if="employees && employees.data.length > 0" v-for="(employee,index) in employees.data"  :key="employee.id">
                                                                    <td>{{ employee.id }}</td>
                                                                    <td>
                                                                        <router-link :to="{ name: 'employees.show', params: { id: employee.id, tab: 'details' } }">
                                                                            <img class="tab-img" :src="employee.image? `${employee.image}`: `https://ui-avatars.com/api/?rounded=true&background=20aaea&color=fff&name=${employee.name}`">
                                                                            {{ employee.name | limit(50) }}
                                                                        </router-link>
                                                                    </td>
                                                                    <td>{{ employee.email | limit(50) }}</td>
                                                                    <td>
                                                                        <the-mask readonly :mask="'+1 (###) ###-####'" v-model="employee.contact" class="flat-input"/>
                                                                    </td>
                                                                    <td>{{ employee.created_at | date }}</td>
                                                                    <td>{{ employee.status ? "Active" : "InActive"}}</td>
                                                                    <td>
                                                                        <div class="btn-group mr-1 mb-1">
                                                                            <button type="button" class="btn dropdown-toggle btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
                                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                <!--<router-link class="dropdown-item" :to="{ name: 'employees.edit', params: { id: employee.id } }">
                                                                                    <i class="fa fa-pencil"></i>Edit
                                                                                </router-link>-->
                                                                                <router-link class="dropdown-item" :to="{ name: 'employees.show', params: { id: employee.id, tab: 'details' } }">
                                                                                    <i class="fa fa-eye"></i>View
                                                                                </router-link>
                                                                                <a class="dropdown-item" href="#" @click.prevent="blockUser(index, employee.status ? 'block': 'unblock')">
                                                                                    <i class="fa fa-ban"></i>{{ !employee.status ? "UnBlocked User": "Block User" }}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr v-if="employees.data && !employees.data.length">
                                                                    <td colspan="7" class="text-center">No result Found!</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="dataTables_info" v-if="employees && employees.meta && employees.meta.from" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ employees.meta.from }} to {{ employees.meta.to }} of {{ employees.meta.total }} entries</div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                            <pagination :data="employees" @pagination-change-page="loadUsers">
                                                                <span slot="prev-nav">&lt; Previous</span>
                                                                <span slot="next-nav">Next &gt;</span>
                                                            </pagination>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import {TheMask} from 'vue-the-mask';

    export default {
        components: { TheMask },
        data(){
            return {
                base_url: window.base_url,
                isLoading: true,
                employees: {},
                per_page: 10,
                blockedOnly: false,
                search_term: '',
                sortKey: 'created_at',
                // sortOrders: sortOrders
            }
        },
        mounted() {
            this.loadUsers(1);
        },
        methods: {
            loadUsers(page = 1){
                axios.get(`/employees?status=${Number(!this.blockedOnly)}&page=${page}&per_page=${this.per_page}&search_term=${this.search_term}`)
                    .then(({data}) => this.employees = data);
            },
            blockUser(index, message) {
                this.$dialog.confirm('Are you sure you want to ' + message + ' this employee?',{ okText: 'Proceed' })
                    .then(dialog => {
                        const employee = this.employees.data[index];
                        axios.put(`/employees/${employee.id}/status`)
                            .then(({data}) => {
                                this.employees.data.splice(index, 1);
                                this.$toastr.success(data.message, 'Success', {});
                                dialog.close();
                            })
                            .catch(e => {
                                this.$toastr.error(e.response.statusText, 'Error');
                                dialog.close();
                            })
                    });

            },
            validateAndSearch(){
                this.$validator.validateAll().then(result => {
                    if(!result)  return;
                    this.loadUsers();
                });
            }
        },
        watch: {
            'per_page' () {
                this.loadUsers()
            },
            'blockedOnly' () {
                this.loadUsers();
            }
        }
    }
</script>

<style>
    table {
        width: 100%;
        border-spacing: 0 26px;
    }
</style>
