<template>
    <div class="app-content content" v-if="employee">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="combination-charts">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-3"></div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="card rounded p-3 admin-overview-main">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form @submit.prevent="validate" enctype="multipart/form-data">
                                                    <div class="admin-add-user-main">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-12 col-sm-12  mt-0">
                                                                <h1>
                                                                    <router-link :to="{name: 'employees.index'}">
                                                                        <i class="fa fa-angle-left" aria-hidden="true"></i> Employee Profile
                                                                    </router-link>
                                                                </h1>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12  mt-0">
                                                                <a href="#" v-if="!editing" @click.prevent="editing = true" class="green-btn-project text-uppercase">Edit</a>
                                                            </div>
                                                        </div>

                                                        <div class="regi-profile-main">
                                                            <cropper
                                                                v-if="editing"
                                                                :src="personalImage? personalImage: `${baseUrl}/images/upload-img.jpg`"
                                                                @imageChanged="imageChanged($event)"
                                                            ></cropper>
                                                            <img :src="employee.image" id="personal_img" :alt="employee.name" v-else>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Name *</label>
                                                            <input type="text" v-validate="'required'" :readonly="!editing" placeholder="Name" id="name" class="admin-chlng-fit-top-input" v-model="form.name" name="name">
                                                            <span>{{ errors.first('name') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Email Address *</label>
                                                            <input type="email" placeholder="Email Address" readonly v-validate="'required|email'" id="email" class="admin-chlng-fit-top-input" v-model="form.email" name="email">
                                                            <span>{{ errors.first('email') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Address</label>
                                                            <VueGooglePlaces
                                                                api-key="AIzaSyAHPUufTlBkF5NfBT3uhS9K4BbW2N-mkb4"
                                                                :enableGeolocation="false"
                                                                :enableGeocode="true"
                                                                v-model="form.address"
                                                                version="3.36"
                                                                placeholder="Input your place"
                                                                @placechanged="onPlaceChanged"
                                                                :disabled="!editing"
                                                                @noresult="onNoResult"
                                                                class="admin-chlng-fit-top-input">

                                                                <input type="text" v-validate="'required'" id="address" placeholder="Address" :disabled="!editing" class="admin-chlng-fit-top-input" v-model="form.address" name="address">

                                                            </VueGooglePlaces>
                                                            <span class="text-danger">{{ errors.first('address') }}</span>
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Country</label>
                                                            <input type="text" id="country" placeholder="Country" :readonly="!editing" class="admin-chlng-fit-top-input" v-model="form.country" name="country">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>State</label>
                                                            <input type="text" placeholder="State" :readonly="!editing" id="administrative_area_level_1" class="admin-chlng-fit-top-input" v-model="form.address_state" name="address_state">
                                                        </div>
                                                        <!--pro inner row end-->
                                                        <div class="mb-2">
                                                            <label>City </label>
                                                            <input type="text" id="locality" :readonly="!editing" placeholder="City" class="admin-chlng-fit-top-input" v-model="form.city" name="city">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Zip Code </label>
                                                            <input type="text" id="postal_code" :readonly="!editing" placeholder="Zipcode" class="admin-chlng-fit-top-input" v-model="form.postal_code" name="postal_code">
                                                        </div>
                                                        <div class="mb-2">
                                                            <label>Phone</label>
                                                            <the-mask :mask="'+1 (###) ###-####'" :masked="true" v-validate="`required|length:17`" :readonly="!editing" v-model="form.contact" class="admin-chlng-fit-top-input" name="phone" placeholder="+1 (xxx)-xxx-xxxx"/>
                                                            <span>{{ errors.first('phone') }}</span>
                                                        </div>

                                                        <div class="mb-2">
                                                            <label><i class="fa fa-user" aria-hidden="true"></i> Gender: </label>
                                                            <select v-validate="`required`" v-model="form.gender" class="admin-chlng-fit-top-input" name="gender">
                                                                <option value="">Select Gender</option>
                                                                <option value="1">Male</option>
                                                                <option value="2">Female</option>
                                                            </select>
                                                            <span>{{ errors.first('gender') }}</span>
                                                        </div>
                                                        <button type="submit" class="save cnt-btnn" v-if="editing">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Cropper from "../../../compoments/CropperComponent";
    import { TheMask } from "vue-the-mask";
    export default {
        components: {Cropper, TheMask},
        data(){
            return {
                employee: undefined,
                editing: false,
                personalImage: false,
                form: {
                    name:'',
                    email:'',
                    password:'',
                    image:'',
                    address:'',
                    password_confirmation:'',
                    city: '',
                    address_state: '',
                    country: '',
                    postal_code: '',
                    contact: '',
                    gender: ''
                },
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name',
                }
            }
        },
        mounted() {
            this.getEmployee();
        },
        methods: {
            getEmployee(){
                axios.get(`/employees/${this.$route.params.id}`)
                    .then(({data}) => {
                        this.employee = this.form = data;
                        this.personalImage = data.image;
                    });
            },
            update(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;

                    this.isLoading = true;
                    axios.put(`/users/${this.user.id}`, this.user).then(data => {
                        this.isLoading = false;
                        this.$toastr.success('User has been updated successfully', 'Success', {});
                        // this.$router.push({name: 'users.index'});
                        this.editingMode = false;
                    }).catch(e => this.isLoading = false);
                });
            },
            validate(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    this.save();
                });
            },
            save(){
                axios.put(`/employees/${this.$route.params.id}`, this.form)
                .then(({data}) => {
                    this.$toastr.success('Employee has been updated.', 'Success');
                    this.$router.push({name:"employees.index"})
                });
            },
            onPlaceChanged(place) {
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'address_state',
                    country: 'country',
                    postal_code: 'postal_code'
                };

                for (var i = 0; i < place.place.address_components.length; i++) {
                    var addressType = place.place.address_components[i].types[0];

                    if (this.componentForm[addressType])
                        this.form[fields[addressType]] = place.place.address_components[i][this.componentForm[addressType]];
                }
            },
            onNoResult() {
                console.log('no result place');
            },
            imageChanged(data){
                this.personalImage = data;
                this.form.image = data;
            },
        },
        computed: {

        },
        watch: {
        }
    }
</script>

<style scoped>
    .chalng-members-box {height: 100%;}
    input:disabled {background-color: transparent !important;}
    .admin-add-user-main .admin-chlng-fit-top-input.v-google-places {padding: 0;}
</style>
